<div class="isc-nav-bar-container"
     ng-controller="iscNavbarController as navbarCtrl">

  <!--logged in header-->
  <div class="isc-top-nav-container theme"
       ng-if="navbarCtrl.sessionModel.isAuthenticated()">

    <div class="left">

        <!-- menu hamburger -->
        <div class="isc-nav-item">
          <button class="isc-hamburger-icon"
                  ng-click="navCtrl.showSideNavbar()">
            <span ng-include="'svg/isc-hamburger-icon.html'"></span>
          </button>
        </div>


      <!--current section-->
      <h5 class="isc-section-title">{{navbarCtrl.sectionTranslationKey | translate}}</h5>
    </div>

    <div class="right">
      <!--proxy dd-->
      <div class="isc-nav-item">

        <label class="isc-nav-label" >{{'ISC_VIEWING' | translate}}:</label>

        <div class="isc-styled-select-navbar proxy">
          <select>
            <option>please select...</option>
            <option>Gladys Smith</option>
            <option>The Pops</option>
          </select>
        </div>
      </div>

    </div>

  </div>

  <!--logged out header-->
  <div class="isc-top-nav-container theme"
       ng-if="!navbarCtrl.sessionModel.isAuthenticated()">

    <div class="left">
      <!-- menu hamburger -->
      <div class="isc-hamburger-wrapper">
        <button class="isc-hamburger-icon"
                ng-click="navCtrl.showSideNavbar()">
          <span ng-include="'svg/isc-hamburger-icon.html'"></span>
        </button>
      </div>

    </div>

    <div class="right">
      <!-- logo -->
      <div class="isc-nav-item">
        <span class="isc-logo"
              ng-include="'svg/logo.html'"></span>
      </div>

      <!-- app name -->
      <div class="isc-app-name-container">
        <span class="isc-app-name-divider"></span>
        <span class="isc-app-name">{{'ISC_APP_NAME' | translate }}</span>
      </div>
    </div>


  </div>

</div>

