<!--top nav-->
<div class="top-nav"
     ng-controller="iscNavbarController as navbarCtrl">

  <div class="grid-block align-justify">

    <!--left-->
    <div class="grid-block small-5 medium-4 large-3">

      <div class="grid-block branding">
        <!--logo-->
        <div class="grid-block shrink">
          <div class="isc-logo" ng-include="'svg/logo.html'"></div>
        </div>

        <!--app name-->
        <div class="grid-block small-10 medium-8 large-10">
          <div class="app-name">{{'ISC_APP_NAME' | translate }}</div>
        </div>
      </div>

    </div>

    <!--right-->

    <!--div ng-if="navbarCtrl.sessionModel.isAuthenticated()"
            class="grid-block medium-5 large-9 align-justify"-->

    <!--Force visibility for now until authentication is functional-->
    <div class="grid-block medium-5 large-9 align-justify">

      <!--menu-bar-->
      <div class="grid-block align-right">
        <div class="grid-block shrink">
          <ul class="icon-left menu-bar medium-condense" ng-controller="iscNavbarController as navbarCtrl">
            <li><a href="#"><i class="fa fa-cog fa-fw"></i>Settings</a></li>
            <li><a href="#"><i class="fa fa-question-circle fa-fw"></i>Help</a></li>
            <li><a href="#"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<!--sub nav-->
<div class="sub-nav"
     ng-controller="iscNavbarController as navbarCtrl">

  <div class="menu-group">
    <div class="menu-group-left">
      <ul class="condense menu-bar">
        <li class="item"
             ng-repeat="tab in navbarCtrl.tabs | orderBy: navbarCtrl.iscUiHelper.displayOrder"
             ng-class="{'active': tab.$$active }"
             ng-if="!tab.exclude">
          <a ng-class="{'active': tab.$$active }"
             ng-click="navbarCtrl.setTabActive( tab )"
             ui-sref="{{tab.state}}">{{tab.translationKey | translate}}</a>
        </li>
      </ul>
    </div>

    <div class="menu-group-right">
      <ul class="condense menu-bar">
        <!--login-->
        <li class="item"
             ng-if="navbarCtrl.showLogin">
          <a class="isc-main-tab"
             ui-sref="index.login">{{'ISC_LOGIN' | translate}}</a>
        </li>

        <!--logout-->
        <li class="item"
             ng-if="navbarCtrl.showLogout">
          <a class=""
             ng-click="navbarCtrl.logout()">{{'ISC_LOGOUT' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>

</div>
