/*
  TYPOGRAPHY
  ----------

  Includes typographic styles for many common elements, and a few helper classes.
   - Body Copy
   - Headers
   - Labels
   - Lists
   - Horizontal Rule
   - Counter Badges
   - TODO - Icons
*/

html, body {
  font-size: $base-font-size;
}

/* Body Copy */
html, body, p, label {
  font-family: $body-font-family, "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  color: $body-font-color;
}


p {
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: $paragraph-margin-bottom;
  text-rendering: $paragraph-text-rendering;

  &.lead { @include lead; }

  &.error, &.alert {
    color: $alert-color;
  }

  &.success {
    color: $success-color;
  }

  &.inline, &.readonly {
    margin: 0;
    padding: 0.6rem 0;
    display: inline-block;
  }

  //Shows in lieu of empty data
  &.empty-message {
    font-size: 1.125rem;
    font-style: italic;
    margin: 1rem 0 2rem 0;
    color: palette(type, secondary);
  }
}

small {
  color: $subtext-color;
}

/* Links */
a {
  color: $anchor-font-color;
  text-decoration: $anchor-text-decoration;

  &.inline {
    padding: 0.6rem 0;
    display: inline-block;
  }
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
  color: $header-font-color;
  text-rendering: $header-text-rendering;
  margin-top: $header-top-margin;
  margin-bottom: $header-bottom-margin;
  line-height: $header-line-height;

  small {
    font-size: $small-font-size;
    color: $small-font-color;
  }
}


h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }


/* Headers */
h1 {font-weight: $font-weight-normal;}
h2 {font-weight: $font-weight-bold;}
h3 {font-weight: $font-weight-normal;}
h4 {font-weight: $font-weight-bold;}
h5 {font-weight: $font-weight-semi-bold;}
h6 {font-weight: $font-weight-bold;}

/* Labels */
label, .form-label {
  font-weight: $font-weight-bold;
  line-height: $paragraph-line-height;
  font-family: $body-font-family;
  display: inline-block;

  &.required {
    &:after {
      content: " * ";
      color: $alert-color;
    }
  }

  &.inline {
    margin: 0;
    padding: 0.6rem 0;
    display: inline-block;
  }

  &.right {
    float: none;
    text-align: right;
  }

  &.error, &.alert {
    color: $alert-color;
  }

  &.success {
    color: $success-color;
  }
}

.has-error {
  label {
    color: $alert-color;
  }
}

/* Lists */

ol{

  li {
    margin-left: $list-ordered-side-margin;
    margin-bottom: $list-margin-bottom;

    ol, ul {
      margin-top: $list-nested-margin;

      li {
        margin-bottom: $list-nested-margin;
      }
    }
  }
}

ul {
  li {
    margin-left: $list-side-margin;
    margin-bottom: $list-margin-bottom;

    &.no-indent {
      margin-left: 0;
    }

    ul, ol {
      margin-top: $list-nested-margin;

      li {
        margin-bottom: $list-nested-margin;
      }
    }
  }
}

/* Inline-Lists & Icon Lists */
.inline-list,
.icon-list {
  list-style-type: none;
  text-align: left;
  list-style: none;
  margin-top: 0.25rem;
  margin-right: 0;
  overflow: hidden;
  padding: 0;
}

.icon-list {
  margin-top: 0;
  margin-bottom: 0.94444rem;
  margin-left: 0;
}

.icon-list > li {
  display: block;
  float: left;
  list-style: none;
  margin-left: 1.125rem;
}

.icon-list > li > * {display: block;}

.inline-list {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: -1.125rem;
}

.inline-list > li {
  display: inline-block;
  list-style: none;
  margin-left: 1.125rem;
}

.inline-list > li > label {font-weight: $font-weight-semi-bold;}
.inline-list > li > * {display: inline-block;}

/* hr */
hr {margin-bottom: $hr-margin;}


/* Counter Badge */
.counter-badge {
  @extend %badge;

  @include badge-layout(
    $fontsize: 1rem
  );

  @include badge-style(
    $background: $badge-background,
    $color: isitlight($badge-background, $body-font-color, $light-text)
  );
  padding: 0.65rem;
  font-weight: $font-weight-semi-bold;
  border-radius: $global-radius;
  width: 1.5rem;
  height: 1.5rem;

  &.alert {
    @include badge-style(
      $background: $alert-color,
      $color: isitlight($alert-color, $body-font-color, $light-text)
    );
  }

  &.success {
    @include badge-style(
      $background: $success-color,
      $color: isitlight($success-color, $body-font-color, $light-text)
    );
  }

  &.warning {
    @include badge-style(
      $background: $warning-color,
      $color: isitlight($warning-color, $body-font-color, $light-text)
    );
  }

  &.info {
    @include badge-style(
      $background: $info-color,
      $color: isitlight($info-color, $body-font-color, $light-text)
    );
  }
}

/* Icon Colors */
i.fa {
  &.success {color: $success-color;}
  &.alert {color: $alert-color;}
  &.warning {color: $warning-color;}
  &.info {color: $info-color;}
  &.primary {color: $primary-color;}
  &.secondary {color: $secondary-color;}
}

.fa-li {
  line-height: $paragraph-line-height;
}
