/*
  BUTTONS
  ----------

  Includes basic style variations for a collection of commonly used button types.
   - Basic Buttons, size & color variations
   - Prefix, Postfix
   - Button Groups
*/

/* Button Settings */
$button-padding: 0.75em 1em !default;
$button-margin: 0 0 1rem 0 !default;
$button-style: solid !default;
$button-background: $primary-color !default;
$button-background-hover: scale-color($button-background, $lightness: -15%) !default;
$button-color: auto !default;
$button-radius: 3px !default;
$button-sizes: (
   tiny: 0.7,
   small: 0.8,
   medium: 1,
   large: 1.3,
 ) !default;
$button-font-size: 1rem !default;
$button-opacity-disabled: 0.5 !default;

/* Button Mixins */

button, a.button, input[type="submit"], input[type="button"] {

  &:not(.icon), &:not(.svg-icon) {
    font-weight: $font-weight-semi-bold;
    color: isitlight($button-background, $body-font-color, $light-text);

    &.secondary, &.success, &.warning, &.alert, &.info, &.dark, &.cancel {
      color: isitlight($button-background, $body-font-color, $light-text);

      &:hover, &:focus, &:active {
        color: isitlight($button-background, $body-font-color, $light-text);
      }
    }
  }

  &.cancel {

    @include button-style(
      $background: $button-cancel-background,
      $background-hover: auto, // generate dynamically
      $color: auto,
      $style: solid //solid or hollow
    );

    &.custom-disabled {
      @include button-disabled;
    }
  }

  .fa {
    vertical-align: middle;
    line-height: 1;
  }

  &:focus {
    outline: none;
  }
}


/* Submit Input Buttons */
input[type="submit"], input[type="button"] {
  @extend .button;
  &.custom-disabled {
    @include button-disabled;
  }
}


/* Prefixed/Postfixed Buttons */

.button, button {
  &.prefix {border-radius: $global-radius 0 0 $global-radius;}
  &.postfix {border-radius: 0 $global-radius $global-radius 0;}
}

.prefix {

  button, .button {
    margin: 0;
    border-radius: $global-radius 0 0 $global-radius;
    padding: 0.5em 0.75em;
    text-align: center;
  }
}

.postfix {

  button, .button {
    margin: 0;
    border-radius: 0 $global-radius $global-radius 0;
    padding: 0.5em 0.75em;
    text-align: center;
  }
}

/* Button Group */
.button-group {
  @extend %button-group;

  > li {
    flex: 0 0 auto;
    margin: 0;

    // Links become buttons
    #{$child-selectors} {
      @extend %button;
      border-radius: 0;
      font-size: inherit;
      display: block;
      margin: 0;
    }
    > input + label {
      margin: 0;
    }
    // Add borders between items
    &:not(:last-child) {
      #{$child-selectors} {
        border-right: 1px solid rgba(black, 0.21);
      }
    }
  }
}

/* Button Utilities  */

//Remove margin
button.flat, .button.flat, a.flat {margin: 0;}
