/* Allow Multi-Page Printing */
.grid-frame {
  @media #{$print}{
    height: 100%;
  }
}

.isc-app-content {
  height: 100%;
  flex: 1 1 auto;
}

/* Page Architecture */

/* Built-In Page Padding */
.isc-page {
  padding-top: $vertical-container-padding;
  padding-bottom: $vertical-container-padding;
  width: 100%;
  height: 100%;
  flex: 1 0 auto;

  @media #{$large} {
    padding-left: $horizontal-container-padding;
    padding-right: $horizontal-container-padding;
  }

  @media #{$xlarge} {
    padding-left: $horizontal-container-padding;
    padding-right: $horizontal-container-padding;
  }

  @media #{$xxlarge} {
    padding-left: $horizontal-container-padding;
    padding-right: $horizontal-container-padding;
  }

  @media #{$medium-down} {
    padding-left: $horizontal-container-padding-small;
    padding-right: $horizontal-container-padding-small;
  }

  @media #{$small} {
    padding-left: $horizontal-container-padding-small;
    padding-right: $horizontal-container-padding-small;
  }
}

#main {height: auto;}

/* Content Architecture */

// Section Blocks of page content
.section-block {
  @include grid-block;
  @include grid-size(expand);
  @include grid-orient(vertical);
  @include grid-wrap(false);
  @include grid-align(center);
  @include grid-order(0);
  padding: 1rem 0 0 0;
  margin-bottom: 2rem;
  overflow: visible;
  //overflow-y: inherit;
  display: -ms-flexbox;
  -ms-flex-flow: column nowrap;
  -ms-flex-align: stretch;

  &.top {
    padding-top: 0;
  }

  .title {
    margin-bottom: 2rem;
  }
}

.sub-section {
  padding-top: 2rem;
}

// Form Sections (Major)
.form-section {
  @include grid-block;
  @include grid-size(expand);
  @include grid-orient(vertical);
  @include grid-wrap(false);
  @include grid-align(center);
  @include grid-order(0);
  padding: 1rem 0 1 0;
  margin-bottom: 2rem;
  overflow: visible;
  overflow-y: visible;
  display: -ms-flexbox;
  -ms-flex-flow: column nowrap;
  -ms-flex-align: stretch;

  &.top {
    padding-top: 0;
  }
}

.grid-content .grid-block {
  margin-left: 0;
  margin-right: 0;
}
