/* Page Architecture */

.isc-page-content {
  padding: 3rem 3rem 0 3rem;
  overflow-x: hidden;
  //max-width: $container-width;
  margin: 0 auto;
  //border: 1px solid red;

  @media #{$tab-or-less} {
    padding: 3rem 1rem 0 1rem;
  }

  @media #{$tablet}{
    padding: 3rem 1rem 0 1rem;
  }

  @media #{$phablet}{
    padding: 3rem 1rem 0 1rem;
  }

  @media #{$phone}{
    padding: 3rem 1rem 0 1rem;
  }

}

/* Content Architecture */

// Blocks of page content
.section-block {
  @include grid-block;
  @include grid-size(expand);
  @include grid-orient(vertical);
  @include grid-wrap(false);
  @include grid-align(center);
  @include grid-order(0);
  padding: 1rem 0 0 0;
  margin-bottom: 2rem;
  overflow: visible;
  overflow-y: inherit;
  display: -ms-flexbox;
  -ms-flex-flow: column nowrap;
  -ms-flex-align: stretch;

  &.top {
    padding-top: 0;
  }

  .title {
    margin-bottom: 2rem;
  }
}

.content-block {
  @include grid-content;
  @include grid-size(expand);
  @include grid-orient(vertical);
  @include grid-wrap(false);
  @include grid-align(center);
  @include grid-order(0);
  padding: 1rem 0 0 0;
  margin-bottom: 2rem;
  overflow: visible;
  overflow-y: inherit;
  display: -ms-flexbox;
  -ms-flex-flow: column nowrap;
  -ms-flex-align: stretch;

  &.top {
    padding-top: 0;
  }
}

// Form Sections (Major)
.form-section {
  @include grid-block;
  @include grid-size(expand);
  @include grid-orient(vertical);
  @include grid-wrap(false);
  @include grid-align(center);
  @include grid-order(0);
  padding: 1rem 0 1 0;
  margin-bottom: 2rem;
  overflow: visible;
  overflow-y: inherit;
  display: -ms-flexbox;
  -ms-flex-flow: column nowrap;
  -ms-flex-align: stretch;

  &.top {
    padding-top: 0;
  }
}

.sub-section {
  padding-top: 1.5rem;
}

.grid-content .grid-block {
  margin-left: 0;
  margin-right: 0;
  //flex-wrap: inherit;
}
