/* HealthShare Angular UI Framework
  ----------------------------------
   - Utilities - These files deal with logic and should not output any css directly.
   - Global - Global Styles
   - Components - UI Components
   - Layout - Layout Templates
----------------------------------*/

/* Utilities */
@import "helpers/isc-variables"; // TODO - Deconstruct, remove bloat, create systematic app variables from scratch and theming POA
@import "helpers/isc-mixins"; // TODO - Deconstruct, remove bloat, create organized, useful mixins from scratch
@import "helpers/isc-utilities"; // TODO - Deconstruct and organize new utility classes here

/* Global */
@import "isc-global";

/* Components */
@import "components/isc-typography";
@import "components/isc-buttons";
@import "components/isc-icons";
@import "components/isc-tooltips";
@import "components/isc-typeahead";
@import "components/isc-pagination";
@import "components/isc-modals";
@import "components/isc-forms"; // TODO - Needs more work
@import "components/isc-ddp-forms"; // TODO - Merge DDP Form With isc-forms
@import "components/isc-tables";
@import "components/isc-primary-nav";
@import "components/isc-secondary-nav";
@import "components/isc-footer";
@import "components/isc-sidebar"; // TODO - Dynamic Menu Icons
@import "components/isc-widgets";

/* Layout */
@import "layout/isc-layout";
@import "layout/isc-404";
