// --------------------------------------
// secondary nav container
// --------------------------------------

.secondary-nav-wrapper{
  position: absolute !important;
  top: -1000 ;
  z-index: $modal-z-index;
  opacity:0;
  visibility: hidden;
}

.isc-secondary-nav-container {
  padding: 10px 10px;
  width: 100%;
  height: 100%;

  hr{
    margin-left: -10px;
    margin-right: -10px;
    height: 1px;
    border: none;
    color: $app-border-color;
    background-color: $app-border-color;
  }

  h1{
    padding-top: 15px;
    font-size: 13px;
    text-transform: uppercase;
    color: $brand-primary-dark;
    font-weight: 900;
    letter-spacing: .5px;

    height: 100%;
    width: 100%;
  }

  @media #{$desktop}{
    min-height: 400px;
    max-width: 300px;
    background-color: $brand-secondary;
    border: 1px solid $app-border-color;
  }

  @media #{$mobile}{
//    height: auto;
//    width: auto;
    background-color: transparent;
    border: none;
  }
}

// --------------------------------------
// secondary nav buttons
// --------------------------------------

.btn.secondary-nav {
  border-radius: 3px;
  background: none;
  color: $nav-link;
  font-weight: 400;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: $brand-secondary;
  border: 1px solid darken($brand-secondary, 20 );

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken( $nav-link, 20 );
    background-color: darken( $brand-secondary, 20 );
    border: 1px solid darken( $app-border-color, 12) !important;
  }
}

.isc-dropdown-toggle{
  &:focus {
    outline: 0;
  }

  max-width: 25px;
  min-width: 25px;
}

.dropdown-toggle:focus {
  outline: 0;
}

// --------------------------------------
// secondary nav items
// --------------------------------------

// Individual list items
// Use on `li`s or `div`s within the `.list-group` parent.

.isc-secondary-nav-item {
  position: relative;
  display: block;
  padding: 0;
  border: none !important;
  margin-top: 0px;
  text-decoration: none;

  &:first-child{
    margin-top: 20px;
  }

  // slide up so the borders overlap
  margin-bottom: -1px;
  background-color: $brand-secondary;
  border: 1px solid $app-border-color;

  @media #{$desktop}{
    padding: 10px 10px !important;
  }

  @media #{$mobile}{
    padding: 10px 20px !important;
  }

  // Disabled state
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: $gray-light;
    color: lighten($nav-link, 25 );
    cursor: $cursor-disabled;

    // Force color to inherit for custom content
    .list-group-item-heading {
      color: $nav-link;
    }
    .list-group-item-text {
      color: $gray-light;
    }
  }

  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $nav-link;
    font-weight: 600;
    background-color: $white;

    z-index: 20;

    border: 1px solid darken( $app-border-color, 12) !important;

    // Force color to inherit for custom content
    .side-nav-item-heading,
    .side-nav-item-heading > small,
    .side-nav-item-heading > .small {
      color: $brand-link;
    }
    .side-nav-item-text {
      color: $brand-link;
    }
  }
}

/**
should also apply to outbox, archived
**/
.isc-inbox-nav-item{
  @extend .isc-secondary-nav-item;
}

a.isc-inbox-nav-item{
  @extend a.isc-secondary-nav-item;

  // Hover state
  &.selected {
    text-decoration: none;
    color: darken( $nav-link, 20 );
    background-color: $white;
    border: 1px solid darken( $app-border-color, 12) !important;
    z-index: 10;
  }
}

a.isc-secondary-nav-item {
  color: $nav-link;
  font-weight: 400;
  text-align: left;
  z-index: 1;
  cursor: default;
  cursor: pointer;

  &:first-child{
    margin-top: 0 !important;
  }

  .side-nav-item-heading {
    color: $nav-link;
  }

  // Hover state
  &.dropdown-toggle,
  &.open,
  &.active,
  &:hover,
  &:focus {
    text-decoration: none;
    color: darken( $nav-link, 20 );
    background-color: $white;
    border: 1px solid darken( $app-border-color, 12) !important;
    z-index: 10;
  }
}

// --------------------------------------
// secondary nav mobile styles
// --------------------------------------


.isc-secondary-nav-close{
  @extend .isc-side-nav-close;
  position: relative;
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 0px;
}

.secondary-nav-mobile-container {
  min-height: 50%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: left;
  z-index: $modal-z-index;

  background-color: $brand-secondary ;
  border: 1px solid $app-border-color ;
}


.isc-secondary-nav-mobile-dropdown{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.isc-secondary-nav-link {
//  position:relative;
  display: inline-block;
  cursor: default;
  cursor: pointer;
  color: $brand-primary-dark;
  white-space: nowrap;
  width: 50px;
  font-size: 16px;

  &:hover{
    color: darken( $brand-primary-dark, 10 );
  }

  &:after{
    position:relative;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 20px;
    top: 2px;
    left: 0px;
    right: -20px;
    content: "ï„‡"; //&#xf107 unicode for fa-angle-down
  }
}

.isc-task-arrow{
  position: relative;
  top: 3px;
  fill: $brand-primary-dark;
}


.isc-task-arrow{
  position: relative;
  top: 3px;
  fill: $brand-primary-dark;
}


// ----------------------------------------
// Custom content options
// Extra classes for creating well-formatted content within `.list-group-item`s.
// ----------------------------------------

.side-nav-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.side-nav-item-text {
  text-align: left;
  margin-bottom: 0;
  line-height: 1.3;
}
