// --------------------------------------
// modal background
// --------------------------------------

.isc-modal-bkgrnd {
  position: absolute !important;
  top: -1000 ;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  opacity:0;
  visibility: hidden;

  margin-top: -20px !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;

  background-color: $sub-nav-background-color ;
  border: 1px solid $sub-nav-border-color ;
}

.isc-secondary-nav-close{
  @extend .isc-side-nav-close;
  padding-top: 10px !important;
  padding-right: 10px !important;
  margin-bottom: 20px;
}
