


// container for all the nav
.isc-nav-bar-container{
  @include  flex();
  @include  flex-direction( column );
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  @media #{$desktop} {
    height: $app-top-nav-height-desktop;
    max-height: $app-top-nav-height-desktop;
  }

  @media #{$tablet} {
    height: $app-top-nav-height-tablet;
    max-height: $app-top-nav-height-tablet;
  }

  @media #{$phone} {
    height: $app-top-nav-height-phone;
    max-height: $app-top-nav-height-phone;
  }
}

// container for header and tabs
.isc-top-nav-container{
  @include  flex();
  @include  flex-type( 3 );
  @include  flex-box-align( space-between );
  @include  flex-direction( row );
  @include  box-sizing( border-box );
  @include flex-wrap( nowrap );
  order: 1;

  width: 100%;

  @media #{$desktop} {
    height: $app-top-nav-height-desktop;
  }

  @media #{$tablet} {
    height: $app-top-nav-height-tablet;
  }

  @media #{$phone} {
    height: $app-top-nav-height-phone;
  }

  .left{
    @include  flex();
    @include flex-justify-content( flex-start );
    margin-right: 0;

    @media #{$tab-plus} {
      @include  isc-nav-section-flex( 1, 3 );
      margin-left: $isc-gutter;
    }

    @media #{$phab-or-less} {
      @include  isc-nav-section-flex( 1, 1 );
      margin-left: $isc-gutter-sm;
    }
  }

  .right{
    @include  flex();
    @include flex-justify-content( flex-end );
    margin-left: 0;

    @media #{$tab-plus} {
      @include  isc-nav-section-flex( 1, 5 );
      margin-right: $isc-gutter;
    }

    @media #{$phablet} {
      @include  isc-nav-section-flex( 1, 2 );
      margin-right: $isc-gutter-sm;
    }

    @media #{$phone} {
      @include  isc-nav-section-flex( 1, 2 );
      margin-right: 0;
    }

  }
}

// tabs
// container for tabs
.isc-sub-nav-container{
  @include  flex();
  @include  flex-type( 1 );
  order: 2;

  width: 100%;
  max-height: $app-sub-nav-height;
  height: $app-sub-nav-height;
  background-color: $brand-secondary;
  border: 1px solid $app-border-color;
}


// container for header
.isc-nav-item{
  clear: both;
  @include  flex();
  align-self: center;
  margin: 0 !important;
  min-height: 18px;
  @include max-width-content;

  &.right{
    padding-left: $isc-nav-item-spacing;
  }

  &.left{
    padding-right: $isc-nav-item-spacing;
  }
}

// container for the app name and divider (desktop)
.isc-app-name-container{
  margin-top: -10px;
  padding-left: 7px;
  padding-top: 0px;
  margin-left: 0 !important;
  display: inline-block;
  vertical-align: middle;
}

.isc-app-name{
  font-size: 18px;
  color: #f5f5f5;
  font-weight: bolder;
  padding-top: 3px;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.isc-app-name-divider{
  padding-right: 10px;
  font-size: 30px;
  color: #f5f5f5;
  font-weight: 100;
  opacity: .5;
}

.isc-tabpanel{
  position: absolute;
  height: $app-sub-nav-height;
  bottom: 0;
  padding-left: 20px;
}

.isc-info-btn-mobile {
  background: url("../assets/images/info-bkgrnd.png");
  background-size: cover;
  width: 31px;
  float: right;

  @media #{$tablet} {
    height: $app-header-height-tablet;
    max-height: $app-header-height-tablet;
  }

  @media #{$phone}  {
    height: $app-header-height-phone;
    max-height: $app-header-height-phone;
  }
}

// vertical line that spans the height of the header
.isc-section-divider{
  border-right: 1px solid $white;
  width: 10px;
  max-width: 2px;

  @media #{$desktop} {
    height: $app-top-nav-height-desktop;
    max-height: $app-top-nav-height-desktop;
  }

  @media #{$tablet} {
    height: $app-header-height-tablet;
    max-height: $app-header-height-tablet;
  }

  @media #{$phone} {
    height: $app-header-height-phone;
    max-height: $app-header-height-phone;
  }
}

// hamburger button
.isc-hamburger{
  @extend .isc-image-button;
  max-width: 20px;
}

// login button
.isc-login{
  @extend .isc-image-button;
  max-width: 70px;
}

// info button for phone
.isc-info-btn-phone{
  margin-left: 10px !important;
  margin-right: 5px !important;
  max-width: 20px;
}

// header logo
.isc-logo {
  font: 0/0 a !important;
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
  width: auto;

  fill: $logo-color;

  @media #{$desktop} {
    margin-top: -10px;
    height: $navbar-logo-height;
  }

  @media #{$tablet} {
    height: $navbar-logo-height-sm;
  }

  @media #{$phone}  {
    height: $navbar-logo-height-sm;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  > img {
    display: inline-block;
  }
}

.logo-svg{
  width: 250px;
  fill: $logo-color;
  border: 1px solid transparent;
  margin-top: 7px;
}


// general styles for nav text
.isc-nav-text{
  color: white;
  font-weight: 600;
  font-size: $nav-font-size;
}

// page title that appears in the header
.isc-section-title{
  @extend .isc-nav-text;
  font-size: $nav-section-title-size;
  white-space: nowrap;
}

// labels that appear in the header
.isc-nav-label{
  @extend .isc-nav-text;
  letter-spacing: 0;
  max-width: 50px;
  padding-left:  $isc-nav-item-spacing/2;
  padding-right:  $isc-nav-item-spacing/2;
  text-transform: uppercase;
}








