
.isc-footer-link-container{
  @include  flex();
  @include  flex-type( 1 );
  @include  flex-box-align( stretch );
  @include  flex-direction( row );
  @include  box-sizing( border-box );
  justify-content: space-between;
  height: 100%;
//  border: 1px solid #00ff6c;

  .left,
  .right {
    @include  flex-direction( row );
    justify-content: flex-end;
  }

  .left{
//    border: 1px solid red;
    @include  flex();
    justify-content: center;

    @media #{$desk-tab} {
      margin-left: $isc-gutter;
    }

    @media #{$phone} {
      margin-left: $isc-gutter-sm;
    }
  }

  .right{
    @include  flex();
    justify-content: flex-end;

    @media #{$desk-tab} {
      margin-right: $isc-gutter;
    }

    @media #{$phone} {
      margin-right: $isc-gutter-sm;
    }
  }
}

.isc-footer-link{
  color: $nav-link;
  font-size: 11px;
  text-decoration: none;

  font-weight: bolder;
  padding-left: 8px;
  padding-right: 8px;

  &:hover{
    color: darken( $nav-link, 20 );
  }
}


.isc-footer-text{
  color: $nav-text;
  font-size: 11px;

  font-weight: normal;
  padding-left: 8px;
  padding-right: 8px;
}
