// --------------------------------------
// secondary nav container
// --------------------------------------

.secondary-nav-wrapper{
  position: absolute !important;
  top: -1000 ;
  z-index: 100001;
  opacity:0;
  visibility: hidden;
}

.isc-secondary-nav-container {
  padding: 10px 10px;
  width: auto;

  @media #{$desktop}{
    min-height: 400px;
    max-width: 300px;
    background-color: $sub-nav-background-color;
    border: 1px solid $sub-nav-border-color;
  }

  @media #{$mobile}{
    height: auto;
    width: auto;
    background-color: transparent;
    border: none;
  }
}

// --------------------------------------
// secondary nav buttons
// --------------------------------------

.btn.secondary-nav {
  border-radius: 3px;
  background: none;
  color: $nav-link;
  font-weight: 400;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: $sub-nav-background-color;
  border: 1px solid darken($sub-nav-background-color, 20 );

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken( $nav-link, 20 );
    background-color: darken( $sub-nav-background-color, 20 );
    border: 1px solid darken( $sub-nav-border-color, 12) !important;
  }
}

.isc-dropdown-toggle{
  &:focus {
    outline: 0;
  }

  max-width: 25px;
  min-width: 25px;
}

.dropdown-toggle:focus {
  outline: 0;
}

// --------------------------------------
// secondary nav items
// --------------------------------------

// Individual list items
// Use on `li`s or `div`s within the `.list-group` parent.

.isc-secondary-nav-item {
  position: relative;
  display: block;
  padding: 0;
  z-index: 10;

  &:first-child{
    margin-top: 20px;
  }

  // slide up so the borders overlap
  margin-bottom: -1px;
  background-color: $sub-nav-background-color;
  border: 1px solid $sub-nav-border-color;

  @media #{$desktop}{
    padding: 10px 10px !important;
  }

  @media #{$mobile}{
    padding: 10px 20px !important;
  }
}

.isc-secondary-nav-item {
  border: none !important;
  margin-top: 0px;
  text-decoration: none;

  // Disabled state
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: $gray-light;
    color: lighten($nav-link, 25 );
    cursor: $cursor-disabled;

    // Force color to inherit for custom content
    .list-group-item-heading {
      color: $nav-link;
    }
    .list-group-item-text {
      color: $gray-light;
    }
  }

  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $nav-link;
    font-weight: 600;
    background-color: $white;

    z-index: 20;

    border: 1px solid darken( $sub-nav-border-color, 12) !important;

    // Force color to inherit for custom content
    .side-nav-item-heading,
    .side-nav-item-heading > small,
    .side-nav-item-heading > .small {
      color: $brand-link;
    }
    .side-nav-item-text {
      color: $brand-link;
    }
  }
}

a.isc-secondary-nav-item {
  color: $nav-link;
  font-weight: 400;
  text-align: left;

  &:first-child{
    margin-top: 0 !important;
  }

  .side-nav-item-heading {
    color: $nav-link;
  }

  // Hover state
  &.dropdown-toggle,
  &.open,
  &.active,
  &:hover,
  &:focus {
    text-decoration: none;
    color: darken( $nav-link, 20 );
    background-color: $white;
    border: 1px solid darken( $sub-nav-border-color, 12) !important;
  }
}

// --------------------------------------
// secondary nav mobile styles
// --------------------------------------

.isc-secondary-nav-close{
  @extend .isc-side-nav-close;
  position: relative;
  display: inline-block;
}

.secondary-nav-mobile-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: left;

  background-color: $sub-nav-background-color ;
  border: 1px solid $sub-nav-border-color ;
}

.isc-secondary-nav-mobile-dropdown {
  position:relative;
  cursor: default;
  cursor: pointer;
  color: $brand-primary;
//  background: green;

  .name{
    font-size: 18px;
  }

  &:hover{
    color: darken( $brand-primary, 25 );
  }
}

.isc-secondary-nav-mobile-dropdown:after {
  position:relative;
  font-family: FontAwesome;
  font-size: 20px;
  top: 2px;
  left: 0px;
  right: -20px;
  content: "ï„‡"; //&#xf107 unicode for fa-angle-down
}



// ----------------------------------------
// Custom content options
// Extra classes for creating well-formatted content within `.list-group-item`s.
// ----------------------------------------

.side-nav-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.side-nav-item-text {
  text-align: left;
  margin-bottom: 0;
  line-height: 1.3;
}
