// --------------------------------------------------
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Media queries breakpoints
// --------------------------------------------------



// Extra small screen
$screen-xs-min:              0px !default;

// Small screen / phone
$screen-sm-min:              480px !default;

// Medium screen / phablet
$screen-ph-min:              640px !default;

  // Medium screen / tablet
$screen-md-min:              960px !default;

// Large screen / desktop
$screen-lg-min:              1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


$screen-phone-min:   480px !default;
$screen-phablet-min: 640px !default;
$screen-tablet-min:  960px !default;
$screen-desktop-min: 1200px !default;

$screen-phone-max:   ($screen-phablet-min - 1) !default;
$screen-phablet-max: ($screen-tablet-min - 1) !default;
$screen-tablet-max:  ($screen-desktop-min - 1) !default;


//
// usage:
//
//  @media #{$desktop} {
//    background: red;
//  }
//

//$media-phone:    "only screen and (max-width: #{$screen-phone-max})";
//$media-phablet:  "only screen and (min-width: #{$screen-phablet-min}) and (max-width: #{$screen-phablet-max})";
//$media-tablet:   "only screen and (min-width: #{$screen-tablet-min}) and (max-width: #{$screen-tablet-max})";
//$media-desktop:  "only screen and (min-width: #{$screen-desktop-min})";
//
//// everything but desktop
//$media-mobile:  "only screen and (max-width: #{$screen-tablet-max})";
//
//// tablet or bigger
//$media-desk-tab:   "only screen and (min-width: #{$screen-tablet-min})";
//
//// below tablet
//$media-desk-tab:   "only screen and (max-width: #{$screen-phablet-max})";
//
////  phablet or bigger
//$media-phab-or-more:   "only screen and (min-width: #{$screen-phablet-min})";
//
//// below phablet
//$media-below-phab:   "only screen and (max-width: #{$screen-phone-max})";


$phone:     "only screen and (max-width: #{$screen-phone-max})";
$phablet:   "only screen and (min-width: #{$screen-phablet-min}) and (max-width: #{$screen-phablet-max})";
$tablet:    "only screen and (min-width: #{$screen-tablet-min}) and (max-width: #{$screen-tablet-max})";
$desktop:   "only screen and (min-width: #{$screen-desktop-min})";

// tablet or bigger
$tab-plus:  "only screen and (min-width: #{$screen-tablet-min})";

// tablet or less
$tab-or-less:  "only screen and (max-width: #{$screen-tablet-max})";

// everything but desktop
$mobile:    "only screen and (max-width: #{$screen-tablet-max})";

// phablet or larger
$phab-plus: "only screen and (min-width: #{$screen-phablet-min})";

// below phab size
$below-phab: "only screen and (max-width: #{$screen-phone-max})";

// phab size or below
$phab-or-less: "only screen and (max-width: #{$screen-phablet-max})";


// --------------------------------------------------
// colors
// --------------------------------------------------

// -------------------------
// Grays

$black:              #000 !default;
$gray-darker:            lighten($black, 13.5%) !default; // #222
$gray-dark:              lighten($black, 20%) !default;   // #333
$gray:                   lighten($black, 33.5%) !default; // #555
$gray-light:             lighten($black, 46.7%) !default; // #777
$gray-lighter:           lighten($black, 93.5%) !default; // #eee
$white-smoke:            lighten($black, 96%) !default; // #?
$white:                  lighten($black, 100%) !default; // #fff

// -------------------------
// brand colors

//--------------------------------------------
//SOLID DARK
//--------------------------------------------
//$brand-primary:         #5e4db7 !default;
//$brand-primary-dark:    $brand-primary !default;
//$brand-success:         #5cb85c !default;
//$brand-info:            #58656a !default;
//$brand-warning:         #f7f7c5 !default;
//$brand-danger:          #d9534f !default;
//$brand-link:            #ca4000 !default;
//$logo-color: $white;
//
//$brand-page-title-color: $brand-primary;
//$brand-page-subtitle-color: $gray-dark;
//
//$nav-link:        #628080 !default;
//$nav-text:        #fdfbff !default;
//$button-primary:        $brand-primary !default;
//$button-primary-disabled: #bfddd7 !default;
//
//$brand-secondary: #f5f5f5;
//$app-border-color: darken( $brand-secondary, 30 );
//
//$tr-bkgrnd-light: $brand-secondary;
//$tr-bkgrnd-dark: $white;


// --------------------------------------------
// SOLID LIGHT
// --------------------------------------------
//$brand-primary:         #b2e5dc !default;
//$brand-primary-dark:    #25a992 !default;
//$brand-success:         #5cb85c !default;
//$brand-info:            #58656a !default;
//$brand-warning:         #f7f7c5 !default;
//$brand-danger:          #d9534f !default;
//$brand-link:            #ca4000 !default;
//$logo-color: darken( $brand-primary-dark, 10 );
//
//$nav-link:        #628080 !default;
//$nav-text:        #090408 !default;
//$button-primary:        $brand-primary-dark !default;
//$button-primary-disabled: #bfddd7 !default;
//
//$brand-page-title-color: $brand-primary-dark;
//$brand-page-subtitle-color: $gray-dark;
//
//$brand-secondary: #f5f5f5;
//$app-border-color: darken( $brand-secondary, 30 );
//
//$tr-bkgrnd-light: $brand-secondary;
//$tr-bkgrnd-dark: $white;


// --------------------------------------------
// THEME SKY
// --------------------------------------------
$brand-primary:         #019aba !default;
$brand-primary-dark:    #017fa0 !default;
$brand-secondary:       #f5f1e6;
$brand-success:         #5cb85c !default;
$brand-info:            #58656a !default;
$brand-warning:         #f7f7c5 !default;
$brand-danger:          #d9534f !default;
$brand-link: #de750c !default;
$logo-color: $white;

$nav-link:                   #5c7b7d !default;
$nav-text:                   #000400 !default;
$button-primary:             $brand-primary !default;
$button-primary-disabled: #bfddd7 !default;

$brand-page-title-color: $brand-primary;
$brand-page-subtitle-color: $gray-dark;

$app-border-color: #dfe0db;

$tr-bkgrnd-dark: lighten( $brand-secondary, 5 );
$tr-bkgrnd-light: $white;


// --------------------------------------------------
// application
// --------------------------------------------------

$zindex-app: 1;
$modal-z-index: 2147483647;

$isc-gutter: 50px;
$isc-gutter-sm: 20px;

//** Disabled cursor for form controls and buttons.
$cursor-disabled: not-allowed !default;

//** Global text color on `<body>`.
$text-color:            $gray-dark !default;
$body-font-size: 12px;
$header-font-size: 16px;
$subheader-font-size: 14px;

$table-th-size: 14px;
$table-td-size: $body-font-size;

// -------------------------
// nav bar

$isc-nav-item-spacing: 15px;

$isc-side-nav-desktop-width: 285px;
$isc-side-nav-media-width: 350px;
$isc-side-nav-media-height: 350px;
$isc-side-nav-width: $isc-side-nav-media-width;
$isc-side-nav-height: $isc-side-nav-media-height;

//total header height
$app-top-nav-height-desktop: 150px;
$app-top-nav-height-tablet: 68px;
$app-top-nav-height-phone: 45px;

// branded section height
$app-header-height-desktop: 105px;
$app-header-height-tablet: $app-top-nav-height-tablet;
$app-header-height-phone: $app-top-nav-height-phone;


$app-top-nav-logo-height: 100px;
$app-top-nav-logo-height-sm: 45px;
$app-top-nav-logo-width-sidebar: 230px;

$app-sub-nav-height: $app-top-nav-height-desktop/4;

// -------------------------
// footer

$app-footer-height:      54px;
$app-footer-height-sm:   30px;

// -------------------------
// buttons
$isc-button-font-size: $body-font-size;
$isc-button-font-weight: 700;
$isc-button-height: 45px;

// -------------------------
// general

$form-input-height: 22px;

$nav-font-size: 10px;
$nav-section-title-size: 16px;

$nav-select-width: 160px;
$nav-select-height: 45px;

$navbar-logo-height: 45px;
$navbar-logo-height-sm: 25px;




