
	<div class="isc-dropdown isc-dd"
       id="{{dropId}}-main">

    <!--captures the click events-->
		<div class="isc-drop-click isc-dd"
         ng-click="showHideItems(dropId,event)">&nbsp;</div>

    <!--the main dd button-->
		<div  class="isc-dropdown-btn isc-clickable isc-dd"
          id="{{dropId}}-block">

			<div class="isc-dropdown-item {{dropId}}-btn isc-dd"
           id="{{dropId}}-btn">
        <span ng-if="dropIcon" class="{{dropIcon}} isc-dd"></span>{{dropTitle | translate}}
      </div>

			<div ng-repeat="item in listData"
           id="{{dropId}}-list"
           ng-click="selectItem(item[listField])"
           class="isc-dropdown-item {{dropId}}-btn isc-dd" >{{item[listField] | translate}}
        <span class="{{dropIcon}} isc-dd"></span>
      </div>

		</div>

    <!-- down chevron icon-->
    <div class="isc-drop-icon isc-dd"
         id="{{dropId}}-icon"><span ng-include="'common/svg/isc-chevron-down.html'"></span>

		</div>

	</div>

