# Created by http://www.gitignore.io

# bower and node
node_modules
src/app/bower_components/
src/common/bower_components/
src/components/foundation/base/bower_components/
npm-debug.log

#local config for each developer
/gulp/dev.json

#script for deploy
isc-tools/local.sh
isc-tools/localize/

# bogus language for testing
/src/app/assets/i18n/es-es.json

### intellj ###
.idea/
*.iml

### phonegap/cordova dist folder ###
www/
.tmp-css/
platforms/
plugins/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder

Temporary Items
.apdisk
.tmp/

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


### Linux ###
*~

# KDE directory preferences
.directory


### TextMate ###
*.tmproj
*.tmproject
tmtags


### SublimeText ###
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

#sftp configuration file
sftp-config.json


### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
coverage/
isc-tools/
