.DS_store
.tmp-css
.yo-rc.json
.idea/modules.xml
.tmp-css

.idea/
bower_components/
node_modules/
www/
platforms/
docs/
NG/
REG/
ngdocs/

#local config for each developer
src/app/assets/configuration/localConfig.json
