<div class="isc-page">
  <h1 class="only-desktop"
      ng-if="!navCtrl.sessionModel.isAuthenticated()">{{::'v' | translate}}</h1>
  <h1 class="only-desktop"
      ng-if="navCtrl.sessionModel.isAuthenticated()">{{navCtrl.sessionModel.getFullName()}}'s
    {{'ISC_MESSAGES_REQUEST_APPOINTMENT_TITLE' | translate}}</h1>


  <div ng-show="!mraCtrl.isFormComplete">

    {{mraCtrl.data.steps[mraCtrl.selectedIndex].name | translate}}


    <div  ng-repeat="directive in mraCtrl.data.steps[mraCtrl.selectedIndex].directives"
          bind-directive="directive.name" >

    </div>

  </div>

  <div ng-if="mraCtrl.isFormComplete">

    {{"ISC_MESSAGES_REQUEST_APPOINTMENT_CONFIRM" | translate}}


    <div ng-repeat="step in mraCtrl.data.steps">

      {{step.name | translate}}

      <fieldset ng-disabled="mraCtrl.isFormComplete">
        <div  ng-repeat="directive in step.directives"
              bind-directive="directive.name" state="{{directive.complete}}">

        </div>

      </fieldset>

    </div>

    <input type="checkbox" ng-model="mraCtrl.formAccepted">   {{"ISC_MESSAGES_REQUEST_APPOINTMENT_ACCEPT" | translate}}

    <br>
    <button ng-disabled="!mraCtrl.formAccepted" ng-click="mraCtrl.submitForm()"> {{"ISC_MESSAGES_REQUEST_APPOINTMENT_SEND" | translate}}</button>

  </div>


  <br/>

  <div ng-show="!mraCtrl.isFormComplete">
    <button ng-show="mraCtrl.selectedIndex!=0" ng-click="mraCtrl.previous()">{{"ISC_MESSAGES_REQUEST_APPOINTMENT_PREVIOUS" | translate}}</button>


    <button ng-show="mraCtrl.selectedIndex!=mraCtrl.data.steps.length-1" ng-click="mraCtrl.next()">{{"ISC_MESSAGES_REQUEST_APPOINTMENT_NEXT" | translate}}</button>


    <button ng-show="mraCtrl.selectedIndex==mraCtrl.data.steps.length-1" ng-click="mraCtrl.done()">{{"ISC_MESSAGES_REQUEST_APPOINTMENT_DONE" | translate}}</button>
  </div>
</div>


