<div class="isc-page">
  <h1 class="only-desktop"
      ng-if="!navCtrl.sessionModel.isAuthenticated()">{{'ISC_MESSAGES_ARCHIVED_OUTBOX_TITLE' | translate}}</h1>
  <h1 class="only-desktop"
      ng-if="navCtrl.sessionModel.isAuthenticated()">{{navCtrl.sessionModel.getFullName()}}'s {{'ISC_MESSAGES_ARCHIVED_OUTBOX_TITLE' | translate}}</h1>

  <div isc-messages-emergency-warning
       close-warning="mssgCtrl.closeEmergencyWarning()"
       show-emergency-warning="mssgCtrl.showEmergencyWarning"
       ng-class="{'show-warning' : mssgCtrl.showEmergencyWarning}"></div>

  <div ng-include="'messages/iscMessagesOutboxes.html'"></div>
</div>
