/*
  FORMS
  -----

  Base Form Architecture and basic styles for standard input fields, and our custom form components.

  Includes:
   - Base form architecture
   - Textual inputs: text, email, password, color, etc., textarea
   - Select dropdowns
   - Checkboxes and radio buttons, single and multi
   - Date inputs: Date components and datepickers, datepicker ranges
   - File inputs
   - Form Labels
   - Prefix/Postfix elements
   - Validation Styles
*/

/* Form Settings */
$form-outer-padding: 2rem !default;
$form-background: #fff !default;
$form-border: 1px solid $app-border-color !default;

/* Text Fields */
$input-color: $body-font-color !default;
$input-background: $body-background !default;
$input-border: 1px solid $app-border-color !default;
$input-bottom-margin: 2rem !default;

$input-color-hover: $input-color !default;
$input-background-hover: $input-background !default;
$input-border-hover: 1px solid $app-border-color !default;

$input-color-focus: $input-color !default;
$input-background-focus: $input-background !default;
$input-border-focus: 1px solid scale-color($app-border-color, $lightness: -15%) !default;

$input-background-disabled: smartscale($input-background) !default;
$input-cursor-disabled: not-allowed !default;

/* Select Menus */
$select-background-hover: smartscale($input-background, 4%) !default;

$text-input-selectors: 'input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea'  !default;

//Labels for non-radio/checkbox inputs
$form-label-margin: 1rem !default;
$form-label-font-size: 1rem !default;
$form-label-font-weight: $font-weight-semi-bold !default;

/* placeholder Mixin */
@mixin isc-placeholder( $opacity, $size, $weight ) {

  &::-webkit-input-placeholder {
    opacity: $opacity;
    font-size: $size;
    font-weight: $weight;
  }

  &:-moz-placeholder {
    opacity: $opacity;
    font-size: $size;
    font-weight: $weight;
  }

  &::-moz-placeholder {
    opacity: $opacity;
    font-size: $size;
    font-weight: $weight;
  }

  &:-ms-input-placeholder {
    opacity: $opacity;
    font-size: $size;
    font-weight: $weight;
  }
}

/* Form Styles */
@include exports(isc-forms) {

  /* Base Form Architecture */
  form, .isc-form, form.formly {
    padding: $form-outer-padding;
    margin-bottom: 1rem;
    border: $form-border;
    width: 100%;
    background: $form-background;

    @media #{$medium} {
      padding: 1rem;
    }

    @media #{$small} {
      padding: 0.75rem;
    }

    // Form Sections (Major)
    .form-section {
      margin: 1rem 0 1rem 0;

      &.top {margin-top: 0;}
    }

    .grid-content, .grid-block {
      overflow: visible;
    }

    .form-title {
      margin-bottom: 2rem;  // form section title
    }

    .modal & {margin-bottom: 0;}

    .controls {
      margin-top: 1rem;

      .button, button {
        margin-bottom: 0;
      }
    }
  }

  /* Form Inputs */

  /* Textual Input Types */
  input[type="text"], input[type="password"], input[type="date"],
  input[type="datetime"], input[type="datetime-local"], input[type="month"],
  input[type="week"], input[type="email"], input[type="number"], input[type="search"],
  input[type="tel"], input[type="time"], input[type="url"], textarea {
    margin-bottom: $input-bottom-margin;
    box-shadow: none;
    border-radius: $global-radius;
    border: $input-border;

    &:hover {
      border: $input-border-hover;
      background: $input-background-hover;
      color: $input-color-hover;
    }

    &:focus {
      outline: 0;
      border: $input-border-focus;
      background: $input-background-focus;
      color: $input-color-focus;
    }

    &[disabled], &.disabled {
      cursor: $input-cursor-disabled;
      background-color: $input-background-disabled;
    }

    &::-webkit-input-placeholder {
      /* WebKit browsers */
      opacity: 1;
      color: $placeholder-text-color;
      font-size: $paragraph-font-size;
      font-style: italic;
      font-weight: $font-weight-normal;
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      opacity: 1;
      color: $placeholder-text-color;
      font-size: $paragraph-font-size;
      font-style: italic;
      font-weight: $font-weight-normal;
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      opacity: 1;
      color: $placeholder-text-color;
      font-size: $paragraph-font-size;
      font-style: italic;
      font-weight: $font-weight-normal;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      opacity: 1;
      color: $placeholder-text-color;
      font-size: $paragraph-font-size;
      font-style: italic;
      font-weight: $font-weight-normal;
    }
  }

  input[type="color"] {
    padding: 0;
    border-radius: $global-radius;
    margin-bottom: $input-bottom-margin;
  }

  /* Textarea Inputs */
  textarea {
    min-height: 100px;
    border: $input-border;
    font-size: $paragraph-font-size;
    border-radius: $global-radius;
    color: $input-color;
  }

  /* Select Inputs */
  select {
    border-radius: $global-radius;
    border: $input-border;
    margin-bottom: $input-bottom-margin;

    &:hover {
      background: $select-background-hover;
    }

    &:focus {
      outline: 0;
      border: $input-border-focus;
      background: $input-background-focus;
      color: $input-color-focus;
    }

    &[disabled], &.disabled {
      cursor: $input-cursor-disabled;
      background-color: $input-background-disabled;
    }
  }

  /* Checkboxes & Radio Inputs - Single */

  input[type="radio"],
  input[type="checkbox"] {
    margin-bottom: 0;
    box-sizing: border-box;
  }

  input[type="checkbox"] {
    height: 0.95rem;
    border-radius: 0;
  }

  /* Checkboxes & Radio Inputs - Multi */

  /* Input Lists */
  ul.radio-list,
  ul.check-list {
    list-style-type: none;
    list-style: none;
    margin-bottom: $input-bottom-margin;
    margin-left: 0;

    li {
      margin: 0;

      label {
        margin-right: 0;
        font-weight: $font-weight-normal;
      }
    }
  }

  /* Input Groups */
  ul.radio-group,
  ul.check-group {
    list-style-type: none;
    list-style: none;
    margin-bottom: $input-bottom-margin;
    margin-left: 0;
    line-height: 1.5;

    li {
      display: inline-block;
      list-style: none;
      margin-left: 0;
      margin-right: 1.125rem;

      label {
        margin-right: 0;
        font-weight: $font-weight-normal;
      }

      input[type=radio] + label {
        margin-left: 0.3125rem;
      }
      // For Dynamic Inputs in a radio-group, e.g. "Other"
      &.dynamic {
        display: inline-block;

        label{
          padding-left: 0.125rem;
        }
      }
    }
  }


  /* Date Components */
  .date-container {
    width: 100%;

    input, input[type="number"], input[type="date"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="month"], input[type="week"], input[type="time"] {
      padding: 0.5rem 0.3125rem 0.5rem 0.75rem;
      text-align: center;
      margin-right : 1.5rem;
    }
  }


  /* Date Picker - Calendar (720kb)
   * Mostly for backwards compatibility at this point
   * So leaving these alone for now
   * TO DO: Assess this datepicker for usability
   * TO DO: Test styling of this component
  */
  ._720kb-datepicker-calendar._720kb-datepicker-open {
      visibility: visible;
      z-index: 9999;
      overflow: visible !important;
      display: block;
      position: absolute;
      z-index: 15;
      margin-top: -12px;
  }

  ._720kb-datepicker-calendar-header {
      text-align: center;
      font-size: 0.9375rem;
      line-height: 2.25rem;
      border-top-left-radius: $global-radius;
      border-top-right-radius: $global-radius;
  }

  ._720kb-datepicker-calendar-days-header, ._720kb-datepicker-calendar-body {z-index: inherit;}

  ._720kb-datepicker-calendar-days-header {background: darken( $primary-color, 8);}

  ._720kb-datepicker-calendar-days-header div {color: white;width: 14.2%;}

  ._720kb-datepicker-calendar-header:nth-child(odd) {background: $primary-color;}

  ._720kb-datepicker-calendar-header:nth-child(even) {background: $gray-light;}

  ._720kb-datepicker-calendar-header a {color: $gray-dark;}

  ._720kb-datepicker-calendar-month span {color: white;font-weight: $font-weight-semi-bold;}

  ._720kb-datepicker-calendar-header a:hover {color: $gray-dark; background: rgba(255, 255, 255, 0.45);}

  .isc-form-datepicker {
    max-width    : 150px;
    margin-left  : 0px;
    margin-right : 0px;
  }

  .isc-form-datepicker-calendar {
    background-color : transparent;
    border           : none;
    cursor           : pointer;
    position         : absolute;
    top              : 0.75rem;
    right            : 0.3125rem;

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  // Date-Picker Calendar Button
  .button.datepicker, button.datepicker, button.isc-form-datepicker-calendar {
      margin: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
  }


  /* File Inputs */
  input[type='file'] {display : none;}


  /* Form Labels */
  label {
    color: $body-font-color;
    margin-bottom: $form-label-margin;
    font-size: $form-label-font-size;
    font-weight: $form-label-font-weight;

    &:not(.inline) {
      display: block;
    }
  }

  //Inputs wrapped in labels
  label, .inline-label {

    input[type="text"], input[type="password"], input[type="date"],
    input[type="datetime"], input[type="datetime-local"], input[type="month"],
    input[type="week"], input[type="email"], input[type="number"], input[type="search"],
    input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
      margin-bottom: 0;
    }
  }

  label {
    &.radio, &.checkbox, .checkbox & {
      margin-left: 0.125rem; // no cut-off
      font-weight: $font-weight-normal;
    }
  }

  //Labels for radios and checkboxes need to wrap
  input[type="checkbox"] + label, input[type="radio"] + label {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    vertical-align: baseline;
    font-weight: $font-weight-normal;
  }

  /* Prefixed/Postfixed Inputs */

  .prefix {

    input, input[type="text"], input[type="password"], input[type="date"],
    input[type="datetime"], input[type="datetime-local"], input[type="month"],
    input[type="week"], input[type="email"], input[type="number"], input[type="search"],
    input[type="tel"], input[type="time"], input[type="url"], input[type="color"] {
      border-radius: 0 $global-radius $global-radius 0;
      border-left: none;
      box-shadow: none;
    }

    &.form-label {
      background: $neutral-color;
      border-radius: $global-radius 0 0 $global-radius;
      border: $input-border;
    }
  }

  .postfix {

    input, input[type="text"], input[type="password"], input[type="date"],
    input[type="datetime"], input[type="datetime-local"], input[type="month"],
    input[type="week"], input[type="email"], input[type="number"], input[type="search"],
    input[type="tel"], input[type="time"], input[type="url"], input[type="color"] {
      border-radius: $global-radius 0 0 $global-radius;
      border-right: none;
      box-shadow: none;
    }

    &.form-label {
      background: $neutral-color;
      border-radius: 0 $global-radius $global-radius 0;
      border: $input-border;
    }
  }

  input {
    &.prefix {border-radius: 0 $global-radius $global-radius 0;}
    &.postfix {border-radius: $global-radius 0 0 $global-radius;}
    &.prefix.postfix {border-radius: 0;}
  }

  /* Validation */

  /* Invalid fields are fields that have been touched, yet fail to meet validation requirements
   * Thus, fields should never be shown as invalid by default - only after they've been touched
   * Touched required fields that remain pristine (no value entered) show a red border
   *
   * When invalid fields display an .error message:
   * bottom margins should be moved underneath the error message to preserve layout rhythm
  */


  // Single Inputs - All Types
  input[type="text"], input[type="password"], input[type="date"],
  input[type="datetime"], input[type="datetime-local"], input[type="month"],
  input[type="week"], input[type="email"], input[type="number"], input[type="search"],
  input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {

    &.ng-invalid {

      &.ng-touched {
        border: 1px solid $alert-color;
      }
    }

  }

  /* date-container */

  .date-container {

    &.ng-invalid {

      input[type="number"] {

        &.ng-touched {
          border: 1px solid $alert-color;
        }
      }

    }
  }

  //.has-error wrapper
  .has-error {

    input, select {
      margin-bottom: 0.25rem;
    }

    //.error-message inside of .has-error wrapper
    label{
      &.error-message {
        font-weight: $font-weight-normal;
        font-size: 0.875rem;
      }
    }

    .date-container {
      input {
        border: 1px solid $alert-color;
      }
    }
  }

  .error {
    margin-bottom: 1em;
    font-weight: normal;
  }

}
