/* Modals */
@include exports(modals) {
  .modal {
    overflow: visible;

    .title-bar {
      font-size: 1.25rem;
      padding: 0.675rem 1rem;
      text-transform: capitalize;

      .title {
        margin-bottom: 0;
      }
    }

    //Force overflow visible
    .grid-content, .grid-block {
      overflow: visible;
    }

    @media #{$small} {
      height: auto;
    }
  }

  //forms inside modals
  aside {

    &.modal {
      form, .form {
        padding: 1rem;
        border: none;

        .controls {
          margin-top: $global-margin;
        }
      }
    }
  }

  // Contain xlarge modal width
  .xlarge > .modal {
    max-width: 1000px;
    overflow-y: scroll;

    @media #{$medium} {
      max-width: 1024px;
    }
    @media #{$small} {
      max-width: 859px;
      height: auto;
    }
  }

  // Dialog Style modals
  .dialog {

    > .modal {
      height: auto;
      border: 1px solid $app-border-color;
      box-shadow: $shadow-2dp;
    }
  }
}
