/* -------------------------------
 * Primary Nav (Top nav bar)
------------------------------- */

.primary-nav {
  background: $primary-nav-background;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: $horizontal-container-padding;
  padding-right: $horizontal-container-padding;

  @media #{$medium} {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: $horizontal-container-padding-small;
    padding-right: $horizontal-container-padding-small;
  }

  @media #{$small} {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: $horizontal-container-padding-small;
    padding-right: $horizontal-container-padding-small;
  }

  .menu-bar, .menu-group, .menu-group-left, .menu-group-right {
    background: transparent;
  }

  li {

    a {
      color: $app-bar-link-color;
      padding: 0.5rem;

      @media #{$small} {
        font-size: 0.9rem;
      }

      &.branding {padding-left: 0;}

      //logo
      .isc-logo {

        svg {
          vertical-align: middle;
          height: $logo-height;
          width: $logo-width;
          fill: $logo-color;

          @media #{$medium} {
            height: $logo-height-medium;
            width: $logo-width-medium;
          }

          @media #{$small} {
            height: $logo-height-small;
            width: $logo-width-small;
          }
        }
      }

      // app name
      .app-name {
        font-weight: $app-name-font-weight;
        font-size: $app-name-font-size;
        text-transform: none;
        margin-left: 0.65rem;
        height: auto;
        line-height: 1.25;
        overflow-y: hidden;

        @media #{$medium} {
          font-size: $app-name-font-size-medium;
        }

        @media #{$small} {
          font-size: $app-name-font-size-small;
          margin-left: 0.4rem;
          line-height: 1;
        }
      }

      &:hover {
        color: $app-bar-link-hover-color;
        background: $primary-nav-background;

        svg {
          fill: $app-bar-link-hover-color;
        }
      }

      i.fa {padding-right: 0.25rem;}
    }

    &.hamburger {

      .fa {
        margin: 0;
      }

      a {
        font-size: $app-name-font-size;
        padding-right: 0;
      }
    }

    // Optional Divider (todo)
    .divider {
      border-right: 3px solid $logo-color;
      margin: 0 0.25rem;
      height: 1rem;
      width: 0.1875rem;
    }
  }

  .menu-group-left {
    li {
      &:first-child {
        a {
          padding-left: 0;
        }
      }
    }
  }

  .menu-group-right {
    li {
      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }
  }

  //Dropdown Menus/ Proxies
  select {
    margin: 0.3125rem 0 0 0;
    vertical-align: middle;
    border-radius: $global-radius;
    border: none;
    font-size: 0.9rem;
    height: 2rem;
    text-transform: capitalize;
  }

  //Menu/Proxy Labels
  label {
    padding: 0.9rem 0.5rem 0 0;
    line-height: 1;
    margin: 0;
    margin-left: 1rem;
    font-weight: $font-weight-normal;
    font-size: 0.85rem;
    color: $app-bar-text-color;
  }

  .grid-container {
    padding: 0;
  }
}

/* Primary Mobile Menu */
#primary-mobile-nav {
  background: $primary-nav-background;

  .menu-bar {
    li {
      border-bottom: 1px solid darken($primary-nav-background, 10);

      a {
        padding: 1rem;

        &.close {
          font-size: 1.5rem;
          font-weight: $font-weight-normal;
        }
      }
    }
  }
}

// Top Nav Bar Container
.isc-nav-bar {

  // Optional built in sticky class
  &.sticky {
    position: fixed;
    top: 0;
    transition: all .5s ease-out;
    z-index: 100;
  }
}

// Menu Bars With Icons Only
.menu-bar {
  a {
    &.icon {
      color: $primary-color;
      background: transparent;

      &:hover, &:focus, &:active {
        background: transparent;
        color: lighten($primary-color, 10);
      }
    }
  }
}

// Generic Standard List Navigation
nav {
  ul {
    list-style-type: none;
    margin-left: 0;

    li {
      margin-left: 0;
      line-height: 2;
      margin-bottom: 0;

      a {
        padding: 0.75rem 0.5rem;

        &:hover, &:focus, &:active {
          background: $gray-light;
          color: darken($primary-color, 8);
        }
      }
    }
  }
}

/* Generic Nav Component Rules */
.menu-bar, .menu-group, .menu-group-right, .menu-group-left, .title-bar, .block-list, .action-sheet-container {
  li {
    margin: 0;

    .fa {
      margin: 0 0.3125rem;
    }
  }
}

@media only screen and (min-width: 53.6875em) {
  .action-sheet::before {border-bottom-color: rgba(0, 0, 0, 0.10);}
}
