/*
  TABLES
  ----------

  Includes a few basic style variations for table elements - Just getting started here; more coming soon.
   - Basic Tables: Striped, Hover, Scroll, Full-Width
   - Gridded "Faux" Tables (By Rows): Striped, Hover
   - Gridded "Faux" Tables (By Columns): Striped, Hover
   - Sortable, Filterable, Clickable Table Heads (All Table Types)
   - Rules for Special Elements Inside Tables
   -
*/

/* Table Settings */

// Tables General
$table-background: white !default;
$table-font-color: isitlight($table-background, $body-font-color, $light-text) !default;
$table-stripe-background: $neutral-three !default;
$table-stripe-font-color: isitlight($table-stripe-background, $body-font-color, $light-text) !default;
$table-row-border: 1px solid $app-border-color !default;
$table-column-border: 1px solid $app-border-color !default;

$table-font-size: 0.875rem !default;
$table-line-height: 1.4;
$table-cell-padding: 0.65rem !default;

// Table Head
$th-font-size: 0.875rem !default;
$th-font-weight: $font-weight-bold !default;
$th-text-align: left !default;
$th-background: $table-background !default;

// Table Foot
$tfoot-background: $th-background !default;
$tfoot-font-size: 0.75rem !default;

// Table Titles
$table-title-font-size: 1.25rem !default;
$table-title-color: $header-font-color !default;
$table-title-weight: inherit !default;
$table-title-align: left !default;
$table-title-margin: 0 0 1rem 0 !default;
$table-title-padding: 0 !default;

/* Responsive Behavior */
$show-header-for-stacked: true !default;
/* Table Font Size Reduction on Small Screens */
$table-font-reduction: rem-calc(12) !default;
$th-font-reduction: rem-calc(12) !default;
$tfoot-font-reduction: rem-calc(12) !default;
$table-title-font-reduction: rem-calc(16) !default;

/* TABLE MIXINS
  ------------------------------
   - Borderless Tables (Bordered by Default)
   - Striped Tables
   - Hover Tables
   - Stacked on Smaller Screens
   - Titles
------------------------------*/

// @mixin borderless-table
@mixin borderless-table() {

  thead, th, tbody, tfoot, tr, td {
    border: none;
  }

  .grid-table {
    border: none;

    .thead, .th, .tbody, .tfoot, .tr, .td, .tr .td {
      border: none;
    }
  }
}

// @mixin striped
@mixin striped-table() {

  tbody, tfoot {
    background: initial;
  }

  thead {
    border-top: $table-row-border;
    //background: $table-stripe-background;

    tr {

      th {
        font-weight: $th-font-weight;
        text-align: $th-text-align;
        background: $table-stripe-background;
        color: $table-stripe-font-color;
      }
    }
  }

  tbody {

    tr {
      border-top: $table-row-border;
      border-bottom: $table-row-border;

      &:nth-child(even) {
        background: $table-stripe-background;
        color: $table-stripe-font-color;
      }

      td {
        font-weight: $font-weight-normal;
        text-align: $th-text-align;
      }
    }
  }

  tfoot {
    background: $table-stripe-background;
    color: $table-stripe-font-color;

    td {
      font-weight: $font-weight-normal;
    }
  }

  .grid-table {

    .tr {
      &:nth-child(even) {
        background: $table-stripe-background;
        color: $table-stripe-font-color;
      }
    }

    .thead {
      background: $table-stripe-background;
      color: $table-stripe-font-color;

      .th, .td {
        font-weight: $th-font-weight;
        text-align: $th-text-align;
      }
    }
  }
}

// @mixin hover-table
@mixin hover-table() {

  .grid-table {

    .tr {
      &:hover {
        background-color: smartscale($table-background, 4%);
        color: isitlight($table-background, $body-font-color, $light-text);
        cursor: pointer;

        &.striped {
          &:nth-child(even) {
            background-color: smartscale($table-stripe-background, 6%);
            color: $table-stripe-font-color;
          }
        }
      }
    }
  }

  tr {
    &:hover {
      background-color: smartscale($table-background, 4%);
      color: isitlight($table-background, $body-font-color, $light-text);
      cursor: pointer;

      &.striped {
        &:nth-child(even) {
          background-color: smartscale($table-stripe-background, 6%);
          color: $table-stripe-font-color;
        }
      }
    }
  }
}


// @mixin stacked-table
// Adds styles for a stacked table. Useful for small-screen layouts.
// @param {Boolean} $header [$show-header-for-stacked] - Show the first th of header when stacked.
@mixin stacked-table($header: $show-header-for-stacked) {
  @if $header {
    thead {
      th:first-child {
        display: block;
      }

      th {
        display: none;
      }
    }
  }
  @else {
    thead {
      display: none;
    }
  }

  th, tfoot, caption {
    // for accessibility, use visibility: hidden instead of display: none
    visibility: hidden;
  }

  td {
    display: block;

    &:before {
      content: attr(data-title)": ";
      font-weight: $th-font-weight;

      // For Alignment
      min-width: 6rem; // magic number :( adjust according to your own content
      display: inline-block;
      padding-right: 0.5rem;

      @media #{$large} {
        display: none;
      }
    }
  }
}

// @mixin faux-stacked-table
// Adds styles for a stacked table. Useful for small-screen layouts.
// @param {Boolean} $header [$show-header-for-stacked] - Show the first th of header when stacked.
@mixin faux-stacked-table($header: $show-header-for-stacked) {
  @if $header {

    .grid-table {
      display: flex;
      @include grid-orient(horizontal);
      @include grid-wrap(true);

      .thead {
        display: flex;
        @include grid-orient(vertical);
        @include grid-wrap(true);
        @include grid-size(shrink);

        .tr {
          display: flex;
          @include grid-orient(vertical);
        }

        .th {
          display: none;
        }
      }


      .tbody {
        display: flex;
        @include grid-orient(vertical);

        .tr {
          display: flex;
          @include grid-orient(vertical);
          border: 1px solid $app-border-color;

          .td {
            border: none;
          }
        }

        .icon-controls,.icon-list, ul, ol, li, p, a {
          padding-bottom: 0;
          margin-bottom: 0;
          text-align: left;
          vertical-align: middle;
        }
      }
    }
  }
  @else {

    .grid-table {
      display: flex;
      @include grid-orient(horizontal);
      @include grid-wrap(true);

      .thead {
        display: none;
        @include grid-orient(vertical);
        @include grid-wrap(true);
        @include grid-size(shrink);

        .tr {
          display: flex;
          @include grid-orient(vertical);
        }

        .th {
          display: none;

        }
      }


      .tbody {
        display: flex;
        @include grid-orient(vertical);

        .tr {
          display: flex;
          @include grid-orient(vertical);
          border: 1px solid $app-border-color;

          .td {
            border: none;
          }
        }
      }
    }

  }

  .tbody {
    .tr {
      padding: 0.5rem 0 0 0;
    }
  }

  .td {
    display: inline-block;

    &:before {
      content: attr(data-title)": ";
      font-weight: $th-font-weight;

      // For Alignment
      min-width: 6rem; // magic number - adjust according to your own content
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      vertical-align: top;

      @media #{$large} {
        display: none;
      }
    }

    .icon-controls, .icon-list, ul, ol, li, p, a {
      padding-bottom: 0;
      margin-bottom: 0;
      text-align: left;
      vertical-align: middle;
    }
  }

  .tfoot, caption {
    //for accessibility, use visibility: hidden instead of display: none
    visibility: hidden;
  }
}

@include exports(tables) {
  /*-------------- CLASSIC TABLES --------------*/
  table {
    font-family: $body-font-family;
    line-height: $table-line-height;
    font-weight: $font-weight-normal;
    font-size: $table-font-size;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    border-radius: 0;
    color:  $body-font-color;

    thead {
      border-top: $table-row-border;
      border-bottom: $table-row-border;

      th {
        padding: $table-cell-padding;
        text-align: $th-text-align;
        border-left: $table-column-border;
        border-right: $table-column-border;
        font-weight: $th-font-weight;
        white-space: nowrap;
        background: $th-background;
        color: isitlight($th-background, $body-font-color, $light-text);
      }
    }

    tbody {

      tr {
        border-top: $table-row-border;
        border-bottom: $table-row-border;

        td {
          padding: $table-cell-padding;
          text-decoration: none;
          vertical-align: middle;
          border-left: $table-column-border;
          border-right: $table-column-border;

          .button, button, .button-group, ul {
            margin: 0;
          }
        }
      }
    }

    tfoot {
      border-top: $table-row-border;
      border-bottom: $table-row-border;
      border-left: $table-column-border;
      border-right: $table-column-border;
      padding: $table-cell-padding;
      text-decoration: none;
      vertical-align: middle;
      background: $tfoot-background;
      color: isitlight($tfoot-background, $body-font-color, $light-text);
      font-size: $tfoot-font-size;
      font-weight: $font-weight-normal;

      @media #{$medium-down} {
        font-size: $tfoot-font-reduction;
      }
    }

    // Full-Width Tables
    &.expand {
      width: 100%;
    }

    // Auto Expand on Smaller Screens
    @media #{$medium-down} {
      width: 100%;
    }
  }

  /*-------------- FAUX TABLES --------------*/
  .grid-table {
    border-top: $table-row-border;
    border-bottom: $table-row-border;
    margin-bottom: 2rem;
    display: table;

    .thead {
      display: table-header-group;

      .tr {
        display: table-row;

        .th {
          display: table-cell;
          font-weight: $th-font-weight;

          @media #{$small} {
            font-weight: $th-font-weight;
          }
        }
      }
    }

    .tbody {
      display: table-row-group;

      .tr {
        display: table-row;

        .td {
          display: table-cell;
          border-top: $table-row-border;
        }
      }
    }

    .th {
      font-size: $th-font-size;
      font-weight: $th-font-weight;

      @media #{$medium-down} {
        font-size: $th-font-reduction;
      }
    }

    .td {
      font-size: $table-font-size;
      font-weight: $font-weight-normal;

      @media #{$medium-down} {
        font-size: $table-font-reduction;
      }
    }

    .th, .td {
      padding: $table-cell-padding;
      vertical-align: middle;
      line-height: $table-line-height;
      border-left: $table-column-border;

      @media #{$small} {
        padding: 0.3125rem;
      }

      &:last-of-type {
        border-right: $table-column-border;
      }
    }

    .tfoot {
      background: $tfoot-background;
      padding: $table-cell-padding;
      font-size: $tfoot-font-size;
      font-weight: $font-weight-normal;
      color: isitlight($tfoot-background, $body-font-color, $light-text);
      border-top: $table-row-border;
      border-bottom: $table-row-border;
      border-left: $table-column-border;
      border-right: $table-column-border;
      text-decoration: none;
      vertical-align: middle;

      @media #{$medium-down} {
        font-size: $tfoot-font-reduction;
      }
    }

    // Auto Expand on Smaller Screens
    @media #{$medium-down} {
      width: 100%;
    }
  }

  /* Rules for Special Elements Inside Tables */

  /* Special Table Elements
    ------------------------------
     - Title
     - Subtitle?
     - Info Summary?
     - Add Record
     - What else?
  ------------------------------*/

  /* CLASSIC TABLES */
  .isc-table {

    &.expand {
      table {
        width: 100%;
      }
    }

    &.borderless {
      @include borderless-table;
    }

    &.striped {
      @include striped-table;
    }

    &.hover {
      @include hover-table;
    }

    &.stack {
      @include breakpoint(medium down) {
        @include stacked-table;
      }
    }
  }

  /* FAUX TABLES */
  .fauxTable {

    .expand & {
      .grid-table {
        width: 100%;
      }
    }

    .borderless & {
      @include borderless-table;
    }

    .striped & {
      @include striped-table;
    }

    .hover & {
      @include hover-table;
    }

    .stack & {
      @include breakpoint(medium down) {
        @include faux-stacked-table;
      }
    }
  }

  .isc-table, .fauxTable {
    /* Table Titles */
    h1, h2, h3, h4, h5, h6 {

      &.table-title, .subheader, .summary-heading {
        @include title($size: $table-title-font-size, $color: $table-title-color, $weight: $table-title-weight, $margin: $table-title-margin, $padding: $table-title-padding, $reduction: $table-title-font-reduction) {
          text-align: $table-title-align;
        }
      }
    }

    .date {text-decoration: none;}
    .cell-title {display: none;}

    li, p {
      margin-bottom: 0;
      font-size: $table-font-size;
      line-height: $table-line-height;
      vertical-align: middle;
    }

    /* Empty Data Message */
    .empty-message {
      background: $neutral-three;
      margin-bottom: 1rem;
      border-radius: $global-radius;
      width: 100%;
      padding: 1.125rem;
      font-size: 1rem;
      font-style: italic;
    }
  }

  /* Rules for Special Elements Inside Tables */
  table, .grid-table {

    //Lists in Tables
    ul, ol {

      &:not(.pagination) {
        margin: 0;
        font-size: $table-font-size;
        vertical-align: middle;
        line-height: $table-line-height;
      }
    }

    // Menu Bars
    .menu-bar {
      background: transparent;
      margin: 0 auto;

      li {
        a {
          padding: 0.5rem;

          @media #{$small} {
            padding: 0.25rem;
            font-size: $tfoot-font-reduction;

            .fa {
              margin: 0;
            }
          }
        }
      }

      &.condense {
        li {
          a {
            padding: 0.25rem;

            @media #{$small} {
              padding: 0.25rem;
              font-size: $tfoot-font-reduction;
            }

            .fa {
              margin: 0;
            }
          }
        }
      }
    }

    //Buttons
    button, .button, input[type="submit"], input[type="button"] {
      margin: 0;

      &:not(.icon) {
        // Tiny Buttons for Tables
        @include button-size($size: tiny);
      }
    }

    //Button Groups
    .button-group {

      // Tiny Buttons for Tables
      @include button-group-size($size: tiny);
      margin: 0;
    }

    input[type="checkbox"], input[type="radio"] {
      height: $table-font-size;
      width: $table-font-size;
      margin: 0;
      line-height: $table-line-height;
      font-size: $table-font-size;
    }

    input[type="checkbox"] + label, input[type="radio"] + label {
      margin: 0 0.5rem 0 0.25rem;
      display: inline-block;
      line-height: $table-line-height;
      font-size: $table-font-size;
      vertical-align: top;

      &:last-of-type {
        margin-right: 0;
      }
    }

    // Form Inputs in Tables
    label, .label, .badge, input[type="checkbox"], input[type="radio"],
    input, input[type="text"], input[type="password"], input[type="date"],
    input[type="datetime"], input[type="datetime-local"], input[type="month"],
    input[type="week"], input[type="email"], input[type="number"], input[type="search"],
    input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {
      margin: 0;
      min-height: none;
      line-height: $table-line-height;
      font-size: $table-font-size;
    }

    //section-blocks
    .section-block {margin-bottom: 0;}

    //Add New Record Wrapper
    .add-record {
      margin: 2rem 0 0 0;
      width: 100%;
      padding: 0;
    }

    @media only screen and (min-width: 1025px) and (max-width: 1045px){
      font-size: $table-font-size;
    }

    @media #{$medium} {
      font-size: $table-font-reduction;
    }

    @media #{$small} {
      font-size: $table-font-reduction;
      white-space: nowrap;
    }
  }


  /* DO SOMETHING WITH THIS
   * Clickable, Sortable, Filterable Table Heads
   ----------------------------------------------*/
  th, .th {

    //Clickable Table Head
    a {
      color: isitlight($th-background, $body-font-color, $light-text);
      cursor: hand;
      font-weight: $th-font-weight;
      padding: 0;
      font-size: $th-font-size;

      // Sortable Columns
      &.isc-sortable {
        white-space: nowrap;

        @include icon(after, sortable) {
          padding-left: 0.3125rem;
          font-size: $th-font-size;
          font-weight: $font-weight-normal;

          @media #{$medium-down} {
            padding-left: 0.25rem;
            font-weight: $font-weight-semi-bold;
            font-size: $th-font-reduction;
          }
        }
      }

      // Filterable Columns
      &.isc-filterable {
        white-space: nowrap;

        @include icon(after, filter) {
          padding-left: 0.3125rem;
          font-size: $th-font-size;
          font-weight: $font-weight-normal;

          @media #{$medium-down} {
            padding-left: 0.25rem;
            font-weight: $font-weight-semi-bold;
            font-size: $th-font-reduction;
          }
        }
      }
    }

    &.hover {
      background-color: smartscale($th-background, 4%);
      color: isitlight($th-background, $body-font-color, $light-text);
    }
  }
}
