/* Original Typeahead Styles
 * Soon to be replaced with something better
--------------------------------------------*/

/* Typeahead Settings */
$typeahead-font-size: 0.875rem !default;
$typeahead-column-title-color: $header-font-color !default;
$typeahead-column-title-size: 0.875rem !default;
$typeahead-column-title-padding: 0.3125rem 0.25rem 0.25rem 0.25rem !default;
$typeahead-highlight-color: $alert-color !default;
$input-bottom-margin: 2rem !default;

@include exports(typeahead) {
  .angucomplete-holder {
      position: relative;
  }

  .angucomplete-dropdown, table.angucomplete-dropdown {
      border-color: $app-border-color;
      border-width: 1px;
      border-style: solid;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: $global-radius;
      border-bottom-right-radius: $global-radius;
      width: 100%;
      padding: 0;
      cursor: pointer;
      z-index: 9999;
      position: absolute;
      overflow-y: visible;
      /*top: 32px;
      left: 0px;
      */
      margin-top: -17px;
      background-color: white;

      table, .isc-table, tbody {
        overflow: visible;
      }

      tbody tr {
        border: none;
      }

      tr td.column-title {
        font-weight: $font-weight-bold;
        padding: $typeahead-column-title-padding;
        font-size: $typeahead-column-title-size;
        color: $typeahead-column-title-color;
        border: none;
      }

      tr, tr.angucomplete-row {
        color: $body-font-color;
        clear: both;
        line-height: 1.5;
        border: none;
        padding: 0;

        td.person {
          padding: 0;
        }

        td.person .angucomplete-title {
          font-size: $typeahead-font-size;
          min-width: 150px;
          padding: 0.25rem 0 0.25rem 0.25rem;
          color: $body-font-color;

          @media #{$medium} {
            min-width: 115px;
          }
        }

        td.organization {
          font-size: $typeahead-font-size;
          padding: 0.25rem 0 0.25rem 0.125rem;
          color: $body-font-color;
        }
      }
  }

  .angucomplete-searching {
      color: $body-font-color;
      font-size: $typeahead-font-size;
  }

  .angucomplete-description {
      font-size: $typeahead-font-size;
  }

  .angucomplete-row , tr.angucomplete-row {
      color: $body-font-color;
      clear: both;
      line-height: 1.5;
      font-size: $typeahead-font-size;
      padding: 0.25rem;
  }

  .angucomplete-selected-row {
      background-color: $neutral-color;
      color: $body-font-color;
  }

  .angucomplete-image-holder {
      padding-top: 2px;
      float: left;
      margin-right: 10px;
      margin-left: 5px;
  }

  .angucomplete-image {
      height: 2rem;
      width: 2rem;
      border-radius: $global-radius;
      border-color: $app-border-color;
      border-style: solid;
      border-width: 1px;
  }

  .angucomplete-image-default {
      // Add a default image here
      //background-image: url('/assets/default.png');
      background-position: center;
      background-size: contain;
      height: 2rem;
      width: 2rem;
  }

  .angucomplete-title > .highlight {
    color: $typeahead-highlight-color;
  }

  /* Typeahead */
  .isc-dropdown-selection-list {
    background-color: $button-background;
    top:50px;
    position:absolute;
    left:550px;
    visibility: visible;
    border:1px solid $app-border-color;
    z-index: $modal-z-index !important;
  }

  .isc-typeahead-list {
    @extend .isc-dropdown-selection-list;

    top: initial !important;
    left: initial !important;
    margin: 0;
    margin-top: -2px;
    list-style-type: none;
    width: 100%;

    li {
      outline: none;
      list-style-type: none;
      padding: 0.25rem;

      &:hover, &:focus {
        background-color: $secondary-color;
      }
    }
  }

  input {
    &.typeahead {
      margin: 0;
      box-shadow: none;
      border-radius: $global-radius;
      border: $input-border;
      padding: 0.5rem;
      display: block;
      font-size: 1rem;
      vertical-align: middle;
      width: 100%;
      overflow: visible;

      ul {
        margin: 0;
      }
    }

    > div {width: 100%;}
  }

  .formly-field-typeahead {
    margin-bottom: $input-bottom-margin;
  }

}
