<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg class="isc-check-box"
     ng-click="toggleCheckBox()"
     width="27"
     height="27"
     viewBox="0 0 27 27">

  <g class="isc-checkbox-background">
    <rect x="3.2" y="3.2" width="20.8" height="20.5"/>
  </g>

  <g class="isc-checkbox-outline">
    <path d="M25.4,25.3H1.8V1.8h23.6V25.3z M23.2,3.8H3.8v19.5h19.5V3.8z"/>
  </g>

  <g class="isc-check-mark"
     ng-show="selected">
    <polygon points="6,14.5 8.5,12.8 11.1,16 20,5.4 21.7,6.5 11,20.7 	"/>
  </g>

</svg>
