/* ****************************************** */
/* NG-TAGS-INPUT STYLES						  */
/* ****************************************** */

isc-lookahead-component {
  tags-input.ng-invalid .tags {
    box-shadow : 0 0 0 0 rgba(0, 0, 0, 0);
  }

  tags-input {
    .host {
      position      : relative;
      margin-top    : 0;
      margin-bottom : 0;
      height        : 100%;
      border-bottom : solid 1px #999;
    }

    .tags {
      width      : 100%;
      box-shadow : 0;
      border     : 0;

      .input {
        border       : 0;
        outline      : none;
        padding-left : 5px;
        height       : 39px;
        font         : 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

      .tag-item {
        border-radius : 0;
        border        : solid 1px royalblue;
        background    : #0097cf;
        color         : white;
        padding       : 0 0.2rem;
        height        : 1.9rem;

        .remove-button {
          font  : 700 0.75em Arial, sans-serif;
          color : #fff;
        }
      }
    }

    .tag-template {
      .left-panel {
        float : left;
      }

      .right-panel {
        float       : left;
        margin-left : 0;
        line-height : 28px;
        font-size   : 0.7rem;

        .small {
          font-size       : 0.8rem;
          font-weight     : 600;
          text-decoration : underline;
        }
      }
    }

    .autocomplete {
      margin-top : 0;
      padding    : 0;
    }
  }

  auto-complete {
    .autocomplete .suggestion-item {
      padding : 0.3rem 0.3rem;
    }

    .autocomplete-template {
      .left-panel {
        float : left;
      }

      .right-panel {
        float       : left;
        margin-left : 0.3rem;
        margin-top  : 0;
        line-height : 1.4;

        span:first-child {
          font-size   : 0.9rem;
          line-height : 1.4;
        }

        span:nth-child(2) {
          font-size   : 0.8rem;
          color       : gray;
          line-height : 1.4;
        }

        span:last-child {
          display   : block;
          font-size : 0.8rem;
        }
      }
    }
  }
}