<!--slide-in menu -->
<div class="secondary-nav-wrapper"
     ng-include="'common/navContainer/iscSecondaryNav.html'"
     ng-class="{'secondary-nav' : navCtrl.showSecondaryNav }">
</div>

<!-- desktop side nav -->
<div class="isc-secondary-nav-container only-desktop">
  <a class="isc-secondary-nav-item"
     ng-repeat="tab in ::navCtrl.navModel.getSecondaryNav() | orderBy: navCtrl.iscUiHelper.displayOrder"
     ng-class="{'active':navCtrl.customConfigHelper.isCurrentState( tab.state )}"
     ng-if="!tab.exclude"
     ui-sref="{{::tab.state}}">{{::tab.translationKey | translate}}
  </a>

  <div ng-if="navCtrl.navModel.hasSecondaryNavTasks()">
    <hr>

    <h1>{{'ISC_COMMON_TASKS' | translate}}</h1>

    <a class="isc-secondary-nav-item"
       ng-repeat="task in ::navCtrl.navModel.getSecondaryNavTasks() | orderBy: navCtrl.iscUiHelper.displayOrder"
       ng-class="{'active':navCtrl.customConfigHelper.isCurrentState( task.state )}"
       ng-if="!task.exclude"
       ui-sref="{{::task.state}}">
      <span ng-include="'svg/isc-task-arrow.html'"></span>
      {{::task.translationKey | translate}}
    </a>
  </div>
</div>



<!--mobile dropdown-->
<div class="isc-secondary-nav-mobile-dropdown-wrapper only-mobile">

    <div class="isc-secondary-nav-mobile-dropdown"
         ng-click="navCtrl.showSecondaryNavbar()">
        <a class="isc-secondary-nav-link">
      <span ng-if="navCtrl.sessionModel.isAuthenticated()"
            class="name">{{mainCtrl.effectiveUser.DisplayName || ::navCtrl.sessionModel.getFullName()}}'s</span>
            <span class="name">{{navCtrl.stateManager.getCurrentStateTranslationKey() | translate }}</span>
        </a>
    </div>

</div>
