/*
  BUTTONS
  ----------

  Includes basic style variations for a collection of commonly used button types.
   - Basic Buttons, size & color variations
   - Buttons Containing Icons
   - Icons as Buttons
   - Link Style Buttons (e.g. Add/Remove/Edit a table record)
   - Buttons containing svgs
*/

button, a.button {
  font-weight: 500;

  i.fa {
    vertical-align: middle;
    line-height: 1;
  }

  &:focus {
    outline: none;
  }

  /* Alternative Button Types Defined Here */
  &.cancel, &.secondary {
    border-radius: $button-radius;

    // Foundation button style mixin
    @include button-style(
    $background: scale-color($secondary-color, $lightness: -5%),
    $background-hover: auto, // "auto" to generate automatically
    $color: auto,
    $style: solid //solid or hollow
  );
    &.custom-disabled {
      @include button-disabled;
    }
  }
}

/* Icon Buttons - No background, just clickable icon */
// Drops margins and padding
button, a.button {

  &.icon {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    vertical-align: middle;
    line-height: 1;
    background: transparent;

    svg {
      fill: $primary-color;
      color: $primary-color;
      width: 1rem;
      height: 1rem;
      vertical-align: middle;
      line-height: 1;
    }

    // Foundation button style mixin
    @include button-style(
      $background: transparent, // No Background
      $background-hover: transparent, // No Background on hover
      $color: $primary-color,
      $style: solid // solid or hollow
    );
    &.disabled {
      @include button-disabled;
    }

    &:hover, &:focus, &:active {
      color: darken($primary-color, 8);

      svg {
        fill: darken($primary-color, 8);
        color: darken($primary-color, 8);
      }
    }

    &.alert {
      fill: $alert-color;
      color: $alert-color;
      background: transparent;

      svg {
        fill: $alert-color;
        color: $alert-color;
      }

      &:hover, &:focus, &:active {
        color: darken($alert-color, 8);
        background: transparent;

        svg {
          fill: darken($alert-color, 8);
          color: darken($alert-color, 8);
        }
      }
    }

    &.success {
      fill: $success-color;
      color: $success-color;
      background: transparent;

      svg {
        fill: $success-color;
        color: $success-color;
      }

      &:hover, &:focus, &:active {
        color: darken($success-color, 8);
        background: transparent;

        svg {
          fill: darken($success-color, 8);
          color: darken($success-color, 8);
        }
      }
    }

    &.info {
      fill: $info-color;
      color: $info-color;
      background: transparent;

      svg {
        fill: $info-color;
        color: $info-color;
      }

      &:hover, &:focus, &:active {
        color: darken($info-color, 8);
        background: transparent;

        svg {
          fill: darken($info-color, 8);
          color: darken($info-color, 8);
        }
      }
    }

    &.warning {
      fill: $warning-color;
      color: $warning-color;
      background: transparent;

      svg {
        fill: $warning-color;
        color: $warning-color;
      }

      &:hover, &:focus, &:active {
        color: darken($warning-color, 8);
        background: transparent;

        svg {
          fill: darken($warning-color, 8);
          color: darken($warning-color, 8);
        }
      }
    }

    // Help Icon
    &.help {
      padding: 0.5rem;
      text-align: center;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover, &:focus, &:active {
        color: darken($primary-color, 8);

        svg {
          fill: darken($primary-color, 8);
        }
      }
    }

    // Hamburger Icon
    &.hamburger {
      padding: 0.5rem;
      font-size: 1rem;
      text-align: center;

      svg {
        width: 1.875rem;
        height: 1.875rem;
      }

      &:hover, &:focus, &:active {
        color: darken($primary-color, 8);

        svg {
          fill: darken($primary-color, 8);
        }
      }
    }

    // Clear icon, for filterable fields
    &.clear {
      fill: $alert-color;
      color: $alert-color;
      padding: .5rem .125rem 0 .3125rem;
      margin: 0 0 0 .3125rem;;
      text-align: center;

      svg {
        fill: $alert-color;
        color: $alert-color;
      }

      &:hover, &:focus, &:active {
        color: darken($alert-color, 8);

        svg {
          fill: darken($alert-color, 8);
          color: darken($alert-color, 8);
        }
      }
    }
  }
}


/*  Link Style Buttons, e.g. Add New Table Row (Plus) Buttons */
// Retains margins and padding
button {

  &.link {
    background: transparent;
    color: $primary-color;
    margin-bottom: 1rem;

    svg {
      fill: $primary-color;
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      vertical-align: middle;
      padding-right: .3125rem;
      padding-bottom: .3125rem;
    }

    &:hover, &:focus, &:active {
      background: transparent;
      color: darken($primary-color, 8);

      svg {
        fill: darken($primary-color, 8);
      }
    }
  }
}

/* Submit Input Buttons */
input[type="submit"] {
  @extend .button;
  &.custom-disabled {
    @include button-disabled;
  }
}

/* Hollow Buttons */
//on Hover
.button.hollow:hover, button.hollow:hover, .button.hollow:focus, button.hollow:focus {
    border-color: $primary-color;
    background: $gray-light;
    color: $primary-color;
}

.button-group {
  li {
    margin: 0;
  }
}

/* Prefixed/Postfixed Buttons */

.prefix {

  button, .button {
    margin: 0;
    border-radius: $global-radius 0 0 $global-radius;
    padding: 0.5em 0.75em;
    text-align: center;
  }
}

.postfix {

  button, .button {
    margin: 0;
    border-radius: 0 $global-radius $global-radius 0;
    padding: 0.5em 0.75em;
    text-align: center;
  }
}


/* Button Utilities  */

//Remove margin
button.flat, .button.flat, a.flat {margin: 0;}
