/*
  TABLES
  ----------

  Includes a few basic style variations for table elements - Just getting started here; more coming soon.
   - Basic Tables
   - Striped Tables
   - Hover Tables
   - Scroll Tables
   - Full-Width Tables
   - Elements Inside Tables
*/

/* Basic Tables */

table {
  font-family: $body-font-family, "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: $font-weight-normal;
  font-size: 0.875rem; // Change to variable
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
  border-radius: 0;
  color:  $body-font-color;

  thead {
    border-top: 1px solid lighten($app-border-color, 2);
    border-bottom: 1px solid lighten($app-border-color, 2);

    th {
      padding: 0.65rem;
      text-align: left;
      border-left: 1px solid lighten($app-border-color, 2);
      border-right: 1px solid lighten($app-border-color, 2);
      font-weight: $font-weight-semi-bold;
      white-space: nowrap;

      // Sortable Columns
      &.isc-sortable {
        a {
          white-space: nowrap;
          padding: 0;
          
          &:after {
            font-family: FontAwesome;
            font-size: 0.75rem; // Change to variable
            font-weight: 300;
            content: "\F078";
            padding-left: 0.3125rem;
            vertical-align: middle;
          }
          &.reverse:after {
            font-family: FontAwesome;
            font-size: 0.75rem; // Change to variable
            font-weight: 300;
            content: "\F077";
            padding-left: 0.3125rem;
          }
        }

        &.hover {
          background-color: #ccc;
          color: $primary-color;
        }
      }

      // Filterable Columns
      &.isc-filterable {
        a {
          white-space: nowrap;
          padding: 0;

          &:after {
            font-family: FontAwesome;
            font-size: 0.75rem; // Change to variable
            font-weight: 300;
            content: " \f0b0";
            padding-left: 0.3125rem;
            vertical-align: middle;
          }
        }
      }
    }

    //Clickable Table Head
    a {
      color:  $body-font-color;
      cursor: hand;
      cursor: pointer;
      font-weight: $font-weight-semi-bold;
      padding: 0.65rem;
      font-size: 0.875rem;

      th {
        padding: 0;
      }
    }


  }

  tbody {

    tr {
      border-top: 1px solid $app-border-color;
      border-bottom: 1px solid $app-border-color;

      td {
        padding: 0.65rem;
        text-decoration: none;
        vertical-align: middle;
        border-left: 1px solid lighten($app-border-color, 2);
        border-right: 1px solid lighten($app-border-color, 2);

        .button, button, .button-group, ul {
          margin: 0;
        }
      }
    }
  }

  // Striped Tables
  &.striped {

    thead, tbody, tfoot {
      background: white;
    }

    thead {
      border-top: 1px solid lighten($app-border-color, 2);
    }

    tbody {

      tr {
        border-top: 1px solid lighten($app-border-color, 2);
        border-bottom: 1px solid lighten($app-border-color, 2);

        &:nth-child(even) {
          background: #f9f9f9;
        }
      }
    }

    thead, tfoot {
      background: #f9f9f9;
      color: $body-font-color;

      tr {
        background: transparent;
      }

      th, td {
        font-weight: $font-weight-bold;
        text-align: left;
      }
    }
  }

  // Hover Tables
  &.hover {

    tr {
      &:hover {
        background-color: #f5f5f5;
        cursor: pointer;
      }
    }
  }

  // Scroll Tables
  &.scroll {
    display: block;
    width: 100%;
    overflow-y: scroll;
  }

  caption {
    font-weight: bold;
    padding: 0.5rem 0.625rem 0.625rem;
  }

  // Full-Width Tables
  &.expand {
    width: 100%;
  }
}

//Menu-bars in tables
table {

  .menu-bar {
    background: transparent;

    li {

      a {
        padding: 0.65rem;
      }
    }
  }
}


table {

  //Table Head
  thead a, .isc-clickable {
    color:  $body-font-color;
    cursor: hand;
    cursor: pointer;
    font-size: rem-calc(15);

    th {
      padding-left: 0;
      color: $body-font-color;
      line-height: 1.5;
      font-size: 0.9375rem;
      vertical-align: bottom;
      padding: 0 .375rem .375rem 0;
      font-weight: $font-weight-semi-bold;
      text-align: left;

      @media only screen and (min-width: 1025px) and (max-width: 1045px){
        font-size: 0.875rem;
      }

      @media #{$medium} {
        font-size: 0.9375rem;
      }

      @media #{$small} {
        font-size: 0.875rem;
        white-space: nowrap;
        font-weight: $font-weight-semi-bold;
      }
    }
  }
}

//Elements in tables

table {

  //Table Titles
  .title {
    padding: 0;
    margin: 0 0 1.25rem 0;
    color: $body-font-color;
    font-size: 1.5rem;
    font-weight: $font-weight-semi-bold;

    @media #{$phab-or-less} {
      font-size: 1rem;
    }
  }

  .date {text-decoration: none;}

  .cell-title {display: none;}

  //Lists in Tables
  ul {
    margin: 0;
    font-size: 0.875rem;
  }

  //section-blocks in tables
  .section-block {
    margin-bottom: 0;
  }

  //Add New Record Wrapper
  .add-button-wrapper {
    margin: 2rem 0 0 0;
    width: 100%;
    padding: 0;
  }
}
