$warning-x : #aeb160;

.isc-failed-box {
  @include flex;
  @include flex-justify-content( left );
  border: 1px solid $app-border-color;
  background-color: $brand-warning;
  padding: 15px;
  left: 0;
  right: 0;
  margin-bottom: $isc-gutter-sm;

  span,
  a,
  h1{
    color: $gray;
    font-size: 13px;
    line-height: 22px;
    margin: 0;
    padding: 0;
  }

  @media #{$phab-or-less}{
    a{
      margin-right: 1%;
      margin-left: 5%;
    }
  }

  a{
    span{
      font-size: 18px;
      color: $warning-x;
    }
    &:hover{
      span{
        color: darken($warning-x, 10);
      }
    }
  }
}

.isc-warning-box {
  @extend .isc-failed-box;
  @include flex-justify-content( space-between );

  cursor: hand;
  cursor: pointer;
}


