/*
  TYPOGRAPHY
  ----------

  Includes typographic styles for many common elements, and a few helper classes.
   - Body Copy
   - Headers
   - Labels
   - Lists
   - Horizontal Rule
   - Counter Badges
   - TODO - Icons
*/

/* Body Copy */
html, body, p, label {font-family: $body-font-family, "Helvetica", Helvetica, Arial, sans-serif;}

p {
  font-weight: $font-weight-normal;

  &.error, &.alert {
    color: $alert-color;
  }

  &.success {
    color: $success-color;
  }

  &.readonly {
    margin: 0;
    padding: 0.6rem 0;
    display: inline-block;
  }
}

/* help text */
.help-text {
  margin-top: -0.25rem;
  font-size: 0.8125rem;
  font-style: italic;
  color: palette(type, primary);
}

/* Headers */
h1 {font-weight: $font-weight-normal;}
h2 {font-weight: $font-weight-bold;}
h3 {font-weight: $font-weight-normal;}
h4 {font-weight: $font-weight-bold;}
h5 {font-weight: $font-weight-semi-bold;}
h6 {font-weight: $font-weight-bold;}

/* Labels */
label, .form-label {
  font-weight: $font-weight-bold;
  line-height: $paragraph-line-height;
  font-family: $body-font-family;
  display: inline-block;

  &.required {
    &:after {
      content: " * ";
      color: $alert-color;
    }
  }

  &.inline {
    margin: 0;
    padding: 0.6rem 0;
    display: inline-block;
  }

  &.right {
    float: none;
    text-align: right;
  }

  &.error, &.alert {
    color: $alert-color;
  }

  &.success {
    color: $success-color;
  }
}

.has-error {
  label {
    color: $alert-color;
  }
}

/* Lists */

//Ordered
ol{

  li {
    margin-left: 1rem;
  }
}

//Unordered
ul {
  // Indented List Items
  &.indent {
    li {
      margin-left: 1rem;
    }
  }
}

/* Inline-Lists & Icon Lists */
.inline-list,
.icon-list {
  list-style-type: none;
  text-align: left;
  list-style: none;
  margin-top: 0.25rem;
  margin-right: 0;
  overflow: hidden;
  padding: 0;
}

.icon-list {
  margin-top: 0;
  margin-bottom: 0.94444rem;
  margin-left: 0;
}

.icon-list > li {
  display: block;
  float: left;
  list-style: none;
  margin-left: 1.125rem;
}

.icon-list > li > * {display: block;}

.inline-list {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: -1.125rem;
}

.inline-list > li {
  display: inline-block;
  list-style: none;
  margin-left: 1.125rem;
}

.inline-list > li > label {font-weight: $font-weight-semi-bold;}
.inline-list > li > * {display: inline-block;}

/* hr */
hr {margin-bottom: 1.5rem;}

hr.strong {
  border: solid #ccc;
  border-width: 3px 0 0;
  clear: both;
  margin: 1.5rem 0 2.25rem 0;
  height: 0;
}

/* Counter Badge */
.counter-badge {
  @extend %badge;

  @include badge-layout(
    $fontsize: 1rem
  );

  @include badge-style(
    $background: $primary-color,
    $color: #fff
  );

  padding: 0.65rem;
  font-weight: $font-weight-semi-bold;
  border-radius: $global-radius;
  width: 1.5rem;
  height: 1.5rem;

  &.alert {
    @include badge-style(
      $background: $alert-color,
      $color: #fff
    );
  }

  &.success {
    @include badge-style(
      $background: $success-color,
      $color: #fff
    );
  }

  &.warning {
    @include badge-style(
      $background: $warning-color,
      $color: #fff
    );
  }

  &.dark {
    @include badge-style(
      $background: $dark-color,
      $color: #fff
    );
  }
}

/* Icon Colors */

i.fa {
  //line-height: 1;

  &.success {
    color: $success-color;
  }
  &.alert {
    color: $alert-color;
  }
  &.warning {
    color: $warning-color;
  }
  &.info {
    color: $info-color;
  }
  &.primary {
    color: $primary-color;
  }
  &.secondary {
    color: $secondary-color;
  }
}

.fa-li {
  line-height: $paragraph-line-height;
}
