/* Top Navigation / App Bar */
.top-nav {
  background: $primary-color;
  padding: 1rem 2.5rem 1rem 3rem;

  @media #{$medium} {
    padding: 1rem;
  }

  @media #{$small} {
    padding: 1rem;
  }

  @media #{$tab-or-less} {
    padding: 1rem;
  }

  select {
    margin: 0.3125rem 0 0 0;
    vertical-align: middle;
    border-radius: 2px;
    border: none;
    font-size: 0.9rem;
    height: 2rem;
    text-transform: capitalize;
    //padding: 0.3125rem;
  }

  label {
    padding: 0.9rem 0.5rem 0 0;
    line-height: 1;
    margin: 0;
    margin-left: 1rem;
    font-weight: normal;
    font-size: 0.85rem;
    color: palette(type, light);
  }

  .menu-bar {
    background: transparent;

    li {
      color: palette(type, light);
      color: palette(type, light);
      line-height: 1;

      a {
        color: palette(type, light);
        margin: 0;
        font-weight: 500;
        padding: .75rem;
        line-height: 1;

        @media #{$small} {
          //padding: 0.75rem 0.5rem;
          font-size: 0.9rem;
        }
      }

      a {
        &:hover, &:focus, &:active {
          color: palette(type, light);
          background: smartscale($primary-color, 7%);
        }
      }

      i.fa {padding-right: 0.25rem;}
    }
  }

  .grid-content {
    overflow: visible;
  }
}

/* Branding */
.branding {
  margin-top: 0.4rem;

  @media #{$medium-down} {
    margin-top: 0.45rem;
  }

  //logo
  .isc-logo {
    width: auto;

    svg {
      vertical-align: middle;
      height: 1.75rem;
      width: 1.75rem;
      fill: $logo-color;

      @media #{$medium} {
        height: 1.5rem;
        width: 1.5rem;
      }

      @media #{$small} {
        height: 1.3125rem;
        width: 1.3125rem;
      }
    }
  }

  // Optional Divider (todo)
  .divider {
    border-right: 3px solid white;
    margin: 0 0.25rem;
    height: 1rem;
    width: 0.1875rem;
  }

  // app name
  .app-name {
    text-transform: none;
    font-weight: 500;
    font-size: 1.375rem;
    color: white;
    line-height: 1.25;
    margin-left: 0.65rem;
    vertical-align: middle;

    @media #{$medium} {
      font-size: 1.25rem;
    }

    @media #{$small} {
      font-size: 1.125rem;
      margin-left: 0.3125rem;
    }
  }
}

// Top Nav Bar Container
.isc-nav-bar {

  // Optional built in sticky class
  &.sticky {
    position: fixed;
    top: 0;
    transition: all .5s ease-out;
    z-index: 100;
  }
}

// Sub Navigation
.sub-nav {
  .menu-group {
    background: $secondary-color;

    .menu-bar {
      background: transparent;

      li {
        font-weight: 500;

        a {
          padding: 0.75rem;

          &.active {
            background: white;
          }
        }
      }
    }

    .menu-group-left {
      padding-left: 3rem;

      @media #{$medium} {
        padding-left: 1rem;
      }

      @media #{$small} {
        padding-left: 1rem;
      }

      @media #{$tab-or-less} {
        padding-left: 1rem;
      }

      li {
        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    .menu-group-right {
      padding-right: 3rem;

      @media #{$medium} {
        padding-right: 1rem;
      }

      @media #{$small} {
        padding-right: 1rem;
      }

      @media #{$tab-or-less} {
        padding-right: 1rem;
      }
    }
  }
}

// Menu Bars With Icons Only
.menu-bar {
  a {
    &.icon {
      color: $primary-color;
      background: transparent;

      &:hover, &:focus, &:active {
        background: transparent;
        color: $anchor-font-color-hover;
        color: lighten($primary-color, 10);
      }
    }
  }
}

// Generic Standard List Navigation
nav {
  ul {
    list-style-type: none;
    margin-left: 0;

    li {
      margin-left: 0;
      line-height: 2;

      a {
        padding: 0.75rem 0.5rem;

        &:hover, &:focus, &:active {
          background: $gray-light;
          color: darken($primary-color, 8);
        }
      }
    }
  }
}
