
.isc-main-tabs {
  //  clear: both;
  //  display: block;
  @include  flex();
  @include  flex-type( 1 );
  @include flex-box-align( flex-end );

  height: 40px;
  max-height: 40px;
  margin-left: $isc-gutter;
  margin-right: $isc-gutter;
  margin-bottom: -2px;
  text-align: left;

  &.pull-left{
    justify-content: flex-start;
  }

  &.pull-right{
    justify-content: flex-end;
  }
}

.isc-tab-container{
  position: relative;
  display: inline-block;
  padding: 15px 15px 10px 15px;
  height: 42px;
  background: transparent;
  border: 1px solid transparent;
  bottom: 4px;
  cursor: default;
  cursor: pointer;

  &.active{
    background: $white;
    border-radius: 4px 4px 0 0;
    border-top:1px solid $app-border-color;
    border-left:1px solid $app-border-color;
    border-right:1px solid $app-border-color;
    border-bottom:1px solid transparent;
  }

  &.hover{
    background: $white;
    height: 40px;
  }
}

.isc-main-tab{
  display: block;
  color: $nav-link;
  font-weight: 400;
  font-size: 16px;
  background: transparent;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
  white-space: nowrap;

  &:hover{
    color: darken( $nav-link, 100 );
  }

  &.active{
    color:$nav-link;
  }
}



