.isc-account-detail {
  .dvTitle {
    color: #A0A0A0;
    font-size: 12px;
    font-weight: 500;
  }

  .dvBlock{
    padding-bottom: 10px;
  }

  .dvPara{

    font-size: 18px;
    padding-top: 2px;
  }
}
