// --------------------------------------
// responsive table
// ----------------------------------------

.isc-summary-content{
  flex-wrap: wrap;
}

.isc-table {
  border: none;
  width:100%;

  .back-button {
    margin-bottom: 20px;
    svg {
      display: inline;
      height: 17px;
    }
    span {
      font-size: $table-td-size;
      color: $black;
    }
  }

  .isc-table-btn-white {
    @extend .isc-btn-white;
    padding: 0 7px 0 2px;
  }

  table{
    width: 100%;
    border-collapse: collapse;
    left: 0;
    right: 0;

    h3{
      font-weight: 700;
      margin-bottom: 5px;
    }

    .isc-sortable {
      &:after {
        font-family: FontAwesome;
        font-size: $table-th-size;
        font-weight: 400;
        content: " \F078";
      }
      &.reverse:after {
        content: " \F077";
      }
    }
    .date {
      color: #0079ea;
      text-decoration: none;
    }

    .color-bar {
      height: 20px;
      width: 5px;
      border-radius: 5px;
      display: inline-block;
      float: left;
      margin-right: 10px;
    }

    .orange{
      background-color: orange;
    }

    .purple{
      background-color: purple;
    }

    .green{
      background-color: green;
    }
  }

  tbody{
    tr {
      border-top: 1px solid $app-border-color;
      &.isc-table-row-add {
        border-top: none;
      }
    }
  }

  td, th{
    padding: 6px;
    text-align: left;
    text-overflow: ellipsis;
  }

  th{
    color: $gray-light;
    font-size: $table-th-size;
    font-weight: 900;
  }

  td{
    color: $gray;
    font-size: $table-td-size;
    font-weight: 400;

    span {
      text-transform: capitalize;
    }

    div{
      margin-bottom: 5px;
    }

    .isc-table-columm-commands {
      width: $table-command-icon-width * 2;
    }
  }

  @media #{$phone} {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .summary-heading {
      padding-top: 20px;

      td {
        display: block;
      }
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid $tr-bkgrnd-dark;
      position: relative;
      padding-left: 50%;
      width:100%;
      display: table-cell;
      padding-left: 0%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  }

}

.isc-table-cell-main{
  font-size: $table-td-size !important;
  color: $brand-link !important;
  font-weight: 900 !important;
}

.isc-table-command-icon {
  max-width: 30px;
  border: none;
  background-color: white;
  padding: 0 10px 4px 10px !important;
  cursor: pointer;

  svg {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: $pencil-button-color;
  }

  &:hover,
  &:disabled:focus {
    svg {
      fill: darken($white-smoke, 10);
    }
  }
}
.isc-table-command-edit-icon{
  @extend .isc-table-command-icon;
}

.isc-table-command-remove-icon {
  @extend .isc-table-command-icon;
  svg{
    fill: $remove-button-color;
  }
}
