
<div class="isc-content">
  <div class="isc-page">

    <h2>{{'ISC_LOGIN' | translate}}</h2>

    <form class="isc-form"
          autocomplete="off"
          name="loginForm"
          role="form"
          ng-submit="loginCtrl.login( loginCtrl.credentials )"
          novalidate>

      <div class="isc-form-group left">
        <label class="isc-form-item-label"
               for="username">{{'ISC_USERNAME' | translate}}:</label>

        <input type="text"
               class="isc-item-wrapper-1"
               id="Username"
               placeholder="{{'ISC_USERNAME_PLACEHOLDER' | translate}}"
               required
               ng-model="loginCtrl.credentials.Username">
      </div>

      <div class="isc-form-group left">
        <label class="isc-form-item-label"
               for="password">{{'ISC_PASSWORD' | translate}}:</label>

        <input type="password"
               class="isc-item-wrapper-1"
               id="Password"
               placeholder="{{'ISC_PASSWORD_PLACEHOLDER' | translate}}"
               required
               ng-model="loginCtrl.credentials.Password">
      </div>

      <!--submit-->
      <div class="isc-form-group center">
        <button type="submit"
                id="login-button"
                ng-disabled="loginForm.$invalid"
                class="isc-btn-primary">{{'ISC_LOGIN' | translate}}</button>
      </div>

      <!--forgot password / activate / enroll-->
      <div class="isc-form-group between">
        <button ui-sref="index.info.forgot"
                id="forgot"
                class=" isc-btn-link">{{'ISC_FORGOT_USERNAME_OR_PASSWORD_BTN' | translate}}</button>

        <button ui-sref="index.info.activate"
                id="activate"
                class="isc-btn-link">{{'ISC_ACTIVATE_ACCOUNT_BTN' | translate}}</button>

        <button ui-sref="index.info.termsAndConditions"
                id="enroll"
                class=" isc-btn-link">{{'ISC_ENROLL' | translate}}</button>
      </div>
    </form>

  </div>
</div>

