<div class="isc-table">
  <!--title-->
  <h1 class="{{tableConfig.titleClass}}">{{ tableData[ tableConfig.title ] || tableConfig.title | translate }}</h1>

  <!--back button for wellness workflows -->
  <button ng-if="!!tableConfig.backButtonText"
          ng-click="backButtonCallback()"
          class="isc-table-btn-white back-button">
    <span ng-include="'svg/isc-arrow-back.html'"></span>
    <span>{{ tableConfig.backButtonText | translate }}</span>
  </button>

  <!--subtitles-->
  <h2 ng-if="tableConfig.subtitle">{{ tableData[ tableConfig.subtitle ] || tableConfig.subtitle | translate }}</h2>

  <h3 ng-if="tableConfig.subsubtitle">{{ tableData[ tableConfig.subsubtitle ] || tableConfig.subsubtitle | translate }}</h3>

  <!--desktop and tablet-->
  <table class="only-tab-plus">
    <!--header-->
    <thead>
    <tr ng-if="tableConfig.summaryTitle">
      <td>
        <span class="color-bar {{tableConfig.summaryClass}}"></span>

        <h2 class="summary-heading">{{tableRows.length}} {{tableConfig.summaryTitle | translate }}</h2>
      </td>
    </tr>

    <!-- Data column headers-->
    <tr>
      <th ng-repeat="column in tableConfig.columns track by $index">
        <a ng-class="{ 'isc-sortable': column.key === sortField.name, 'reverse': sortField.reverse }"
           ng-click="sortColumn(column)"
           class="isc-clickable">{{ column.title | translate }}</a>
      </th>

      <!--button column headers for wellness workflows-->
      <th ng-repeat="button in tableConfig.buttons track by $index">
        {{ button.title | translate }}
      </th>
    </tr>
    </thead>

    <tbody>

    <!--rows-->
    <tr dir-paginate="dataItem in tableRows | orderBy: sortField.name : sortField.reverse | itemsPerPage: rowsOnPage"
        current-page="currentPage"
        model-data="tableRows"
        pagination-id="tableConfig.key"
        isc-table-row>

      <!--data columns-->
      <td isc-table-cell
          ng-repeat="column in tableConfig.columns track by $index"
          cell-data="dataItem"
          cell-config="column"></td>

      <!--button columns for wellness workflows-->
      <td ng-repeat="button in tableConfig.buttons track by $index">
        <button class="isc-table-btn-white"
                ng-click="rowButtonCallback( {state: {name: button.key, data: dataItem} } )">
            <span ng-if="!!button.icon"
                  ng-include="button.icon"></span>
        </button>
      </td>
    </tr>
    <tr ng-if="tableConfig.editable === true" isc-table-row class="isc-table-row-add">
      <td ng-if="iscRowCtrl.inEditMode" isc-table-cell
          ng-repeat="column in tableConfig.columns track by $index"
          cell-data="dataItem"
          cell-config="column">
      </td>
      <td ng-if="!iscRowCtrl.inEditMode" colspan="{{tableConfig.columns.length}}">
        <div class="add-button-wrapper">
          <button class="isc-btn-link" ng-click="iscRowCtrl.addRow($event)">
            <span ng-include="'svg/cmc-plus-box.html'"></span>
            {{ tableConfig.addBtnTranslationKey | translate }}
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <!--phone and phab-->
  <table class="only-phab-or-below">
    <tbody>

    <!--header for summary-->
    <tr class="summary-heading" ng-if="tableConfig.summaryTitle">
      <td>
        <span class="color-bar {{tableConfig.summaryClass}}"></span>

        <h2>{{tableRows.length}} {{tableConfig.summaryTitle | translate }}</h2>
      </td>
    </tr>

    <!-- rows -->
    <tr dir-paginate="dataItem in tableRows | orderBy: sortField.name : sortField.reverse | itemsPerPage: rowsOnPage"
        current-page="currentPage"
        model-data="tableRows"
        pagination-id="tableConfig.key">

      <!--data columns-->
      <td>
        <div isc-table-cell
             ng-repeat="column in tableConfig.columns track by $index"
             cell-data="dataItem"
             cell-config="column"
             mobile-class="text-item">
        </div>
      </td>

      <!--button columns for wellness workflows-->
      <td ng-repeat="button in tableConfig.buttons track by $index">
        <h3>{{ button.title | translate }}</h3>
        <button class="isc-table-btn-white"
                ng-click="rowButtonCallback( {state: {name: button.key, data: dataItem} } )">
            <span ng-if="!!button.icon"
                  ng-include="button.icon"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <dir-pagination-controls ng-if="tableRows.length > 0 "
                           on-page-change="changePage( newPageNumber )"
                           pagination-id="tableConfig.key"
                           template-url="thirdParty/dirPagination.tpl.html"></dir-pagination-controls>

</div>