<!-- cell title -->
<h3 class="cell-title">{{ column.title | translate }}</h3>

<!-- text -->
<span ng-if="column.type === 'text' || !column.type">
  <span ng-if="!iscRowCtrl.inEditMode"
        ui-sref="{{column.sref || state }}"
        class="{{ mobileClass }} {{ getTrClass( displayText )}}">{{ getDisplayText() | translate }} {{ displayUnit }}</span>

  <span ng-if="iscRowCtrl.inEditMode">
    <input ng-required="column.required"
           name="{{column.key}}" type="text" class="{{ column.inputCssClass }}" ng-model="iscRowCtrl.editModeData[column.key]">
  </span>
</span>

<!-- ? subtext ? -->
<span ng-if="!!displayText2"
      class="{{ mobileClass }} {{ getTrClass( displayText2 )}}">{{ displayText2  | translate }}</span>


<!-- date display -->
<span ng-if="column.type === 'date' || column.type === 'dateWithTime'">
  <a ng-if="!iscRowCtrl.inEditMode && column.sref"
     ui-sref="{{column.sref || state }}"
     class="{{ mobileClass }} {{ getTrClass( displayText )}} date">{{ getDisplayText() | iscDateFilter : column.type ===
    'dateWithTime' : column.type === 'date' }}
  </a>
  <span ng-if="!iscRowCtrl.inEditMode && !column.sref"
        class="{{ mobileClass }} {{ getTrClass( displayText )}}">{{ getDisplayText() | iscDateFilter : column.type ===
    'dateWithTime' : column.type === 'date' }}
  </span>

  <datepicker date-format="longDate" ng-if="iscRowCtrl.inEditMode">
    <input ng-required="cellConfig.required" type="text"
           name="{{column.key}}" class="{{ column.inputCssClass }}" ng-model="iscRowCtrl.editModeData[column.key]">
  </datepicker>
</span>

<!-- button with an sref -->
<button ng-if="column.type === 'buttonWithSref'"
        ui-sref="{{column.sref || state }}"
        class="{{ mobileClass }} {{ getTrClass( displayText )}}">{{ getDisplayText() | translate}}
</button>

<!-- button with a callback -->
<button ng-if="column.type === 'buttonWithCallback'"
        ng-click="column.callback( dataItem )"
        class="{{ mobileClass }} {{ getTrClass( displayText )}}">{{ getDisplayText() | translate }}
</button>

<!-- text area -->
<span ng-if="column.type === 'textarea'">
  <span ng-if="!iscRowCtrl.inEditMode"
        ui-sref="{{column.sref || state }}"
        class="{{ mobileClass }} {{ getTrClass( displayText )}}">{{ dataItem[column.key]  | translate }} {{ displayUnit }}</span>

  <span ng-if="iscRowCtrl.inEditMode">
    <textarea ng-required="column.required"
              name="{{column.key}}" type="text" class="{{ column.inputCssClass }}"
              ng-model="iscRowCtrl.editModeData[column.key]"/>
  </span>
</span>

<!-- checkbox -->
<span ng-if="column.type === 'checkbox'">
  <input ng-if="!iscRowCtrl.inEditMode" type="checkbox" disabled="disabled" ng-checked="dataItem[column.key]"
         class="{{ mobileClass }} {{ getTrClass( displayText )}}">
  <input ng-if="iscRowCtrl.inEditMode" type="checkbox"
         name="{{column.key}}"
         class="{{ mobileClass }} {{ column.inputCssClass }}" ng-model="iscRowCtrl.editModeData[column.key]">
</span>

<!-- template -->
<span ng-if="column.type === 'template'">
  <div ng-include="column.template"></div></span>

<!-- dropdown -->
<span ng-if="column.type === 'dropdown'">
  <span ng-if="!iscRowCtrl.inEditMode"
        ui-sref="{{column.sref || state }}"
        class="{{ mobileClass }} {{ getTrClass( displayText )}}">{{ dataItem[column.key][column.dropdownConfig.value || 'value']  | translate }} {{ displayUnit }}</span>

  <isc-dropdown ng-if="iscRowCtrl.inEditMode"
                drop-required="column.required"
                list-data="column.dropdownConfig.listData"
                list-field="{{column.dropdownConfig.value || 'value'}}"
                drop-use-primative="column.dropdownConfig.usePrimative"
                drop-width="column.dropdownConfig.dropWidth"
                drop-maxwidth="column.dropdownConfig.dropMaxwidth"
                drop-minwidth="column.dropdownConfig.dropMinwidth"
                drop-selected-item="iscRowCtrl.editModeData[column.key]"
                drop-id="{{column.dropId ||('ddl' + $id + column.key)}}">
  </isc-dropdown>
</span>

<!-- commands -->
<div ng-if="column.type === 'commands'" class="isc-table-columm-commands">
  <span ng-if="!iscRowCtrl.inEditMode">

    <button class="isc-table-command-edit-icon" ng-disabled="iscTblCtrl.dataItem" ng-click="iscRowCtrl.onCommand('edit', $event, column.commands.edit.callback)">
      <span ng-include="'svg/isc-table-edit-icon.html'"></span>
    </button>

    <button class="isc-table-command-remove-icon" ng-disabled="iscTblCtrl.dataItem" ng-click="iscRowCtrl.onCommand('remove', $event, column.commands.remove.callback)">
      <span ng-include="'svg/isc-table-remove-icon.html'"></span>
    </button>
  </span>

  <span ng-if="iscRowCtrl.inEditMode">
    <button ng-disabled="iscRowForm.$invalid" class="isc-table-command-save-icon"
            ng-click="iscRowCtrl.onCommand('save', $event, column.commands.save.callback)">
      <span ng-include="'svg/isc-table-save-icon.html'"></span>
    </button>
    <button class="isc-table-command-cancel-icon" ng-click="iscRowCtrl.onCommand('cancelEdit', $event, column.commands.cancelEdit.callback)">
      <span ng-include="'svg/isc-table-cancel-icon.html'"></span>
    </button>
  </span>
</div>
