<div class="isc-table">
  <!--title-->
  <h1 class="{{iscTblCtrl.tableConfig.titleClass}}">{{ iscTblCtrl.tableData[ iscTblCtrl.tableConfig.title ] || iscTblCtrl.tableConfig.title | translate }}</h1>

  <!--back button for wellness workflows -->
  <button ng-if="!!iscTblCtrl.tableConfig.backButtonText"
          ng-click="iscTblCtrl.backButtonCallback()"
          class="isc-table-btn-white back-button">
    <span ng-include="'svg/isc-arrow-back.html'"></span>
    <span>{{ iscTblCtrl.tableConfig.backButtonText | translate }}</span>
  </button>

  <!--subtitles-->
  <h2 ng-if="iscTblCtrl.tableConfig.subtitle">{{ iscTblCtrl.tableData[ iscTblCtrl.tableConfig.subtitle ] || iscTblCtrl.tableConfig.subtitle | translate }}</h2>

  <h3 ng-if="iscTblCtrl.tableConfig.subsubtitle">{{ iscTblCtrl.tableData[ iscTblCtrl.tableConfig.subsubtitle ] || iscTblCtrl.tableConfig.subsubtitle | translate }}</h3>
  <!--desktop and tablet-->
  <table class="{{iscTblCtrl.tableConfig.tableClass}}">
    <!--header-->
    <thead>
    <tr ng-if="iscTblCtrl.tableConfig.summaryTitle">
      <td>
        <span class="color-bar {{iscTblCtrl.tableConfig.summaryClass}}"></span>

        <h2 class="summary-heading">{{iscTblCtrl.tableRows.length}} {{iscTblCtrl.tableConfig.summaryTitle | translate }}</h2>
      </td>
    </tr>

    <!-- Data column headers-->
    <tr >
      <th ng-repeat="column in iscTblCtrl.tableConfig.columns track by $index">
        <span ng-if="column.sortable === false">  {{column.title | translate}} </span>
        <a ng-if="column.sortable !== false" ng-class="{ 'isc-sortable': column.key === iscTblCtrl.sortField.name, 'reverse': iscTblCtrl.sortField.reverse }"
           ng-click="iscTblCtrl.sortColumn(column)"
           class="isc-clickable">{{ column.title | translate }}</a>
      </th>

      <!--button column headers for wellness workflows-->
      <th ng-repeat="button in iscTblCtrl.tableConfig.buttons track by $index">
        {{ button.title | translate }}
      </th>
    </tr>
    </thead>
    <tbody>

    <!--rows-->
    <tr dir-paginate="dataItem in iscTblCtrl.tableRows | orderBy: iscTblCtrl.sortField.name : iscTblCtrl.sortField.reverse | itemsPerPage: iscTblCtrl.rowsOnPage"
        current-page="iscTblCtrl.currentPage"
        model-data="iscTblCtrl.tableRows"
        pagination-id="iscTblCtrl.tableConfig.key"
        ng-form
        name="iscRowForm"
        isc-table-row>
    </tr>

    <!--empty row -->
    <tr ng-if="!iscTblCtrl.tableRows.length">
      <td colspan="{{iscTblCtrl.tableConfig.columns.length}}">
          {{(iscTblCtrl.tableConfig.emptyRowMessage || 'There are currently no items.') | translate}}
      </td>
    </tr>

    <!--add row -->
    <tr ng-if="iscTblCtrl.dataItem.isNew"
        isc-table-row
        ng-form
        name="iscRowForm">
    </tr>
    <tr class="isc-table-row-add" >
      <td colspan="{{iscTblCtrl.tableConfig.columns.length}}">
        <div class="add-button-wrapper">
          <button ng-disabled="iscTblCtrl.dataItem" class="isc-btn-link" ng-click="iscTblCtrl.createRow()">
            <span ng-include="'svg/isc-plus-box.html'"></span>
            {{ iscTblCtrl.tableConfig.addBtnTranslationKey | translate }}
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <dir-pagination-controls ng-if="iscTblCtrl.tableRows.length > 0 "
                           on-page-change="iscTblCtrl.changePage( newPageNumber )"
                           pagination-id="iscTblCtrl.tableConfig.key"
                           template-url="thirdParty/dirPagination.tpl.html"></dir-pagination-controls>

</div>