<div class="isc-page">
  <!--EMERGENCY WARNING-->
  <div isc-messages-emergency-warning
       close-warning="mvCtrl.closeEmergencyWarning()"
       show-emergency-warning="mvCtrl.showEmergencyWarning"
       ng-class="{'show-warning' : mvCtrl.showEmergencyWarning}"></div>

  <!--VIEW MESSAGE-->
  <div class="isc-message-wrapper"
       ng-class="{'fade-in-out-messages': mvCtrl.reply }">

    <div class="isc-show-message-wrapper">
      <div id="fixed-scroll"
           class="isc-scroll-stick-container"
           ng-class="{'scroll-stick':mssgCtrl.scrollStick}"
           isc-scroll-detect
           top-pos-array="[150, 110, 300]"
           add-class="mssgCtrl.setButtonClass( val )">


        <button class="isc-back-arrow-icon pull-left"
                ng-disabled="false"
                ui-sref="{{mvCtrl.mail.$$parentSref}}">
          <span ng-include="'common/svg/isc-task-arrow-left.html'"></span>
        </button>

        <button class="isc-btn-secondary pull-left"
                ng-click="mvCtrl.reply = true">{{'ISC_REPLY' | translate}}</button>

        <button class="isc-btn-secondary pull-left">{{'ISC_ARCHIVE' | translate}}</button>

      </div>

      <div class="isc-message">

        <div class="isc-message-info"
             ng-if="::mvCtrl.stateManager.isInbox( mvCtrl.mail.$$parentSref )">
          <h1 class="pull-left">{{'ISC_FROM' | translate}}:&nbsp;</h1>
          <h2 class="pull-left">{{::mvCtrl.mail.From}}</h2>
        </div>

        <div class="isc-message-info"
             ng-if="::mvCtrl.stateManager.isOutbox( mvCtrl.mail.$$parentSref )">
          <h1 class="pull-left">{{'ISC_TO' | translate}}:&nbsp;</h1>
          <h2 class="pull-left">{{::mvCtrl.mail.To}}</h2>
        </div>

        <div class="isc-message-info">
          <h1 class="pull-left">{{'ISC_SUBJECT' | translate}}:&nbsp;</h1>
          <h2 class="pull-left">{{::mvCtrl.mail.Subject}}</h2>
        </div>

        <div class="isc-message-info">
          <h1 class="pull-left">{{'ISC_DATE' | translate}}:&nbsp;</h1>
          <h2 class="pull-left">{{::mvCtrl.mail.Time | iscDateFilter}}</h2>
        </div>

        <div class="isc-message-body"
             isc-dynamic-html="mvCtrl.mail.messageBody"></div>
      </div>
    </div>

    <!--EDIT MESSAGE VIEW-->
    <div class="isc-edit-message-wrapper">

      <div id="fixed-scroll"
           class="isc-scroll-stick-container"
           ng-class="{'scroll-stick':mssgCtrl.scrollStick}"
           isc-scroll-detect
           top-pos-array="[150, 110, 300]"
           add-class="mssgCtrl.setButtonClass( val )">


        <button class="isc-back-arrow-icon pull-left"
                ng-click="mvCtrl.reply = false">
          <span ng-include="'common/svg/isc-task-arrow-left.html'"></span>
        </button>

        <button class="isc-btn-secondary pull-left"
                ng-disabled="!mvCtrl.sendEnabled()"
                ng-click="mvCtrl.sendReply()">{{'ISC_SEND_REPLY' | translate}}</button>

        <button class="isc-btn-secondary pull-left"
                ui-sref="{{mvCtrl.mail.$$parentSref}}">{{'ISC_CANCEL_BTN' | translate}}</button>

      </div>

      <div class="isc-message">

        <form class="isc-message-reply-form"
              autocomplete="off"
              id="messageForm"
              role="form"
              novalidate>

          <!-- reply to -->
          <div class="isc-form-group-stacked">
            <label class="item isc-form-item-label"
                   for="replyTo">{{'ISC_REPLY_TO' | translate}}:</label>

            <input type="text"
                   class="item isc-item-wrapper-4"
                   id="replyTo"
                   placeholder="{{'ISC_CURRENT_PASSWORD_PLACEHOLDER' | translate}}"
                   ng-disabled="true"
                   ng-model="mvCtrl.messageViewModel.getCurrentMailReply().from">
          </div>

          <!-- subject -->
          <div class="isc-form-group-stacked">
            <label class="item isc-form-item-label"
                   for="subject">{{'ISC_SUBJECT' | translate}}:</label>

            <input type="text"
                   class="item isc-item-wrapper-4"
                   id="subject"
                   placeholder="{{'ISC_SUBJECT' | translate}}"
                   required
                   ng-model="mvCtrl.messageViewModel.getCurrentMailReply().subject">
          </div>

          <!-- message body -->
          <div class="isc-form-group-stacked">
            <label class="item isc-form-item-label">{{'ISC_MESSAGE_BODY' | translate}}:</label>

          <textarea class='autoExpand'
                    rows='3'
                    data-min-rows='3'
                    ng-model="mvCtrl.messageViewModel.getCurrentMailReply().body"
                    placeholder="{{'ISC_ENTER_REPLY' | translate}}"></textarea>


          </div>
        </form>

      </div>
    </div>
  </div>
</div>


