
	<div ng-focus="showHideItems(dropId,event)" ng-blur="showHideItems(dropId,event)" tabindex="0" class="isc-dropdown isc-dd {{dropCssClass}}"  ng-class="{'invalid': dropRequired && !dropSelectedItem}"
       id="{{dropId}}-main">

    <!--captures the click events-->
		<div class="isc-drop-click isc-dd {{dropListCssClass}}"
         ng-click="showHideItems(dropId,event)">&nbsp;</div>

    <!--the main dd button-->
		<div  class="isc-dropdown-btn isc-clickable isc-dd {{dropListCssClass}}"
          id="{{dropId}}-block">

			<div class="isc-dropdown-item {{dropId}}-btn isc-dd {{dropListCssClass}}"
           id="{{dropId}}-btn">
        <span ng-if="dropIcon"
              class="{{dropIcon}} isc-dd {{dropListCssClass}}"></span>&nbsp;{{dropTitle | translate}}
      </div>

			<div ng-repeat="item in listData"
           id="{{dropId}}-list"
           ng-click="selectItem(item[listField])"
           class="isc-dropdown-item {{dropId}}-btn isc-dd {{dropListCssClass}}" >{{item[listField] | translate}}
        <span class="{{dropIcon}} isc-dd isc-dd-icon"></span>
      </div>

		</div>

    <!-- down chevron icon-->
    <div class="isc-drop-icon isc-dd {{dropChevronCssClass}}"
         id="{{dropId}}-icon"><span ng-include="'svg/isc-chevron-down.html'"></span>
    </div>

    <input name="{{dropId || 'dropId'+listField}}" hidden ng-model="dropSelectedItem" ng-required="dropRequired">
	</div>

