<tr>
  <td>
    <div isc-check-box
         ng-model="mail.$$selected"
         on-toggle="mmCtrl.toggleSelected( selected )"></div>
  </td>

  <td class="isc-td-clickable"
      ng-click="mmCtrl.onSelectMessage( mmCtrl.mail )"><span class="isc-read-message-icon"
                                     ng-include="'common/svg/isc-read-message-icon.html'"></span></td>

  <td class="isc-td-clickable"
      ng-click="mmCtrl.onSelectMessage( mmCtrl.mail )"><span class="isc-message-from">{{::mmCtrl.actor}}</span></td>

  <td class="isc-td-clickable"
      ng-click="mmCtrl.onSelectMessage( mmCtrl.mail )"><span class="isc-message-subject">{{::mmCtrl.mail.Subject}}</span></td>

  <td class="isc-td-clickable"
      ng-click="mmCtrl.onSelectMessage( mmCtrl.mail )"><span class="isc-message-subject">{{::mmCtrl.mail.Time | iscDateFilter:true}}</span></td>
</tr>

