
  <div class="btn-group justified">
    <div class="btn-group pull-left">

      <span class="isc-greeting-left">{{'ISC_COPYRIGHT1' | translate}}</span>
      <span class="isc-greeting-left">{{'ISC_COPYRIGHT2' | translate}}</span>

      <a ui-sref="index.info.legal"
         class="isc-greeting-left">
        <i class="fa fa-info-circle"></i>&nbsp;{{'ISC_LEGAL' | translate}}
      </a>

      <a ui-sref="index.info.terms"
         class="isc-greeting-left">
        <i class="fa fa-info-circle"></i>&nbsp;{{'ISC_TERMS' | translate}}
      </a>

    </div>
  </div>

