<!-- desktop -->
<div class="isc-footer-link-container only-desktop">

  <div class="left">
    <span class="isc-footer-text" >{{'ISC_COPYRIGHT1' | translate}}</span>
  </div>

  <div class="right">
    <a class="isc-footer-link"
       ui-sref="index.info.about">{{'ISC_ABOUT_US' | translate}}</a>
    <a class="isc-footer-link"
       ui-sref="index.info.legal">{{'ISC_LEGAL' | translate}}</a>
    <a class="isc-footer-link"
       ui-sref="index.info.terms">&nbsp;{{'ISC_TERMS' | translate}}</a>
  </div>
</div>


<div class="isc-footer-link-container only-tablet">
  <div class="left">
    <span class="isc-footer-text" >{{'ISC_COPYRIGHT1' | translate}}</span>
  </div>
</div>


<div class="isc-footer-link-container only-phone">
  <div class="left">
    <span class="isc-footer-text" >{{'ISC_COPYRIGHT_SHORT' | translate}}</span>
  </div>
</div>






