<!-- desktop -->
<div class="only-desktop">
  <div class="isc-footer-link-container">

    <div class="left">
      <span class="isc-footer-text" >{{'ISC_COPYRIGHT1' | translate}}</span>
    </div>

    <div class="right">
      <a class="isc-footer-link"
         ui-sref="index.info.about">{{'ISC_ABOUT_US' | translate}}</a>
      <a class="isc-footer-link"
         ui-sref="index.info.legal">{{'ISC_LEGAL' | translate}}</a>
      <a class="isc-footer-link"
         ui-sref="index.info.terms">&nbsp;{{'ISC_TERMS' | translate}}</a>
    </div>
  </div>

</div>


<div class="only-tablet">
  <div class="isc-footer-link-container">
    <div class="left">
      <span class="isc-footer-text" >{{'ISC_COPYRIGHT1' | translate}}</span>
    </div>
  </div>
</div>


<div class="only-phone">
  <div class="isc-footer-link-container">
    <div class="left">
      <span class="isc-footer-text" >{{'ISC_COPYRIGHT_SHORT' | translate}}</span>
    </div>
  </div>
</div>






