

<!--top nav-->

<div class="isc-nav-bar-container"
     ng-controller="iscNavbarController as navbarCtrl">

  <!--top section-->
  <div class="isc-top-nav-container theme">

    <div class="left">
      <!-- logo -->
      <div class="isc-nav-item">
        <span class="isc-logo" ng-include="'shared/svg/logo.html'"></span>
      </div>
      <!--<img class="isc-logo isc-nav-item"-->
           <!--src="assets/images/logo-big.png">-->

      <!-- app name -->
      <div class="isc-app-name-container isc-nav-item left">
        <span class="isc-app-name-divider">&nbsp;|&nbsp;</span>
        <span class="isc-app-name">{{'ISC_APP_NAME' | translate }}</span>
      </div>
    </div>

    <!-- proxy selects -->
    <div class="right">

      <div ng-if="navbarCtrl.sessionModel.isAuthenticated()"
           class="isc-nav-item right">

        <!-- proxy select -->
        <label class="isc-nav-label isc-nav-item right">{{'ISC_VIEWING' | translate}}:</label>

        <div class="isc-styled-select-navbar proxy isc-nav-item right">
          <select>
            <option>Select an Option</option>
            <option>Option 1</option>
            <option>Option 2</option>
          </select>
        </div>

        <!--user select-->
        <label class="isc-nav-label isc-nav-item right">{{'ISC_USER' | translate}}:</label>

        <div class="isc-styled-select-navbar isc-nav-item right">
          <select>
            <option>Select an Option</option>
            <option>Option 1</option>
            <option>Option 2</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!--tabs-->
  <div class="isc-sub-nav-container">
    <div class="isc-main-tabs pull-left">
      <div class="isc-tab-container pull-left"
           ng-repeat="tab in navbarCtrl.tabs | orderBy: navbarCtrl.iscUiHelper.displayOrder"
           ng-class="{'active': tab.$$active }"
           ng-if="!tab.exclude">
        <a class="isc-main-tab"
           ng-class="{'active': tab.$$active }"
           ng-click="navbarCtrl.setTabActive( tab )"
           ui-sref="{{tab.state}}">{{tab.translationKey | translate}}</a>
      </div>
    </div>

    <div class="isc-main-tabs pull-right">

      <!-- login -->
      <div class="isc-tab-container pull-right"
           ng-if="navbarCtrl.showLogin()">
        <a class="isc-main-tab"
           ui-sref="index.login">{{'ISC_LOGIN' | translate}}</a>
      </div>

      <!-- logout -->
      <div class="isc-tab-container pull-right"
           ng-if="navbarCtrl.showLogout()">
        <a class="isc-main-tab"
           ng-click="navbarCtrl.logout()">{{'ISC_LOGOUT' | translate}}</a>
      </div>

    </div>
  </div>

</div>
