

<h1 class="app-name">HS Community</h1>

<div class="scrollable">
  <h1 class="scrollable-header app-name">HS Community</h1>
  <div class="scrollable-content"
      ng-controller="iscNavbarController as navbarCtrl">
    <div class="list-group"
         ui-turn-off='uiSidebarLeft'>

      <div ng-repeat="tab in navbarCtrl.tabs | orderBy: navbarCtrl.iscUiHelper.displayOrder"
           ng-if="navbarCtrl.showTab( tab )">

        <a class="list-group-item"
           ui-sref="{{tab.state}}">
          <i class="{{tab.iconClasses}}"></i>
          &nbsp;{{tab.translationKey | translate}}
          <i class="fa fa-chevron-right pull-right"></i>
        </a>

      </div>
    </div>
  </div>
</div>
