
// themed nav bar
.isc-top-nav-container{
  &.theme{
    background: $brand-primary;
  }
}

// themed footer bar
.isc-app-footer{

  background-color: $brand-primary;

  @media #{$desktop} {
    height: $app-footer-height;
    max-height: $app-footer-height;
  }

  @media #{$tablet} {
    height: $app-footer-height-sm;
    max-height: $app-footer-height-sm;
  }

  @media #{$phone}  {
    height: $app-footer-height-sm;
    max-height: $app-footer-height-sm;
  }
}

// themed sidebar
.isc-scrollable-header {
  @extend .isc-side-nav-header;
  background-color: $brand-primary;
}
