/*
  UTILITIES - TO DO
  ---------

  Responsive helper classes to assist you in quickly doing basic formatting and layout.

  Features:
   - Visibility
   - Layout alignment
   - Typography
   - Color Swatches
   - Dev Helpers
*/

/*------ Visibility ------*/
// Makes an element visually hidden, but accessible.
/*
.hidden {
  @include element-invisible;
}
*/
/*------ Layout ------*/

//Adds Global Padding
.padding {padding: $global-padding;}

//Add Directional Padding
.padding-top {padding-top: $global-padding;}
.padding-top-double {padding-top: $global-padding * 2;}
.padding-bottom {padding-bottom: $global-padding;}
.padding-bottom-double {padding-bottom: $global-padding * 2;}
.padding-#{$global-left} {padding-#{$global-left}: $global-padding;}
.padding-#{$global-left}-half {padding-#{$global-left}: $global-padding / 2;}
.padding-#{$global-right} {padding-#{$global-right}: $global-padding;}
.padding-#{$global-right}-half {padding-#{$global-right}: $global-padding / 2;}

.small-collapse {
  @media #{$small} {
    margin: 0;
    padding: 0;
  }
}

.medium-collapse {
  @media #{$medium} {
    margin: 0;
    padding: 0;
  }
}

.large-collapse {
  @media #{$large} {
    margin: 0;
    padding: 0;
  }
}

.small-padding-#{$global-left} {
  @media #{$small} {
    padding-#{$global-left}: 1rem;
  }
}

.small-padding-#{$global-right} {
  @media #{$small} {
    padding-#{$global-right}: 1rem;
  }
}

.medium-padding-#{$global-left} {
  @media #{$medium} {
    padding-#{$global-left}: 1rem;
  }
}

.medium-padding-#{$global-right} {
  @media #{$medium} {
    padding-#{$global-right}: 1rem;
  }
}

.large-padding-#{$global-left} {
  @media #{$large} {
    padding-#{$global-left}: 1rem;
  }
}

.large-padding-#{$global-right} {
  @media #{$large} {
    padding-#{$global-right}: 1rem;
  }
}

//Add Directional Margins
.margin-top {margin-top: $global-margin;}
.margin-top-double {margin-top: $global-margin * 2;}
.margin-bottom {margin-bottom: $global-margin;}
.margin-bottom-double {margin-bottom: $global-margin * 2;}
.margin-#{$global-left} {margin-#{$global-left}: $global-margin;}
.margin-#{$global-left}-half {margin-#{$global-left}: $global-margin / 2;}
.margin-#{$global-right} {margin-#{$global-right}: $global-margin;}
.margin-#{$global-right}-half {margin-#{$global-right}: $global-margin / 2;}

//Helpers to Remove Margins and Padding
.collapse {
  padding: 0;
  margin: 0;
}

.collapse-#{$global-left} {
  margin-#{$global-left}: 0;
  padding-#{$global-left}: 0;
}

.collapse-#{$global-right} {
  margin-#{$global-right}: 0;
  padding-#{$global-right}: 0;
}

.collapse-top {
  margin-top: 0;
  padding-top: 0;
}

.collapse-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

// Full-Width Helper
.expand {width: 100%;}


/*------ Typography ------*/

.highlight {background-color: $gray-light;}

.text-truncate { @include text-truncate; }

.clickable {cursor: pointer;}


/*------ Color Swatches ------*/


/* Style Exportss */
@include exports(utilities) {

  /* Color Theming Utility classes for any element */

  // Background
  div, span {

    @each $color in map-keys($theme-colors) {
      &.background-#{$color} {
        $color-name: map-get($theme-colors, $color);
        $threshold: 60%;
        background: $color-name;
        color: isitlight($color-name, $body-font-color, $light-text);

        h1, h2, h3, h4, h5, h6 {color: isitlight($color-name, $header-font-color, $light-text); margin-bottom: $global-padding/2;}
        p, label {color: isitlight($color-name, $body-font-color, $light-text);}

        a {
          text-decoration: underline;

          @if (lightness($color-name) > $threshold) {
            color: $anchor-font-color;
          }
          @else {
            color: $light-text;
          }
        }
      }
    }
  }

  // Text
  h1, h2, h3, h4, h5, h6, p, i, label, span, abbr, blockquote {

    @each $color in map-keys($theme-colors) {
      &.text-#{$color} {
        $color-name: map-get($theme-colors, $color);
        color: $color-name;
      }
    }

  }

  // Links
  a {

    @each $color in map-keys($theme-colors) {
      &.link-#{$color} {
        $color-name: map-get($theme-colors, $color);
        color: $color-name;

        svg {fill: smartscale($color-name, 15%);}
        i {color: $color-name;}

        &:hover, &:focus, &:active {
          color: smartscale($color-name, 15%);

          svg {fill: smartscale($color-name, 15%);}
          i {color: smartscale($color-name, 15%);}
        }
      }
    }

  }

  /* Hide For Print Class */
  .no-print {
    @media #{$print}{
      display: none;
    }
  }

}
