@import "font-awesome/font-awesome";

// use for dev only
@import "helpers";

// isc styles
@import "isc/isc";

// styles related to the datepicker
@import "datepicker/angular-datepicker";

// styles related to the calendar
@import "fullcalendar/fullcalendar";

// pagination directive styles
@import "pagination-directive/isc-pagination";




.isc-banner {
  text-align:center;
  background-color: orange;
}