/*
  TABLES
  ----------

  Includes a few basic style variations for table elements - Just getting started here; more coming soon.
   - Basic Tables: Striped, Hover, Scroll, Full-Width
   - Gridded "Faux" Tables (By Rows): Striped, Hover
   - Gridded "Faux" Tables (By Columns): Striped, Hover
   - Sortable, Filterable, Clickable Table Heads (All Table Types)
   - Rules for Special Elements Inside Tables
   -
*/

/* Basic Tables */

table {
  font-family: $body-font-family, "Helvetica", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: $font-weight-normal;
  font-size: 0.875rem; // Change to variable
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
  border-radius: 0;
  color:  $body-font-color;

  thead {
    border-top: 1px solid lighten($app-border-color, 2);
    border-bottom: 1px solid lighten($app-border-color, 2);

    th {
      padding: 0.65rem;
      text-align: left;
      border-left: 1px solid lighten($app-border-color, 2);
      border-right: 1px solid lighten($app-border-color, 2);
      font-weight: $font-weight-semi-bold;
      white-space: nowrap;
    }
  }

  tbody {

    tr {
      border-top: 1px solid $app-border-color;
      border-bottom: 1px solid $app-border-color;

      td {
        padding: 0.65rem;
        text-decoration: none;
        vertical-align: middle;
        border-left: 1px solid lighten($app-border-color, 2);
        border-right: 1px solid lighten($app-border-color, 2);

        .button, button, .button-group, ul {
          margin: 0;
        }
      }
    }
  }

  // Striped Rows
  &.striped {

    thead, tbody, tfoot {
      background: initial;
    }

    thead {
      border-top: 1px solid lighten($app-border-color, 2);
    }

    tbody {

      tr {
        border-top: 1px solid lighten($app-border-color, 2);
        border-bottom: 1px solid lighten($app-border-color, 2);

        &:nth-child(even) {
          background: #f9f9f9;
        }
      }
    }

    thead, tfoot {
      background: #f9f9f9;
      color: $body-font-color;

      tr {
        background: transparent;
      }

      th, td {
        font-weight: $font-weight-bold;
        text-align: left;
      }
    }
  }

  // Hover Tables
  &.hover {

    tr {
      &:hover {
        background-color: #f5f5f5;
        cursor: pointer;
      }
    }
  }

  // Scroll Tables
  &.scroll {
    display: block;
    width: 100%;
    overflow-y: scroll;
  }

  // Full-Width Tables
  &.expand {
    width: 100%;
  }
}


/* Gridded ("Faux") Tables By Rows */

.grid-table {
  border-top: 1px solid $app-border-color;
  border-bottom: 1px solid $app-border-color;
  margin-bottom: 2rem;
  display: table;

  .thead {
    display: table-header-group;

    .tr {
      display: table-row;

      .th {
        display: table-cell;
        font-weight: $font-weight-bold;

        @media #{$small} {
          font-weight: $font-weight-semi-bold;
        }
      }
    }
  }

  .tbody {
    display: table-row-group;

    .tr {
      display: table-row;

      .td {
        display: table-cell;
        border-top: 1px solid $app-border-color;
      }
    }
  }

  .th, .td {
    padding: 0.65rem;
    vertical-align: middle;
    line-height: 1.4;
    font-size: 0.875rem;
    border-left: 1px solid $app-border-color;

    @media #{$small} {
      padding: 0.3125rem;
      font-size: 0.75rem;
    }

    &:last-of-type {
      border-right: 1px solid $app-border-color;
    }
  }

  // Striped Tables
  &.striped {

    .tr {
      &:nth-child(even) {
        background: #f9f9f9;
      }
    }

    .thead {
      background: #f9f9f9;
      color: $body-font-color;

      .th, .td {
        font-weight: $font-weight-bold;
        text-align: left;
      }
    }
  }

  // Hover Tables
  &.hover {

    .tr {
      &:hover {
        background-color: #f5f5f5;
        cursor: pointer;
      }
    }
  }
}

/* Gridded ("Faux") Tables by Columns */

.grid-table-columns {
  margin-bottom: 2rem;

  .column {
    border-top: 1px solid $app-border-color;
    border-bottom: 1px solid $app-border-color;
    border-left: 1px solid $app-border-color;

    &:last-of-type {
      border-right: 1px solid $app-border-color;
    }
  }

  .th, .td {
    padding: 0.65rem;
    vertical-align: middle;
    line-height: 1.4;
    font-size: 0.875rem;

  }

  .th {
    font-weight: $font-weight-bold;
  }

  .td {
    font-weight: $font-weight-normal;
    border-top: 1px solid $app-border-color;
  }

  // Striped Rows
  &.striped {

    .th {
      background: #f9f9f9;
    }

    .column {

      .td {

        &:nth-child(odd) {
          background: #f9f9f9;
        }
      }
    }
  }

  // Striped Columns
  &.striped-columns {

    .column {

      &:nth-child(even) {
        background: #f9f9f9;
      }
    }
  }

  // Hover Columns
  &.hover {

    .column {
      &:hover {
        background-color: #f5f5f5;
        cursor: pointer;
      }
    }
  }
}

/* Clickable, Sortable, Filterable Table Heads */

th, .th {

  //Clickable Table Head
  a {
    color:  $body-font-color;
    cursor: hand;
    font-weight: $font-weight-bold;
    padding: 0;
    font-size: 0.875rem;

    @media #{$small} {
      font-weight: $font-weight-semi-bold;
    }
  }

  // Sortable Columns
  &.isc-sortable {
    a {
      white-space: nowrap;

      &.reverse:after {
        font-family: FontAwesome;
        font-size: 0.75rem; // Change to variable
        font-weight: 300;
        content: "\F077";
        padding-left: 0.3125rem;

        @media #{$small} {
          padding-left: 0.25rem;
          font-weight: $font-weight-semi-bold;
          font-size: 0.65rem; // Change to variable
        }
      }
    }

    &.hover {
      background-color: #ccc;
      color: $primary-color;
    }
  }

  // Filterable Columns
  &.isc-filterable {
    a {
      white-space: nowrap;

      &:after {
        font-family: FontAwesome;
        font-size: 0.75rem; // Change to variable
        font-weight: 300;
        content: " \f0b0";
        padding-left: 0.3125rem;
        vertical-align: middle;
      }
    }
  }
}

/* Rules for Special Elements Inside Tables */

table, .grid-table, .grid-table-columns {

  //Table Titles
  .title {
    padding: 0;
    margin: 0 0 1.25rem 0;
    color: $body-font-color;
    font-size: 1.5rem;
    font-weight: $font-weight-semi-bold;

    @media #{$phab-or-less} {
      font-size: 1rem;
    }
  }

  caption {
    font-weight: bold;
    padding: 0.5rem 0.625rem 0.625rem;
  }

  .date {text-decoration: none;}

  .cell-title {display: none;}

  //Lists in Tables
  ul, ol {
    margin: 0;
    font-size: 0.875rem;
  }

  // Menu Bars
  .menu-bar {
    background: transparent;
    margin: 0 auto;

    li {
      a {
        padding: 0.65rem 1rem;

        @media #{$small} {
          padding: 0.5rem 0.75rem;
        }
      }
    }

    &.condense {
      li {
        a {
          padding: 0.65rem;

          @media #{$small} {
            padding: 0.5rem;
          }
        }
      }
    }
  }

  //Buttons
  button, a.button {
    margin: 0;
  }

  //Button Groups
  .button-group {
    background: transparent;

    li {
      a {

        @media #{$small} {
          padding: 0.3125rem 0.5rem;
          font-size: 0.75rem;
        }

        .fa-lg {

          @media #{$small} {
            font-size: 0.85rem;
            line-height: 0.2rem;
            //vertical-align: -15%;
          }
        }
      }
    }
  }

  //section-blocks
  .section-block {
    margin-bottom: 0;
  }

  //Add New Record Wrapper
  .add-record {
    margin: 2rem 0 0 0;
    width: 100%;
    padding: 0;
  }

  @media only screen and (min-width: 1025px) and (max-width: 1045px){
    font-size: 0.875rem;
  }

  @media #{$medium} {
    font-size: 0.9375rem;
  }

  @media #{$small} {
    font-size: 0.875rem;
    white-space: nowrap;
  }
}
