html,
body{
  @include box-sizing( border-box );
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

textarea{
  display:block;
  box-sizing: padding-box;
  max-width: 100%;
  overflow:hidden;
  padding:10px;
  font-size:13px;
  border-radius:3px;
  @include isc-placeholder(.5, 13, 300 );
}

textarea,
input{
  @include box-sizing( border-box );
  outline: none;
}

textarea,
input:not([type=submit]):not([type=file]):not([type=checkbox]):-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px rgba($white, 1) inset;
  -webkit-text-fill-color: #333;
}

textarea,
input:not([type=submit]):not([type=file]):not([type=checkbox]):-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px rgba($white, 1) inset;
  -webkit-text-fill-color: #333;
}

input:not([type=submit]):not([type=file]):not([type=checkbox]){
  border: 1px solid $app-border-color;
  background-color: rgba($white, 1);
  padding: 5px 5px;
  height: $form-input-height;
  max-height: $form-input-height;
}

textarea{
  border: 1px solid $app-border-color;
  background-color: rgba($white, 0.25);
  padding: 2px 4px;
}

.isc-app-content{
  @include  flex();
  @include  flex-direction( column );
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  min-height: 100vh;

//  border: 2px solid green;
}

// nav bar
.isc-nav-bar{
  @include  flex();
  flex-shrink: 0;

  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  @media #{$mobile} {
    margin-top: 20px;
  }

  @media #{$desktop} {
    min-height: $app-top-nav-height-desktop;
  }

  @media #{$tablet} {
    min-height: $app-top-nav-height-tablet;
  }

  @media #{$phablet} {
    min-height: $app-top-nav-height-tablet;
  }

  @media #{$phone} {
    min-height: $app-top-nav-height-phone;
  }
}

// page content
.isc-page-content{
  @include  flex();
  @include  flex-type( 1 );

//  border: 5px solid blue;

  /**
  styles for page headers
  **/
  h1, h2, h3{
    margin-top: 0;
    padding-top: 0;
  }

  h1{
    color: $brand-page-title-color;
    font-size: 24px;
    font-weight: 400;
  }

  h2{
    color: $brand-page-subtitle-color;
    font-size: 16px;
    font-weight: 900;
  }

  h3{
    color: $gray;
    font-size: 14px;
    font-weight: 400;
  }

  h4{
    color: $brand-link;
    font-size: 18px;
    font-weight: 400;
  }

  p{
    color: $text-color;
    font-size: $body-font-size;
  }

  @media #{$desktop}{
    @include flex-flow( row, wrap );
  }

  @media #{$mobile}{
    @include flex-flow( column, wrap );
  }
}

// animations for page container and sub-pages
.isc-content.ng-enter,
.isc-content.ng-leave,
.isc-page-content.ng-enter,
.isc-page-content.ng-leave{
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.isc-content.ng-enter,
.isc-page-content.ng-enter{
  opacity: 0;
}

.isc-content.ng-enter-active,
.isc-page-content.ng-enter-active{
  opacity: 1;
}

.isc-content.ng-leave,
.isc-page-content.ng-leave{
  opacity: 0;
  display: none;
}

.isc-content.ng-leave-active,
.isc-page-content.ng-leave-active{
  opacity: 0;
  display: none;
}

//footer bar
.isc-app-footer{
  @include  flex();
  @include  flex-box-align( baseline );
  @include  flex-justify-content( center );
  @include  flex-box-align( center );
  flex-shrink: 0;
  align-self: flex-end;

  margin: 0;
  padding-left: 0;
  padding-right: 0;

  width: 100%;

//  border: 5px solid #804f00;

  @media #{$desktop} {
    min-height: $app-footer-height;
    max-height: $app-footer-height;
  }

  @media #{$tab-or-less} {
    min-height: $app-footer-height-sm;
    max-height: $app-footer-height-sm;
  }

}

// --------------------------------------
// page content
// --------------------------------------

//sidebar nav
.isc-side-nav {
  padding: 0;

//  background: #806c2f !important;

  @media #{$desktop}{
    background: $white;
    margin-top: $isc-gutter;
    margin-bottom: $isc-gutter;
    margin-left: $isc-gutter !important;
    margin-right: 0;
    min-width: $isc-side-nav-desktop-width;
    max-width: $isc-side-nav-desktop-width;
  }

  @media #{$mobile}{
    @include min-height-content;
    @include max-height-content;
    background: none;
  }

  @media #{$tablet}{
    margin-top: $isc-gutter;
    margin-bottom: 0;
    margin-left: $isc-gutter;
    margin-right: $isc-gutter;
  }

  @media #{$phablet}{
    margin-top: $isc-gutter-sm;
    margin-bottom: 0;
    margin-left: $isc-gutter-sm;
    margin-right: $isc-gutter-sm;
  }

  @media #{$phone}{
    margin-top: $isc-gutter-sm;
    margin-bottom: 0;
    margin-left: $isc-gutter-sm;
    margin-right: $isc-gutter-sm;
  }
}


.isc-page{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: none;
//  border: 5px solid #2fff64;
}

//page content
.isc-content {

  @include flex();

  padding: 0;
  background: none;
//  border: 2px solid #ff41f9;

  @media #{$desktop}{
    margin: $isc-gutter !important;
    flex-grow: 1;
  }

  @media #{$tablet}{
    margin: $isc-gutter/2 $isc-gutter $isc-gutter $isc-gutter !important;
    flex-grow: 1;
  }

  @media #{$phablet}{
    margin: $isc-gutter-sm !important;
    flex-grow: 1;
  }

  @media #{$phone}{
    margin: $isc-gutter-sm !important;
  }
}

.isc-two-column, .isc-three-column{
  float: left;
}

.isc-two-column > div {

  @media #{$desktop} {
    width: 46%;
  }

  @media #{$tablet} {
    width: 46%;
  }

  @media #{$mobile} {
    width: 100%;
  }
}
  .isc-three-column > div{

    @media #{$desktop} {
      width: 29%;
    }

    @media #{$tablet} {
      width: 29%;
    }

    @media #{$mobile} {
      width: 100%;
    }

}

// --------------------------------------
// page labels
// --------------------------------------

// labels on pages
.isc-page-label{
  color: $text-color;
  font-weight: 600;
  font-size: $body-font-size;

  &.left{
    padding-left: 0;
    padding-right: 10px;
    text-align: right;
  };

  &.right{
    padding-left: 10px;
    padding-right: 0;
    text-align: left;
  };

//  border: 1px solid green;
}


// --------------------------------------
// item containers
// --------------------------------------

@mixin item-wrapper( $flexType, $order ){
  @include  flex();
  @include  flex-type( $flexType );
  justify-content: center;
  order: $order;
}

.isc-item-wrapper-1{
  @include  item-wrapper( 1, 1 );
//    border: 2px solid green;
}

.isc-item-wrapper-2{
  @include  item-wrapper( 2, 1 );
  //  border: 2px solid green;
}

.isc-item-wrapper-3{
  @include  item-wrapper( 3, 1 );
  //  border: 2px solid green;
}

.isc-item-wrapper-4{
  @include  item-wrapper( 4, 1 );
//    border: 2px solid green;
}

.isc-item-wrapper-5{
  @include  item-wrapper( 5, 1 );
//    border: 2px solid green;
}


.secondary-nav-wrapper{
  position: absolute !important;
  top: -1000 ;
  z-index: $modal-z-index;
  opacity:0;
  visibility: hidden;
}



