
$isc-panel-h-shadow: 39px;
$isc-panel-v-shadow: 0;
$isc-panel-shadow-blur: 39px;
$isc-panel-spread: $isc-panel-h-shadow / 2;
$isc-panel-shadow-color: $brand-primary;
$isc-panel-bkgrnd-color: darken( $brand-primary, 15);
$isc-panel-border-color: $brand-primary;
$isc-panel-txt-color: $white;
$isc-panel-font-size: 10px;

@mixin box-shadow( $type, $h, $v, $blur, $spread, $color ){
  -moz-box-shadow:$type $h $v $blur $spread $color;
  -webkit-box-shadow:$type $h $v $blur $spread $color;
  box-shadow:$type $h $v $blur $spread $color;
}

@mixin background-gradient( $from, $to ){
  background: $from;
  background-image: -webkit-linear-gradient(top,$from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(to bottom, $from, $to);
}

.isc-div-tile {
  overflow: hidden;
  border-radius: 2px;
  border: 5px solid rgba(69,69,69,0.5);
  float: left;
  margin: 10px;
  padding: 0px;

  @media #{$tablet} {

    margin:0;
    margin-bottom: 10px;


  }

  @media #{$phone}  {

    margin:0;
    margin-bottom: 10px;

  }

}

.isc-tile-content {
  ul {
    color: #606060;
    font-size: 16px;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
  }

  li {

    padding-top: 5px;
  }

  h1 {

    border-bottom: 1px solid #F0F0F0;
    box-shadow: 10px 0px 20px #777777;
    color: #606060;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;

    //I tooks this from http://hscommdev.iscinternal.com/public/HSPortal.Public.UI.Home.zen:465 dvPara
    font-family: arial;
    margin: 0px;
    /* padding: 0px; */
  }
}

.isc-tile-content-item-title {
  font-size: 14px;
  font-weight: bold;
}

.isc-tile-content-item-text{
  font-size: 12px;
}
