//DROPDOWN
$isc-height-number: 45;
$isc-dropdown-height: $isc-height-number + px;
$isc-btn-color: #FFFFFF;
$color-darkGrey: #8e9294;

#modal-dropdown{
	visibility: hidden;
}

.isc-dropdown{
  @include box-sizing(border-box);
  position:relative;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;

	height: $isc-dropdown-height;
	background-color:$isc-btn-color;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:3px;

	font-size: ($isc-height-number/3) + px;
	font-weight: normal;
	border: 1px solid $app-border-color;
	//min-width:75px;
  width: 100%;

}

.isc-dropdown-list{
	background-color: $isc-btn-color;
	top:$isc-height-number + 1 + px;
	position:absolute;
	left:0;
	visibility: hidden;
	border:1px solid $app-border-color;
}

.isc-dropdown-selection-list{
	background-color: $isc-btn-color;
	top:50px;
	position:absolute;
	left:550px;
	visibility: visible;
	border:1px solid $app-border-color;
}

.isc-dropdown-btn{
  @include box-sizing(border-box);
  display:inline-block;
  white-space: nowrap;
  overflow:hidden;

  height:$isc-dropdown-height;

  background-color: $isc-btn-color;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  //border: 1px solid red;
}

.isc-dropdown-item{
  @include box-sizing(border-box);
  overflow: hidden;

  margin-top: 3px;
  padding:($isc-height-number/4) +px 10px;
  background-color: $isc-btn-color;
  height: $isc-dropdown-height;

  text-overflow: ellipsis;
  cursor: pointer;

  font-size: $isc-button-font-size;
  font-weight: $isc-button-font-weight;
  text-decoration:none;
  text-shadow:none;
  color:darken( $brand-secondary, 60 );
}

.isc-dropdown-hidden{
	@extend .isc-dropdown-item;
	visibility: hidden;
}

.isc-dropdown-select-item{
	@extend .isc-dropdown-item;
	padding-right:30px;
}

.isc-dropdown-item:hover{
	background-color: $brand-secondary;
}

.isc-dropdown-active{
	overflow:visible;
	position:absolute;
}

.isc-drop-icon{
  @include box-sizing(border-box);
  //display: block;
  //display:inline-block;
  float: right;
  white-space: nowrap;
  overflow:hidden;
  width: 36px;
  height: 36px;

  svg{
    margin-top: 5px;
    width: 36px;
    height: 36px;
    fill: darken( $brand-secondary, 30 );
  }
}

.isc-icon{
	padding-top:($isc-height-number/4)+px;
	padding-left:2px;
	user-select: none;
}

.isc-drop-icon-active{
	position:absolute;
}

// captures the click events
.isc-drop-click{
  @include box-sizing(border-box);
  position:absolute;
  z-index:100000;
  width:100%;
  height:100%;
	background-color:$isc-btn-color;
	opacity:0;
	cursor: pointer;
}

//END DROPDOWN
