//<a href="#" class="isc-button">light red</a>


.isc-btn-group{
  button{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.isc-btn {
  display:inline-block;
  padding:3px 15px;

  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:3px;

  cursor:default;
  cursor:pointer;

  text-align: center;
  font-size: $isc-button-font-size;
  font-weight: $isc-button-font-weight;
  text-decoration:none;
  text-shadow:none;

  display: inline-block;
  vertical-align: middle;
  line-height: 34px;

  min-width: $isc-button-height;
  min-height: $isc-button-height;
  max-height: $isc-button-height;

  // Disabled state
  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    color: darken( $white-smoke, 10 );
    border:1px solid darken( $white-smoke, 10 );
    background: $white-smoke;
    cursor: not-allowed;
  }

  &:focus {
    outline:0;
  }
}

.isc-btn-primary{
  @extend .isc-btn;
  color: $white;
  background: $button-primary;
  border:1px solid darken( $button-primary, 10 );

  svg{
    padding-left: 5px;
    fill: darken( $brand-secondary, 60 );
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }

  &:hover{
    background: darken( $button-primary, 10 );
    border:1px solid darken( $button-primary, 20 );

    &:disabled{
      background: $button-primary-disabled;
      color: darken( $button-primary-disabled, 25 );
      svg{
        fill: darken( $button-primary-disabled, 25 );
      }
    }
  }

  &:disabled{
    background: $button-primary-disabled;
    color: darken( $button-primary-disabled, 25 );
    svg{
      fill: darken( $button-primary-disabled, 25 );
    }
  }


}

.isc-btn-danger{
  @extend .isc-btn;
  color: $white;
  background: $brand-danger;
  border:1px solid darken( $brand-danger, 10 );

  &:hover{
    background: darken( $brand-danger, 10 );
    border:1px solid darken( $brand-danger, 20 );
  }

  &:active{
    color:$white;
  }
}

.isc-btn-secondary{
  @extend .isc-btn;
  color:darken( $brand-secondary, 60 );
  background: $brand-secondary;
  border:1px solid darken( $brand-secondary, 10 );

  &:hover{
    color:darken( $brand-secondary, 70 );
    background: darken( $brand-secondary, 10 );
    border:1px solid darken( $app-border-color, 30 );

    &:disabled{
      background: lighten( $brand-secondary, 20 );
    }
  }

  &:active{
    color:$white;
  }

  &:disabled{
    background: lighten( $brand-secondary, 20 );
  }

  svg{
    padding-left: 5px;
    fill: darken( $brand-secondary, 60 );
    width: 30px;
    height: 30px;
    vertical-align: middle;

    &:hover{
      fill: darken( $brand-secondary, 70 );
    }
  }
}

.isc-btn-white{
  @extend .isc-btn;
  color:darken( $brand-secondary, 60 );
  background: $white;
  border:1px solid darken( $app-border-color, 10 );

  &:hover{
    color:darken( $brand-secondary, 70 );
    background: darken( $brand-secondary, 10 );
    border:1px solid darken( $app-border-color, 30 );
  }

  &:active{
    color:$app-border-color;
  }

  svg{
    padding-left: 5px;
    fill: darken( $brand-secondary, 60 );
    width: 30px;
    height: 30px;
    vertical-align: middle;

    &:hover{
      fill: darken( $brand-secondary, 70 );
    }
  }
}

.isc-btn-dropdown {
  @extend .isc-btn;
  color:darken( $brand-secondary, 60 );
  background: $white;
  border:1px solid darken( $brand-secondary, 20 );

  &:hover{
    color:darken( $white, 70 );
    background: darken( $white, 10 );
    border:1px solid darken( $app-border-color, 30 );
  }

  &:active{
    color:$brand-secondary;
  }
}

.isc-btn-dropdown:after {
  position:relative;
  font-family: FontAwesome;
  font-size: 24px;
  top: 4px;
  left: 0px;
  right: -20px;
  content: " \F107"; //&#xf107 unicode for fa-angle-down
}

.isc-navbar-icon{
  @extend .isc-btn;

  margin: 0;

  max-width: 35px;
  height: 35px;

  background: none;
  border: none;

  svg{
    fill: $white;

    &:hover{
      fill: $white-smoke;
    }
  }
}

.isc-hamburger-icon{
  @extend .isc-navbar-icon;
  padding: 6px 0 0 0;
  margin-right: 15px;

  svg{
    width: 35px;
    height: 35px;
    margin-left: -10px;
  }
}

.isc-question-icon{
  @extend .isc-navbar-icon;
  padding: 4px 0 0 10px;
  min-width: 35px;
  max-width: 35px;

  svg{
    width: 35px;
    height: 35px;
    margin-left: -12px;
  }
}

.isc-btn-link{
  text-align: left;
  font-size: $isc-button-font-size;
  font-weight: $isc-button-font-weight;
  text-decoration:none;
  text-shadow:none;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-kerning: auto;
  font-size: 16px;

  color: darken( $brand-link, 0 );

  &:hover,
  &:active{
    color:darken( $brand-link, 15 );
  }

  &:disabled{
    color:$gray-30;
    cursor: not-allowed;
  }
}

.isc-btn-search{
  @extend .isc-btn-primary;
  max-height: $isc-button-height;
  vertical-align: middle;
  line-height:30px;

  @media #{$tab-or-less} {
    font-size: 1em;
    color: transparent;
    line-height: 1;
    min-width: $isc-button-height * 1.25;
    max-width: $isc-button-height * 1.25;

    &:active,
    &:disabled,
    &:disabled:hover{
      font-size: 1em;
      color: transparent;
      line-height: 1;
    }

    svg{
      position: relative;
      display: block;
      top: -10px;
      left: -6px;
    }
  }

  svg{
    display: inline-block;
    padding-left: 5px;
    fill: $white;
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
}


.isc-image-button {
  border: none;
  margin-top: 0px;
  cursor: pointer;
  cursor: hand;
}

a.isc-image-button {
  display: inline !important;
  white-space: nowrap;
  font-size: 14px;
  color: $white;
  font-weight: 400;
  text-align: left;
  text-decoration: none;

  // Hover state
  &:hover {
    color: lighten( $brand-primary, 20 );
  }

  // Disabled state
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    color: darken($white, 25 );
    cursor: $cursor-disabled;
  }
}

.isc-styled-select-navbar{
  @extend .isc-styled-select;

  select{
    font-size: 10px;
  }
}

// header select styles
.isc-styled-select {
  overflow: hidden;
  border: 1px solid rgba(255,255,255, .5);
  border-radius: 5px;
  background: rgba(0, 0, 0, .25) url(../assets/images/down-carat.png) no-repeat 93%;
  padding-right: 20px;

  width: $nav-select-width;

  select{
    background-color: rgba(0, 0, 0, 0);
    min-width: 100%;
    max-width: 100%;
    min-height: $isc-button-height;
    padding: 0px 20px 0 0;
    font-size: $isc-button-font-size;
    color: white;
    font-weight: 400;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus,
    &:hover{
      outline: 0;
    }
  }

  &.proxy {
    background: rgba(0, 0, 0, .5) url(../assets/images/down-carat.png) no-repeat 97%;

    select{
      color: #cdcdcd;
    }
  }
}

.isc-scroll-stick-container{
  position: relative;
  display: inline-block;
  text-align: left;
  width: 100%;
  background-color: rgba(255,255,255, 0);
  border: 1px solid transparent;
  z-index: 1000;

  .section{
    display: block;
    min-height: 25px;

    &:first-child{
      border-bottom: 1px solid $app-border-color;
      margin-bottom: 10px;
    }
  }

  button{
    margin-right: 10px
  }

  @media #{$desktop} {
    padding: 0px
  }

  @media #{$mobile} {
    padding: 0px
  }
}

.isc-scroll-stick-container-fixed {
  @extend .isc-scroll-stick-container;

  @media #{$desktop} {
    top: 10px;
    padding: 20px
  }

  @media #{$mobile} {
    top: 20px;
    padding: 10px
  }
}

