
// -----------
// base form
// -----------

.isc-form{
  @include  flex();
  @include  flex-type( 1 );
  @include  flex-box-align( stretch );
  @include  flex-direction( column );
  @include  box-sizing( border-box );

  @media #{$tab-plus}{
    padding: 20px 20px;
  }

  @media #{$phab-or-less}{
    padding: 10px 10px;
  }
}

// -----------
// login form
// -----------

.isc-login-form-wrapper{
  margin-top: -$isc-gutter-sm;
  margin-left: -$isc-gutter-sm;
  margin-bottom: 0;
  //border: 1px solid red;

  padding: $isc-gutter-sm;
  background: url( ../assets/images/demo/home/login-bkgrnd.jpg );

  @media #{$phone} {
    margin-right: -$isc-gutter-sm;
  }

  @media #{$tab-phab} {
    position: absolute;
    margin-right: 0;
    background: none;
    left: 20px;
    width: 44%;
    height: 243px !important;
  }

  @media #{$tablet} {
    top: 265px;
  }

  @media #{$phablet} {
    top: 215px;
  }
}

.isc-login-form-item-label{
  @extend .isc-form-item-label;
  color: $white !important;
  margin: 0px;
  min-height: 20px !important;
  max-height: 20px !important;
}

// ----------------------
// form groups
// ----------------------

// container for label and control
.isc-form-group{
  @include box-sizing( border-box );
  @include flex();
  @include flex-type( 1 );
  @include flex-justify-content( flex-start );
  @include flexbox-align-items( center );

  //border: 1px solid red;
  margin: 0px;
  padding: 5px 0 5px 0;

  &.left{
    @include  flex-justify-content( flex-start );
  }

  &.right{
    @include  flex-justify-content( flex-end );
  }

  &.center{
    @include  flex-justify-content( center );
  }

  &.around{
    @include  flex-justify-content( space-around );
  }

  &.between{
    @include  flex-justify-content( space-between );
  }

  @media #{$phone} {
    @include  flex-direction( column );
    @include  flex-box-align( stretch );
    margin: 1px;
  }

  @media #{$phab-plus} {
    @include  flex-direction( row );
    @include  flex-box-align( center );
  }

  &.nowrap{
    @include  flex-direction( row );
    @include  flex-box-align( center );
  }
}

.isc-form-group-workflow {
  @extend .isc-form-group;


  @media #{$phone} {
    @include  flex-direction( row );

  }

  label{

    margin-top: auto;
    margin-bottom: auto;
  }

}

.isc-form-group-stacked{
  @extend .isc-form-group;

  @media #{$phab-plus}{
    @include  flex-direction( column );
    @include  flex-box-align( stretch );
    padding: 10px 0 10px 0;
  }

  .isc-form-item-label{
    justify-content: flex-start;
    text-align: left;
  }
}

// label for form items
.isc-form-item-label{
  @include  flex();
  @include  flex-type( 1 );

  min-width: 12%;

  color: $text-color;
  font-weight: 600;
  font-size: $body-font-size;

  margin: 0;
  padding: 0;
  //min-height: $form-input-height;

  text-wrap: none;
  white-space:nowrap;
  border: 1px solid transparent;

  //padding-top: $body-font-size/3;
  padding-right: 10px;

  @media #{$phab-plus} {
    justify-content: flex-end;
    text-align: right;
  }

  @media #{$phone} {
    justify-content: flex-start;
    text-align: left;
  }
}

.isc-form-item{
  @include  flex();
  @include  flex-type( 4 );
  margin: 0 !important;
  min-height: 18px;

  @media #{$tab-plus}{
    max-width: 90%;
  }

  @media #{$phone}{
    max-width: 100%;
  }

//  border: 1px solid green;
}

.isc-check-box{
  width: 15px;
  height: 15px;
  cursor: default;
  cursor: pointer;

  @media #{$phab-or-less}{
    width: 25px;
    height: 25px;
  }

  .isc-check-mark,
  .isc-checkbox-outline{
    fill: darken( $app-border-color, 25 );
  }

  .isc-checkbox-background{
    fill: $white;
  }
}

.isc-radio{
  @extend .isc-check-box;

  circle,
  path{
    fill: darken( $app-border-color, 30 );
  }
}

.isc-form-checkbox{
  display:inline-block;

  input[type="checkbox"] {
    display:none;
  }

  input[type="checkbox"] + label {
    position:relative;
    display:inline-block;
    width:12px;
    height:12px;
    margin:-8px 4px 0 0;
    vertical-align:middle;
    background: $white;
    cursor:pointer;
    border: 1px solid darken( $app-border-color, 15);
  }

  input[type="checkbox"]:checked + label:before {
    position:relative;
    display:inline-block;
    font-family: FontAwesome;
    color: darken( $app-border-color, 15 );
    font-size: 10px;
    top: -2px;
    left: 1px;
    content: "ï€Œ";
  }
}

.content-editable-div{
  display:inline-block;
  border: 1px solid $app-border-color;
  width: 100%;
  height: 100%;
  outline:none;
  padding: 5px;

  color: $gray;
  font-size: 12px;
  font-weight: 400;
  line-height: 200%;
}
