

<div class="isc-in-out-box only-phab-plus">
  <table>
    <thead>
    <tr>
      <th>
        <div isc-check-box
             ng-model="mssgCtrl.mailMessageService.selectedParams.allSelected"
             on-toggle="mssgCtrl.mailMessageService.onSelectAll( selected )"></div>
      </th>
      <th></th>
      <th><a href=""
             ng-class="{'reverse':mssgCtrl.model.sortOptions.descending, 'selected' : mssgCtrl.getColumnIsSelected('To')}"
             ng-click="mssgCtrl.model.setCurrentSortOption( {sortField:'To', descending:!mssgCtrl.model.sortOptions.descending})">{{'ISC_TO' | translate}}</a></th>

      <th><a href=""
             ng-class="{'reverse': mssgCtrl.model.sortOptions.descending, 'selected' : mssgCtrl.getColumnIsSelected('Subject')}"
             ng-click="mssgCtrl.model.setCurrentSortOption( {sortField:'Subject', descending:!mssgCtrl.model.sortOptions.descending})">{{'ISC_SUBJECT' | translate}}</a></th>

      <th><a href=""
             ng-class="{'reverse': mssgCtrl.model.sortOptions.descending, 'selected' : mssgCtrl.getColumnIsSelected('Time')}"
             ng-click="mssgCtrl.model.setCurrentSortOption( {sortField:'Time', descending:!mssgCtrl.model.sortOptions.descending})">{{'ISC_DATE' | translate}}</a></th>
    </tr>
    </thead>

    <tbody>
    <tr isc-mail-message
        ng-repeat="mail in mssgCtrl.mailItems | orderBy: mssgCtrl.model.sortOptions.sortField : mssgCtrl.model.sortOptions.descending"
        on-toggle-message="mssgCtrl.mailMessageService.onToggleMessage( mail )"
        mail="mail"
        show-to="true"
        index="$index" >
    </tr>
    </tbody>

  </table>
</div>

<div class="isc-in-out-box-mobile only-phone">
  <div isc-mail-message-mobile
       ng-repeat="mail in mssgCtrl.mailItems | orderBy: mssgCtrl.model.sortOptions.sortField : mssgCtrl.model.sortOptions.descending"
       on-toggle-message="mssgCtrl.mailMessageService.onToggleMessage( mail )"
       mail="mail"
       show-to="true">
  </div>
</div>

<div class="isc-no-messages-warning"
     ng-if="mssgCtrl.mailItems.length === 0">
  <h1>{{'ISC_NO_MESSAGE_WARNING' | translate}}</h1>
</div>


