<div>
  <div ng-transclude></div>
  <ul class="isc-typeahead-list isc-dd"
      ng-show="cmcTaCtrl.getFilteredList().length && !cmcTaCtrl.selectedItem && cmcTaCtrl.isDirty">
    <li tabindex="1" ng-hide="result[cmcTaCtrl.listField || 'value'] === cmcTaCtrl.model[cmcTaCtrl.listField || 'value']"
        ng-click="cmcTaCtrl.select(result)"
        cmc-keypress="cmcTaCtrl.select(result)"
        cmc-keypress-code="13"
        class="isc-dropdown-item isc-dd"
        ng-repeat="result in cmcTaCtrl.getFilteredList()">
      {{ result[cmcTaCtrl.listField || 'value']}}
    </li>
  </ul>
</div>