<div class="isc-page">

  <h1 class="only-desktop">{{navCtrl.sessionModel.getFullName()}}'s {{'ISC_MY_ACCT_PASSWORD_TITLE' | translate}}</h1>

  <form class="isc-form"
        autocomplete="off"
        name="changePasswordForm"
        id="changePasswordForm"
        role="form"
        ng-submit="myAcctCtrl.changePassword()"
        novalidate>

    <!-- ---------------- -->
    <!--HIDE PASSWORD FORM-->
    <div ng-hide="myAcctCtrl.showPasswordPagePassword">

      <!--current password-->
      <div class="isc-form-group">
        <label class="isc-form-item-label"
               for="password">{{'ISC_CURRENT_PASSWORD' | translate}}:</label>

        <input type="password"
               class="isc-item-wrapper-4"
               id="Password"
               placeholder="{{'ISC_CURRENT_PASSWORD_PLACEHOLDER' | translate}}"
               required
               ng-model="myAcctCtrl.changePasswordData.Password">
      </div>

      <!--new password-->
      <div class="isc-form-group">
        <label class="isc-form-item-label"
               for="password">{{'ISC_NEW_PASSWORD' | translate}}:</label>

        <input type="password"
               class="isc-item-wrapper-4"
               id="NewPassword"
               placeholder="{{'ISC_NEW_PASSWORD_PLACEHOLDER' | translate}}"
               required
               ng-model="myAcctCtrl.changePasswordData.NewPassword">
      </div>

      <!--confirm password-->
      <div class="isc-form-group">
        <label class="isc-form-item-label"
               for="password">{{'ISC_CONFIRM_PASSWORD' | translate}}:</label>

        <input type="password"
               class="isc-item-wrapper-4"
               placeholder="{{'ISC_CONFIRM_PASSWORD_PLACEHOLDER' | translate}}"
               required
               ng-model="myAcctCtrl.changePasswordData.ConfirmPassword">
      </div>
    </div>

    <!-- ---------------- -->
    <!--SHOW PASSWORD FORM-->
    <div ng-show="myAcctCtrl.showPasswordPagePassword">

      <!--current password-->
      <div class="isc-form-group ">
        <label class="isc-form-item-label"
               for="password">{{'ISC_CURRENT_PASSWORD' | translate}}:</label>

        <input type="text"
               class="isc-item-wrapper-4"
               id="Password"
               placeholder="{{'ISC_CURRENT_PASSWORD_PLACEHOLDER' | translate}}"
               required
               ng-model="myAcctCtrl.changePasswordData.Password">
      </div>

      <!--new password-->
      <div class="isc-form-group">
        <label class="isc-form-item-label"
               for="password">{{'ISC_NEW_PASSWORD' | translate}}:</label>

        <input type="text"
               class="isc-item-wrapper-4"
               id="NewPassword"
               placeholder="{{'ISC_NEW_PASSWORD_PLACEHOLDER' | translate}}"
               required
               ng-model="myAcctCtrl.changePasswordData.NewPassword">
      </div>

      <!--confirm password-->
      <div class="isc-form-group">
        <label class="isc-form-item-label"
               for="password">{{'ISC_CONFIRM_PASSWORD' | translate}}:</label>

        <input type="text"
               class="isc-item-wrapper-4"
               placeholder="{{'ISC_CONFIRM_PASSWORD_PLACEHOLDER' | translate}}"
               required
               ng-model="myAcctCtrl.changePasswordData.ConfirmPassword">
      </div>
    </div>

    <!--checkbox to show / hide password-->
    <div class="isc-form-group right nowrap">
      <label ng-click="myAcctCtrl.showPasswordPagePassword = !myAcctCtrl.showPasswordPagePassword"
             class="isc-form-item-label">{{'Show Password' | translate}}: </label>
      <div isc-check-box
           ng-model="myAcctCtrl.showPasswordPagePassword"></div>
    </div>

    <!--submit-->
    <div class="isc-form-group center">
      <button type="submit"
              ng-disabled="changePasswordForm.$invalid || !myAcctCtrl.model.passwordIsValid()"
              class="isc-btn-primary">{{'ISC_CHANGE_PASSWORD' | translate}}</button>
    </div>

  </form>

</div>
