<div class="isc-page">
  <h1 class="only-desktop">{{navCtrl.sessionModel.getFullName()}}'s {{'ISC_MY_ACCT_SUMMARY_TITLE' | translate}}</h1>


  <div class="isc-account-detail">
    <div class="dvBlock">
      <div class="dvTitle" style="">User name</div>
      <div class="dvPara">{{myAcctCtrl.accountSummary.Username}}</div>
    </div>
    <div class="dvBlock">
      <div class="dvTitle">Account created</div>
      <div class="dvPara">{{myAcctCtrl.accountSummary.DisplayCreateDate}}</div>
    </div>
    <div class="dvBlock">
      <div class="dvTitle">Email address</div>
      <div class="dvPara">{{myAcctCtrl.accountSummary.Email}}</div>
    </div>
  </div>
</div>
