<div class="isc-page">
  <h1 class="only-desktop">{{navCtrl.sessionModel.getFullName()}}'s {{'ISC_MY_ACCT_HISTORY_TITLE' | translate}}</h1>

  <h3>{{'ISC_MY_ACCT_HISTORY_SUBTITLE' | translate}}</h3>

  <div class="isc-history-table">
    <table>
      <thead>
      <tr>
        <th>{{'ISC_TIME' | translate}}</th>
        <th>{{'ISC_EVENT' | translate}}</th>
        <th>{{'ISC_PERFORMED_BY' | translate}}</th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="item in myAcctCtrl.model.getHistory()">
        <td>{{ item.Time | iscDateFilter: true }}</td>
        <td>{{item.DisplayType}}</td>
        <td>{{item.User}}</td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

