<div class="isc-page">
  <h1 class="only-desktop">{{navCtrl.sessionModel.getFullName()}}'s {{'ISC_MY_ACCT_PROXIES_TITLE' | translate}}</h1>


  <div class="dvTitle">{{'ISC_MY_ACCT_PROXIES_PROXY_FOR_TITLE' | translate}}
  </div>


  <div class="hsp-proxy-list-table-title" ng-show="!myAcctCtrl.proxies.ProxyFor">
    <div class="dvPara">You are not authorized as a proxy for anyone else.</div>
  </div>

  <div class="hsp-proxy-list-table-title">
    <h3 class="dvPara">{{'ISC_MY_ACCT_PROXIES_PROXY_FOR_SUBTITLE' | translate}}
    </h3>
  </div>

  <div class="only-mobile isc-history-table" ng-repeat="proxy in myAcctCtrl.proxies.ProxyFor">

    <table>


      <tr>
        <td>
          {{'ISC_MY_ACCT_PROXIES_NAME' | translate}}
        </td>
        <td>{{proxy.DisplayName}}</td>
      </tr>


      <tr>
        <td>
          {{'ISC_MY_ACCT_PROXIES_RELATION' | translate}}
        </td>
        <td>{{proxy.Relation}}</td>
      </tr>

      <tr>
        <td>
          {{'ISC_MY_ACCT_PROXIES_EXPIRATION' | translate}}
        </td>
        <td>{{proxy.Expiration}}</td>
      </tr>

      <tr>
        <td>
          {{'ISC_MY_ACCT_PROXIES_CREATED' | translate}}
        </td>
        <td>{{proxy.DateCreated}}</td>
      </tr>

      <tr>
        <td>
          {{'ISC_MY_ACCT_PROXIES_MODIFIED' | translate}}
        </td>
        <td>{{proxy.DateModified}}</td>
      </tr>

      <tr>
        <td colspan="2"><a class="isc-btn-link" href="#">{{'ISC_MY_ACCT_PROXIES_VIEW_ACCOUNT' | translate}}</a>
        </td>
      </tr>

    </table>

  </div>

  <div class="only-desktop" ng-hide="!myAcctCtrl.proxies.ProxyFor">

    <div class="isc-history-table">
      <table>
        <thead>
        <tr>
          <th> {{'ISC_MY_ACCT_PROXIES_NAME' | translate}}</th>
          <th> {{'ISC_MY_ACCT_PROXIES_RELATION' | translate}}</th>
          <th> {{'ISC_MY_ACCT_PROXIES_EXPIRATION' | translate}}</th>
          <th> {{'ISC_MY_ACCT_PROXIES_CREATED' | translate}}</th>
          <th> {{'ISC_MY_ACCT_PROXIES_MODIFIED' | translate}}</th>
        </tr>
        </thead>

        <tbody ng-repeat="proxy in myAcctCtrl.proxies.ProxyFor">
        <tr>
          <td>{{proxy.DisplayName}}
            <br/>
            <a class="isc-btn-link" href="#">{{'ISC_MY_ACCT_PROXIES_VIEW_ACCOUNT' | translate}}</a>
          </td>
          <td>{{proxy.Relation}}</td>
          <td>{{proxy.Expiration}}</td>
          <td>{{proxy.DateCreated}}</td>
          <td>{{proxy.DateModified}}</td>
        </tr>

        </tbody>

      </table>
    </div>

  </div>


  <div class="dvTitle">{{'ISC_MY_ACCT_PROXIES_PROXY_OF_TITLE' | translate}}
  </div>


  <div class="hsp-proxy-list-table-title" ng-show="!myAcctCtrl.proxies.Proxies">
    <div class="dvPara">You are not authorized as a proxy for anyone else.</div>
  </div>


  <div class="ics-proxy-list" ng-hide="!myAcctCtrl.proxies.Proxies">
    <div class="hsp-proxy-list-table-title">
      <h3 class="dvPara">{{'ISC_MY_ACCT_PROXIES_PROXY_OF_SUBTITLE' | translate}}
      </h3>
    </div>


    <div class="only-mobile isc-history-table" ng-repeat="proxy in myAcctCtrl.proxies.Proxies">

      <table>
        <tr>
          <td>
            {{'ISC_MY_ACCT_PROXIES_NAME' | translate}}
          </td>
          <td>{{proxy.DisplayName}}</td>
        </tr>

        <tr>
          <td>
            {{'ISC_MY_ACCT_PROXIES_RELATION' | translate}}
          </td>
          <td>{{proxy.Relation}}</td>
        </tr>

        <tr>
          <td>
            {{'ISC_MY_ACCT_PROXIES_EXPIRATION' | translate}}
          </td>
          <td>{{proxy.Expiration}}</td>
        </tr>

        <tr>
          <td>
            {{'ISC_MY_ACCT_PROXIES_CREATED' | translate}}
          </td>
          <td>{{proxy.DateCreated}}</td>
        </tr>

        <tr>
          <td>
            {{'ISC_MY_ACCT_PROXIES_MODIFIED' | translate}}
          </td>
          <td>{{proxy.DateModified}}</td>
        </tr>

        <tr>
          <td colspan="2"><a class="isc-btn-link" href="#">{{'ISC_MY_ACCT_PROXIES_VIEW_ACCOUNT' | translate}}</a>
          </td>
        </tr>

      </table>
    </div>

    <div class="only-desktop">
      <div class="isc-history-table">
        <table>
          <thead>
          <tr>
            <th> {{'ISC_MY_ACCT_PROXIES_NAME' | translate}}</th>
            <th> {{'ISC_MY_ACCT_PROXIES_RELATION' | translate}}</th>
            <th> {{'ISC_MY_ACCT_PROXIES_EXPIRATION' | translate}}</th>
            <th> {{'ISC_MY_ACCT_PROXIES_CREATED' | translate}}</th>
            <th> {{'ISC_MY_ACCT_PROXIES_MODIFIED' | translate}}</th>
          </tr>
          </thead>

          <tbody ng-repeat="proxy in myAcctCtrl.proxies.Proxies">
          <tr>
            <td>{{proxy.DisplayName}}
              <br/>
              <a class="isc-btn-link" href="#">{{'ISC_MY_ACCT_PROXIES_VIEW_ACCOUNT' | translate}}</a>
            </td>
            <td>{{proxy.Relation}}</td>
            <td>{{proxy.Expiration}}</td>
            <td>{{proxy.DateCreated}}</td>
            <td>{{proxy.DateModified}}</td>
          </tr>

          </tbody>

        </table>
      </div>

    </div>
  </div>
</div>


