<div class="jumbotron" style="min-height: 500px;">

  <h3>{{ 'ISC_FORGOT_USER_NAME_OR_PASSWORD_TITLE' | translate }}</h3>

  <p class="text-info">{{ 'ISC_ACTIVATE_ACCOUNT_P1' | translate }}</p>

  <form name="forgotForm"
        role="form"
        ng-submit="infoCtrl.submitForgotData()"
        novalidate>

    <p class="text-info">{{ 'ISC_FORGOT_P1' | translate }}</p>

    <div class="form-group">

      <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="infoCtrl.forgotData.SendUsername">{{'ISC_FORGOT_UNAME' | translate}}
      </label>

      <label class="checkbox-inline">
        <input type="checkbox"
               ng-model="infoCtrl.forgotData.$$forgotPassword">{{'ISC_FORGOT_PASSWORD' | translate}}
      </label>
    </div>

    <p ng-hide="infoCtrl.forgotData.SendUsername" class="text-info">{{ 'ISC_FORGOT_P2' | translate }}</p>
    <p ng-show="infoCtrl.forgotData.SendUsername" class="text-info">{{ 'ISC_FORGOT_P2a' | translate }}</p>

    <div class="form-group"
         ng-hide="infoCtrl.forgotData.SendUsername">

      <label for="username">{{'ISC_USERNAME' | translate}}:</label>

      <input type="text"
             class="form-control"
             id="username"
             placeholder="{{'ISC_USERNAME_PLACEHOLDER' | translate}}"
             required="false"
             ng-model="infoCtrl.forgotData.Username">
    </div>

    <div class="form-group">
      <label for="email">{{'ISC_EMAIL' | translate}}:</label>

      <input type="email"
             class="form-control"
             id="email"
             placeholder="{{'ISC_EMAIL_PLACEHOLDER' | translate}}"
             required
             ng-model="infoCtrl.forgotData.Email">
    </div>

  </form>

  <a ng-click="infoCtrl.back()"
     class="btn btn-link"><span class="fa fa-chevron-circle-left"></span>&nbsp; {{'ISC_BACK' | translate}}</a>

  <button type="submit"
          ng-disabled="infoCtrl.getForgotSubmitDisabled( forgotForm.$invalid )"
          class="btn btn-primary"><i class="fa fa-submit"></i>{{'ISC_SUBMIT' | translate}}</button>

</div>


