<div ng-controller="iscNavbarController as navbarCtrl">

  <header class="navbar navbar-inverse navbar-static-top"
          role="banner">

    <div class="navbar-header">
      <a class="navbar-brand" href="#/">HealthShare</a>
    </div>

    <!--greeting / login / logout buttons-->
    <div class="pull-right" style="height: 45px; padding-right: 25px; line-height: 45px">
      <a class="btn btn-link pull-right"
         id="logout-button"
         style="position: relative; top: 15%; color: #b8dde0"
         ng-if="navbarCtrl.sessionModel.isAuthenticated()"
         ng-click="navbarCtrl.logout()">
        <span class="glyphicon glyphicon-log-out"></span> {{navbarCtrl.logoutButton.translationKey | translate}}
      </a>

      <!--this doesnt login - it navigates to the login tab-->
      <a class="btn btn-link pull-right"
         style="position: relative; top: 15%; color: #b8dde0"
         id="login-tab-button"
         ng-if="navbarCtrl.showLogin()"
         ui-sref="{{navbarCtrl.loginButton.state}}">
        <span class="glyphicon glyphicon-log-in"></span> {{navbarCtrl.loginButton.translationKey | translate}}
      </a>

      <span style="color:white"
            id="greeting-logged-in"
            class="pull-right"
            ng-if="navbarCtrl.sessionModel.isAuthenticated()">{{'ISC_LOGGED_IN_GREETING' | translate: navbarCtrl.translationParams}}</span>

      <span style="color:white"
            id="greeting-logged-out"
            class="pull-right"
            ng-if="!navbarCtrl.sessionModel.isAuthenticated()">{{'ISC_GUEST_GREETING' | translate}}</span>
    </div>
  </header>

  <nav class="nav navbar navbar-default">

    <!--top tab navigation-->
    <div class="navbar-header">

      <button type="button"
              class="navbar-toggle pull-left"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              >
        <i class="fa fa-reorder"></i>
      </button>
    </div>

    <div class="navbar-collapse collapse"
         id="horizontal-navbar">

      <ul class="nav navbar-nav"
          id="top-nav">

        <li ng-class="{'active':tab.$$active}"
            ng-repeat="tab in navbarCtrl.tabs | orderBy: navbarCtrl.iscUiHelper.displayOrder"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            ng-if="navbarCtrl.showTab( tab )">

          <a ui-sref="{{tab.state}}">
            <span ng-attr-class="{{'glyphicon ' + tab.iconClasses}}"></span> {{tab.translationKey | translate}}
          </a>
        </li>
      </ul>
    </div>

  </nav>
</div>
