.isc-workflow-wrapper{
  @include flex();
  @include flex-direction(column);
  border: 1px solid red;
  width: 100%;

  .header{
    @include flex();
    @include flex-type(1);
    border: 1px solid #ffc900;
  }

  .content{
    @include flex();
    @include flex-type(4);
    border: 1px solid #ff63f0;
  }

  .footer{
    @include flex();
    @include flex-type(1);
    border: 1px solid #fff800;
  }
}
