/**
----------------------
lookup provider styles
----------------------
**/

.isc-provider-lookup-element{
  position: relative;
  top: 0;
  left: 0;
}

.isc-lookup-provider{
  @include flex;
  @include flex-justify-content( space-between );
  @include flexbox-align-items( baseline );
  border: 1px solid $app-border-color;
  padding: 10px;
  min-width: 400px;
  clear: both;

  label{
    @extend .isc-page-label;
    margin-right: 10px;
    min-width: 100px;
    font-size: $subheader-font-size;
    color: $gray;
  }

}

.isc-btn-lookup-provider{
  @extend .isc-btn-primary;
  display: inline-block;
  max-height: $isc-button-height;
  vertical-align: middle;
  line-height:30px;

  svg{
    padding-left: 5px;
    fill: $white;
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
}

.isc-favorites-providers{
  @include  flex();
  @include flex-direction( column );
  @include  flex-type( 1 );
  @include  flex-justify-content( flex-end );

  margin: 0px;
  padding: 5px 0 5px 0;
  margin-bottom: 25px;

  .isc-form-group{
    cursor: pointer;
    cursor: hand;
  }

  .isc-radio{
    margin-top: 3px;
    margin-right: 10px;
  }

  label{
    @extend .isc-page-label;
    text-align: left;
    cursor: pointer;
    cursor: hand;
  }

}

/**
----------------------
appointment type styles
----------------------
**/

.isc-workflow-step-title{
  h1{
    font-weight: 500;
    font-size: 16px;
    color: $gray;
    margin-bottom: 15px;
  }
}

.isc-radio-selects{
  margin-top: 20px;
  display: none;
  opacity: 0;
}

.isc-inline-text-area{
  padding-left: 25px;

  textarea{
    min-width: 300px;
  }
}
