<div class="grid-block vertical" isc-table-popup-indicator>
  <!--Header-->
  <div class="primary title-bar">
    <div class="center title">{{iscRowCtrl.isAddRow ? (iscTblCtrl.tableConfig.popupAddTitle || "Add New") : (iscTblCtrl.tableConfig.popupEditTitle || "Edit") | translate}}
    </div>
  </div>
  <div class="grid-content" style="padding-top: 1rem;">
    <ng-form ng-include="iscTblCtrl.tableConfig.popupContentTemplate || 'table/popup/iscTablePopupContent.html'">
    </ng-form>
    <div class="clearfix">
      <button class="info float-left"
              ng-click="iscRowCtrl.onCommand('cancelEdit', $event, iscTblIndic.commands.cancelEdit.callback)">
        {{(iscTblIndic.commands.cancelEdit.translationKey || 'no key') | translate}}
      </button>
      <button class="float-right"
              ng-click="iscRowCtrl.onCommand('save', $event, iscTblIndic.save.callback)">
        {{(iscTblIndic.commands.save.translationKey || 'no key')  | translate}}
      </button>
    </div>
  </div>
</div>