<div zf-modal overlay-close="false" class="collapse">
  <div class="grid-block vertical">

    <!--Header-->
    <div class="primary title-bar">
      <div class="center title">{{ iscConfirmCtrl.service.options.title | translate}}</div>
    </div>

    <div class="grid-content" style="padding-top: 2rem;">

      <p class="text-center">{{iscConfirmCtrl.service.options.message | translate}}</p>

      <div class="clearfix">
        <button class="cancel float-left" ng-if="iscConfirmCtrl.service.options.btnCancelText"
                ng-click="iscConfirmCtrl.service.reject()">
          {{ iscConfirmCtrl.service.options.btnCancelText| translate}}
        </button>
        <button class="float-right" ng-if="iscConfirmCtrl.service.options.btnOkText"
                ng-click="iscConfirmCtrl.service.resolve()">
          {{iscConfirmCtrl.service.options.btnOkText | translate}}
        </button>
      </div>

    </div>

  </div>
</div>
