<div class="isc-login-form-wrapper">

    <form class="isc-form"
          autocomplete="off"
          name="loginForm"
          role="form"
          ng-submit="homeCtrl.login()"
          novalidate>

        <div class="isc-form-group-stacked left">
            <label class="isc-login-form-item-label"
                   for="username">{{'ISC_USERNAME' | translate}}:</label>

            <input type="text"
                   class="isc-item-wrapper-1"
                   id="Username"
                   placeholder="{{'ISC_USERNAME_PLACEHOLDER' | translate}}"
                   required
                   ng-model="homeCtrl.credentials.Username">
        </div>

        <div class="isc-form-group-stacked left">
            <label class="isc-login-form-item-label"
                   for="password">{{'ISC_PASSWORD' | translate}}:</label>

            <input type="password"
                   class="isc-item-wrapper-1"
                   id="Password"
                   placeholder="{{'ISC_PASSWORD_PLACEHOLDER' | translate}}"
                   required
                   ng-model="homeCtrl.credentials.Password">
        </div>

        <!--submit-->
        <div class="isc-login-form-group left">
            <button type="submit"
                    id="login-button"
                    ng-disabled="loginForm.$invalid"
                    class="isc-btn-primary">{{'ISC_LOGIN' | translate}}</button>
        </div>

    </form>
</div>

