/* 404 Error Page Template */
@include exports(404error) {
  .error-404-container {
    text-align: center;
    margin-top: 6rem;
    font-size: 1.5rem;
    padding: 1rem;

    .error-404 {
      font-size: 7rem;
    }

    .not-found-text {
      font-size:1.75rem;
    }

    .seperator {
      margin-top:3rem;
    }
  }
}
