// --------------------------------------
// modal wrapper
// --------------------------------------

.isc-modal-popups-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  z-index: $modal-z-index;
  background: none;

  @include box-sizing( border-box );
}

.isc-popup-close{
  @extend .isc-side-nav-close;
  color: $gray-light;

  padding: 0;

  margin-bottom: 10px;
  margin-right: 0;

  // Hover state
  &:hover,
  &:focus {
    color: lighten( $gray-light, 20 );
  }
}

// --------------------------------------
// modal background
// --------------------------------------

.isc-modal-bkgrnd {
  position: fixed !important;
  top: 0 ;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $modal-z-index - 10;
  opacity:0;
  visibility: hidden;

  background-color: $gray-lighter;
  //  border: 10px solid red ;
}

// --------------------------------------
// popup styles
// --------------------------------------


.isc-popup-wrapper{
  @include box-sizing( border-box );
  position: relative;
  display: block;
  z-index: $modal-z-index;
  opacity:0;
  visibility: hidden;
  width: 100px;
  height: 100px;
}

.isc-popup-container {
  padding: 10px 10px;
  margin: -1px;
  min-height: 400px;
  width: 100%;
  height: 100%;
  background-color: $brand-secondary;
  border: 1px solid $app-border-color;

  .list-items{
    border: none;
  }

  .title{
    border: 1px solid $app-border-color;
    background: darken( $brand-secondary, 10 );
    @extend .isc-item-wrapper-1;
    @include flex-box-align( flex-start );
    @include flex-justify-content( flex-start );
    padding: 10px;

    h1{
      padding: 0;
      margin: 0;
      @extend .isc-page-label;
      color: $gray;
      text-align: left;
    }
  }

  hr {
    margin-left: -10px;
    margin-right: -10px;
    height: 1px;
    border: none;
    color: $app-border-color;
    background-color: $app-border-color;

  }

  h1{
    padding-top: 15px;
    font-size: 13px;
    text-transform: uppercase;
    color: $brand-primary-dark;
    font-weight: 900;
    letter-spacing: .5px;
  }
}
